<!-- may not be needed | <p class="parent"><a name="fjvbutt"></a></p> -->

<div class="noncollapsed comment">
	<div class="midcol unvoted">
		<div class="arrow up" tabindex="0"></div>
		<div class="arrow down"></div>
	</div>


	<div class="entry unvoted">
		<p class="tagline">
			<a href="#" class="expand" onclick="">[–]</a>
			<a href="https://old.reddit.com/user/USER" class="author may-blank">USER</a>
			<span class="userattrs"></span> <!-- check for flair code -->
			<span class="score unvoted" title="127">127 points</span> 
			<time title="Sat Mar 7 23:57:44 2020 UTC" datetime="2020-03-07T23:57:44+00:00" class="live-timestamp">6 hours ago</time>
			
			<!--<span class="awardings-bar" data-subredditpath="/r/AskReddit/"></span>&nbsp;<a href="javascript:void(0)" class="numchildren" onclick="return togglecomment(this)">(12 children)</a>-->
			
		</p>
		

		<div class="usertext-body may-blank-within md-container ">
			<div class="md">
				<!-- CONTENT -->
			</div>
		</div>
		
		
		
		<ul class="flat-list buttons">
			<li class="first"><a href="https://example.com/PERMALINK" class="bylink" rel="nofollow">permalink</a></li>
			<li><a href="#" class="embed-comment">embed</a></li>
			<li class="comment-save-button save-button"><a href="#">save</a></li>
			<li class="report-button"><a href="#" class="reportbtn">report</a></li>
		</ul>
	</div>
</div>