<div class="thing even link">
	<p class="parent"></p>
	<span class="rank">2</span>
	
	<div class="midcol unvoted">
		<div class="arrow up" tabindex="0"></div>
		<div class="score unvoted" title="NUM">NUM</div>
		<div class="arrow down" tabindex="0"></div>
	</div>
	
	<a class="thumbnail invisible-when-pinned may-blank "><img src="http://example.com/THUMB" alt="" width="70" height="70"></a>
	<div class="entry unvoted">
		<div class="top-matter">
			<p class="title"><a class="title may-blank " href="/r/The_Donald/comments/fexlic/fitton_biggest_big_tech_censorship_reddit/" tabindex="1"><!-- POST TITLE --></a> <span class="domain">(<a href="#SEARCH BY DOMAIN">DOMAIN</a>)</span></p>
			<div class="expando-button collapsed hide-when-pinned video"></div>
			<p class="tagline ">submitted <time title="Sat Mar 7 16:40:47 2020 UTC" datetime="2020-03-07T16:40:47+00:00" class="live-timestamp">13 hours ago</time> by <a href="https://old.reddit.com/user/" class="author may-blank">USER</a><span class="flair" title="FLAIR TEXT">FLAIR TEXT</span></p>
			<ul class="flat-list buttons">
				<li class="first"><a href="https://old.reddit.com/COMMENTS" class="bylink comments may-blank" rel="nofollow">NUMBER comments</a></li>
				<li class="link-save-button save-button"><a href="#">save</a></li>
				<li class="report-button"><a href="#" class="reportbtn">report</a></li>
			</ul>
		</div>
		<div class="expando expando-uninitialized" style="display: none"></div>
	</div>
</div>