/*
	Original reddit CSS, used for historical
	purposes only
*/
.login-modal .modal-header {
	top:16px;
	right:16px;
	z-index:2
}
.login-modal .modal-content {
	margin-top:100px
}
.login-modal .modal-body {
	padding:0
}
.login-modal .c-alert {
	display:none;
	font-size:11px
}
.login-modal .c-form-group {
	margin-bottom:12px
}
.login-modal .reddit-logo,.login-modal .skip-for-now {
	display:none
}
.modal-header {
	display:none
}
#desktop-onboarding-browse {
	min-height:490px;
	max-height:1176px;
	height:490px;
	-webkit-transition:height 0.3s ease-out 0s;
	-moz-transition:height 0.3s ease-out 0s;
	-o-transition:height 0.3s ease-out 0s;
	-ms-transition:height 0.3s ease-out 0s;
	transition:height 0.3s ease-out 0s
}
.desktop-onboarding__title {
	color:#3683D2;
	font-size:18px;
	font-weight:bold;
	line-height:22px;
	margin:0 0 8px
}
.desktop-onboarding__description {
	margin:10px 0 24px;
	color:#353535;
	font-size:14px;
	line-height:17px
}
.desktop-onboarding-step {
	display:none;
	position:relative;
	background-color:#f8fbfd;
	height:100%;
	box-shadow:0 4px 13px 1px rgba(0,0,0,0.17);
	border-radius:5px
}
.c-step-sign-up .desktop-onboarding-step_sign-up {
	display:block;
	background-color:#f8fbfd
}
.c-step-sign-up .desktop-onboarding-step_sign-up .desktop-onboarding__title {
	font-size:22px;
	line-height:26px
}
.c-step-subreddit-picker .desktop-onboarding-step_subreddit-picker {
	display:block
}
.c-step-username .desktop-onboarding-step_username {
	display:block
}
.desktop-onboarding-step {
	white-space:nowrap
}
.desktop-onboarding__col {
	box-sizing:border-box;
	display:inline-block;
	white-space:normal;
	vertical-align:top
}
.desktop-onboarding-step_sign-up .desktop-onboarding__col {
	position:relative
}
.desktop-onboarding-step_sign-up footer {
	position:absolute;
	left:24px;
	right:44px;
	bottom:24px;
	color:#545452;
	font-size:10px;
	line-height:12px
}
.desktop-onboarding-step_sign-up footer a {
	color:#545452;
	text-decoration:underline
}
.desktop-onboarding__col_sign-up_form {
	width:442px;
	height:100%;
	padding:24px 44px 24px 24px
}
.desktop-onboarding__col_sign-up_image {
	width:314px;
	height:100%;
	background-image:url('../desktop-onboarding-snoo.png');
	background-repeat:no-repeat;
	border-radius:5px
}
@media only screen and (min-resolution:2dppx),only screen and (-webkit-min-device-pixel-ratio:2) {
	.desktop-onboarding__col_sign-up_image {
		background-image:url('../desktop-onboarding-snoo_2x.png');
		background-size:100%
	}
}
.desktop-onboarding-sign-up__form {
	display:none
}
.desktop-onboarding-sign-up__form-title {
	margin:0 0 8px;
	font-size:12px;
	line-height:15px;
	font-weight:bold;
	text-transform:uppercase;
	color:#3987BA;
	display:block
}
.desktop-onboarding-sign-up__form-note {
	margin:12px 0 24px;
	color:#545452;
	font-size:12px;
	line-height:15px
}
.desktop-onboarding-sign-up__form-note a {
	margin-left:0.42em
}
.c-is-create .desktop-onboarding-sign-up__form_create {
	display:block
}
.c-is-login .desktop-onboarding-sign-up__form_login {
	display:block
}
.desktop-onboarding-step_subreddit-picker {
	width:756px;
	height:100%;
	white-space:normal
}
.desktop-onboarding-step_subreddit-picker footer {
	position:absolute;
	left:24px;
	right:24px;
	bottom:24px
}
.subreddit-picker-header {
	padding:24px 24px 0
}
.subreddit-picker {
	position:absolute;
	width:100%;
	top:104px;
	bottom:90px;
	left:0;
	background-color:white;
	border-top:1px solid #d1d1d1;
	border-bottom:1px solid #d1d1d1
}
.subreddit-picker__categories {
	float:left;
	height:100%;
	width:33%;
	overflow-y:auto
}
.subreddit-picker__categories li {
	border-bottom:1px solid #d1d1d1
}
.subreddit-picker__categories li:last-child {
	border-bottom:0 none
}
.subreddit-picker__subreddits {
	box-sizing:border-box;
	width:67%;
	height:100%;
	margin-left:30%;
	padding-left:27px;
	padding-right:29px;
	border-left:1px solid #d1d1d1;
	overflow-y:auto
}
.subreddit-picker__fail,.subreddit-picker__category-fail {
	display:none;
	position:absolute;
	top:0;
	left:0;
	right:0;
	padding-top:141px;
	font-size:12px;
	line-height:14px;
	color:#a5a4a4;
	text-align:center
}
.subreddit-picker__category-fail {
	left:30%
}
.c-picker-fail .subreddit-picker__fail {
	display:block
}
.c-picker-category-fail .subreddit-picker__category-fail {
	display:block
}
.subreddit-picker__category {
	display:block;
	padding:10px 8px 10px 24px;
	font-size:12px;
	line-height:14px;
	text-decoration:none
}
.subreddit-picker__category:hover {
	text-decoration:none
}
.subreddit-picker__category_selected {
	color:#353535;
	background:#E7F5FF
}
.subreddit-picker__category_dummy {
	color:#f1f1f1
}
.subreddit-picker__category_dummy span {
	background:#f1f1f1
}
.subreddit-picker__selected-count {
	float:right;
	color:#a5a4a4;
	font-size:10px
}
.subreddit-picker__label.label-truncate {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	width:144px;
	display:inline-block;
	vertical-align:bottom
}
.subreddit-picker__subreddits-header {
	margin:0;
	padding:6px 0;
	border-bottom:2px solid #F0F0F0;
	color:#a5a4a4;
	font-size:10px;
	font-weight:bold;
	line-height:16px;
	text-transform:uppercase
}
.subreddit-picker__subreddit {
	border-bottom:1px solid #EFEFED;
	padding:8px 0;
	display:flex;
	align-items:center;
	justify-content:space-between
}
.subreddit-picker__subreddit:last-child {
	border-bottom:0 none
}
.subreddit-picker__subreddit-icon {
	flex:0 0 32px;
	overflow:hidden;
	width:32px;
	height:32px;
	margin-right:8px;
	border-radius:100%
}
.subreddit-picker__subreddit-icon img {
	width:100%;
	height:auto
}
.subreddit-picker__subreddit-icon_noimg {
	background-image:url(sprite-desktoponboarding.zE6oyAWRIHo.png);
	background-position:0px -70px;
	background-repeat:no-repeat
}
@media only screen and (min-resolution:2dppx),only screen and (-webkit-min-device-pixel-ratio:2) {
	.subreddit-picker__subreddit-icon_noimg {
		background-size:100%;
		background-image:url(sprite-desktoponboarding.zE6oyAWRIHo.png);
		background-position:0px 0px;
		background-repeat:no-repeat;
		background-size:32px 54px
	}
}
.subreddit-picker__subreddit-content {
	flex:1 1;
	margin-right:8px;
	font-size:12px;
	line-height:15px;
	color:#a5a4a4;
	overflow-wrap:break-word;
	word-wrap:break-word;
	word-break:break-word
}
.subreddit-picker__subreddit-content p {
	margin:0
}
.subreddit-picker__subreddit-name {
	font-size:14px;
	line-height:17px;
	margin-right:5px
}
.subreddit-picker__subreddit-name strong {
	font-weight:normal;
	color:black
}
.subreddit-picker__subreddit-button {
	flex:0 0 112px;
	width:112px;
	padding:4px 0 3px;
	font-size:12px;
	line-height:15px;
	border-radius:4px;
	min-width:112px;
	color:white!important
}
.subreddit-picker__subreddit-button:hover {
	color:white!important
}
.subreddit-picker__subreddit-button_subscribed,.subreddit-picker__subreddit-button_subscribed:hover,.subreddit-picker__subreddit-button_subscribed:active,.subreddit-picker__subreddit-button_subscribed:focus {
	color:#4f86b5!important;
	border-color:#4f86b5!important;
	border-bottom-width:1px;
	background-color:transparent
}
.subreddit-picker__subreddit_dummy .subreddit-picker__subreddit {
	padding-top:10px
}
.subreddit-picker__subreddit_dummy .subreddit-picker__subreddit-icon {
	background:#f1f1f1
}
.subreddit-picker__subreddit_dummy .subreddit-picker__subreddit-content {
	color:#f1f1f1
}
.subreddit-picker__subreddit_dummy .subreddit-picker__subreddit-content span {
	background:#f1f1f1
}
.subreddit-picker__subreddit_dummy .subreddit-picker__subreddit-content p {
	border-top:1px solid white;
	background:#f1f1f1
}
.subreddit-picker__subreddit_dummy .subreddit-picker__subreddit-button {
	color:#4f86b5;
	cursor:default;
	opacity:0.25
}
.subreddit-picker-progress {
	width:300px;
	margin:6px auto 1px;
	text-align:center;
	font-size:10px;
	line-height:12px;
	color:#a5a4a4
}
.subreddit-picker-progress__track {
	box-sizing:border-box;
	width:100%;
	height:8px;
	margin-bottom:4px;
	background-color:#ffffff;
	border:1px solid #E7E7E7;
	border-radius:8px
}
.subreddit-picker-progress__bar {
	-webkit-transition:width 0.2s ease 0s;
	-moz-transition:width 0.2s ease 0s;
	-o-transition:width 0.2s ease 0s;
	-ms-transition:width 0.2s ease 0s;
	transition:width 0.2s ease 0s;
	width:0;
	height:100%;
	background-color:#3987BA;
	border-radius:8px
}
.desktop-onboarding-step_username .c-form-control-feedback-wrapper {
	top:22px
}
.desktop-onboarding-step_username .strength-meter {
	top:40px
}
.desktop-onboarding-step_username footer {
	position:absolute;
	left:24px;
	right:24px;
	bottom:24px
}
.desktop-onboarding__col_username_form {
	width:442px;
	height:100%;
	padding:24px 44px 24px 24px
}
.desktop-onboarding__col_username_picker {
	height:100%;
	padding:125px 24px 24px;
	background:#ffffff url(../desktop-onboarding-snoo-sit.png) no-repeat center 70px
}
.c-username-picker-shown .desktop-onboarding__col_username_picker {
	background:white
}
.c-username-picker-shown .username-generator {
	visibility:visible
}
.username-generator {
	visibility:hidden
}
.username-generator__refresh-button,.username-generator__suggestions a {
	font-size:12px;
	line-height:29px;
	color:#3987BA
}
.username-generator__refresh-button:hover,.username-generator__suggestions a:hover {
	text-decoration:underline
}
.username-generator__refresh-button {
	display:block;
	margin-top:15px;
	text-transform:uppercase;
	font-weight:bold
}
.registration-error {
	color:red;
	font-size:12px;
	width:40%;
	bottom:-5px;
	left:50%;
	position:absolute;
	text-align:center;
	transform:translateX(-50%);
	display:none
}
.registration-error.active {
	display:block
}
.desktop-onboarding__step-number {
	display:inline-block;
	vertical-align:bottom;
	width:50%;
	font-size:10px;
	line-height:12px;
	color:#a5a4a4
}
.desktop-onboarding__buttons {
	display:inline-block;
	vertical-align:bottom;
	width:50%;
	text-align:right
}
.desktop-onboarding__back-button,.desktop-onboarding__next-button {
	border:0;
	min-width:102px;
	padding:8px;
	font-size:14px;
	line-height:17px
}
.desktop-onboarding__next-button {
	background-color:#3987BA
}
.desktop-onboarding__back-button {
	background-color:transparent;
	color:#a5a4a4!important;
	margin-right:8px;
	box-shadow:0!important
}
.desktop-onboarding__back-button:hover {
	color:#a5a4a4!important
}
#block-homepage {
	display:none;
	background:#FFF;
	z-index:10000;
	width:100%;
	height:100%;
	position:absolute
}
