/*
	The_Donald Archive CSS
	Copyright (c) 2020, rn10950
*/
.subscribers {
	margin-left: 0 !important;
	text-align: center;
	padding-left: 67px !important;
    padding-right: 67px !important;
}

.users-online {
	margin-top: 3px !important;
	margin-left: 79px !important;
}

#header-bottom-right {
	bottom: 18px !important;
}

div.tda-body {
	padding-top: 0px;
	padding-left: 20px;
	padding-bottom: 10px;
}

.tda-body  > ul {
	display: block;
	list-style-type: disc;
	margin-top: 1em;
	margin-bottom: 1 em;
	margin-left: 0;
	margin-right: 0;
	padding-left: 40px;
}

.tda-body  > li {
	display: list-item;
	margin-top: 2px;
}

.tda-body  > h1 {
	padding-bottom: 5px;
}

.tda-body  > h4 {
	padding-top: 15px;
	padding-bottom: 5px;
	font-size: 10pt;
}

.tda-body > label,
.tda-body > li,
.tda-body > p {
	font-size: 8pt;
}

td.tda-body {
	padding-right: 5px;
}

.tda-body  > h1,
.tda-body > h4,
.tda-body > label,
.tda-body > p {
	
}

.wiki-page-content, .wikititle {
	padding-left: 10px;
}

.tda-version {
	font-size: 6pt;
	font-style: italic;
	padding-top: 30px;
}

.theme-slide-image {
	width: 600px;
	height: 450px;
}

.tda-body > h2 {
	display: block;
	font-size: 1.5em;
	margin-top: 0.83em;
	margin-bottom: 0.83em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

.tda-body > h3 {
	display: block;
	font-size: 1.17em;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

.settings-hr {
	margin-left: 0px;
	width: 600px;
}

#theme-slide-caption {
	font-weight: bold;
	font-size: 8pt;
	padding-left: 5px;
}

.tda-settings-option {
	font-weight: bold;
}