/*
	Original The_Donald CSS
	Copyright 2015-2020, The_Donald mods
*/
* {
	font-family:"Trebuchet MS1",sans-serif!important
}
.nav-buttons {
	padding:8px
}
.side {
	padding-right:9px;
	width:300px;
	margin:0px;
	margin-top:36px;
	border:none;
	padding-top:456px;
	background:transparent
}
.side:before {
	background:url("/themes/res/zMEtBjRq7PDdgtWY9PJee0HhMxkvqalrB7IxUdGk6n4.png") top 0px left no-repeat;
	height:400px;
	z-index:0;
	content:"";
	width:300px;
	position:absolute;
	display:block;
	top:292px
}
@keyframes play {
	100% {
		background-position:0px -800px
	}
}
.link .thumbnail {
	height:58px;
	width:59px;
	margin:5px 5px 0px 0px!important;
	border-radius:2px
}
.thumbnail.self {
	background-image:url("/themes/res/hE5oxptJ1f5--UHYp4vGMB1PYA6FjWUB-qK7X8LiV8U.png")!important;
	background-position:0px 0px;
	margin-top:10px!important
}
.thumbnail.nsfw {
	background-position:-8px -1150px
}
.thumbnail.default {
	background-position:-6px -1099px;
	height:50px!important
}
@media only screen and (min-resolution:2dppx),only screen and (-webkit-min-device-pixel-ratio:2) {
	.thumbnail.self {
		background-image:url("/themes/res/hE5oxptJ1f5--UHYp4vGMB1PYA6FjWUB-qK7X8LiV8U.png")!important;
		background-position:0px 0px;
		background-size:55px 59px
	}
}
.subscribers {
	position:absolute;
	top:611px;
	font-size:20px;
	font-family:Arial;
	color:#fff;
	background-color:rgba(0,0,0,0.5);
	padding-top:10px;
	padding-left:17px;
	padding-right:17px;
	padding-bottom:22px;
	text-shadow:0px 0px 4px #111;
	margin-left:-26px
}
.subscribers .word {
	display:none
}
.subscribers .number::after {
	content:" Patriots"
}
.res .subscribers {
	margin-left:58px
}
.users-online {
	margin-left:89px;
	position:absolute;
	top:645px;
	color:white;
	font-family:Arial;
	font-size:12px;
	text-shadow:0px 0px 4px #111
}
.users-online .number::after {
	content:" winners online!"
}
.users-online:before {
	display:none
}
.res-tabmenu-button.res-show-images a {
	display:inline-block;
	font-family:Batch;
	background:url("/themes/res/YTfk3wlQ76sYUmXZKtYp1IEHIn2r3YcSyRPzgisHeU8.png")!important;
	background-position:-17px -442px!important;
	background-repeat:no-repeat!important;
	color:transparent!important;
	max-width:18px
}
.res-nightmode .res-tabmenu-button.res-show-images a {
	display:inline-block;
	font-family:Batch;
	background:url("/themes/res/YTfk3wlQ76sYUmXZKtYp1IEHIn2r3YcSyRPzgisHeU8.png")!important;
	opacity:0.5;
	background-position:-17px -442px!important;
	background-repeat:no-repeat!important;
	color:transparent!important;
	max-width:18px
}
.res-tabmenu-button.res-show-images a:hover {
	display:inline-block;
	font-family:Batch;
	background:url("/themes/res/YTfk3wlQ76sYUmXZKtYp1IEHIn2r3YcSyRPzgisHeU8.png")!important;
	background-position:-90px -444px!important;
	background-repeat:no-repeat!important;
	color:transparent!important;
	max-width:18px
}
.res-nightmode .res-tabmenu-button.res-show-images a:hover {
	display:inline-block;
	font-family:Batch;
	background:url("/themes/res/YTfk3wlQ76sYUmXZKtYp1IEHIn2r3YcSyRPzgisHeU8.png")!important;
	opacity:1!important;
	background-position:-17px -442px!important;
	background-repeat:no-repeat!important;
	color:transparent!important;
	max-width:18px
}
.res-tabmenu-button.selected.res-show-images {
	display:inline-block;
	font-family:Batch;
	opacity:1!important;
	background-position:0px -1px!important;
	background-repeat:no-repeat!important;
	background-color:#bf0000!important;
	max-width:18px;
	z-index:999999999999!important;
	padding-right:30px
}
.res-nightmode .tabmenu.formtab a {
	background-color:#333!important
}
.RESSubscriptionButton .res-icon {
	display:none!important
}
.RESSubscriptionButton {
	float:right;
	margin-left:8px;
	cursor:pointer;
	color:rgb(255,255,255)!important;
	font-size:15px!important;
	line-height:1;
	background-color:#bf0000!important;
	padding:7px 17px!important;
	border-width:0px!important;
	border-style:solid;
	border-color:initial;
	border-image:initial;
	border-radius:4px!important;
	text-transform:uppercase!important
}
.res .RES-keyNav-activeElement .md-container {
	background:transparent!important
}
.res[class] .RES-keyNav-activeElement,.res[class] .RES-keyNav-activeElement .md-container {
	background-color:transparent!important
}
.tabmenu li.res-tabmenu-button a[aftercontent]::after {
	display:none!important
}
.link .score.likes {
	color:#bc0000;
	font-family:"Trebuchet MS1",sans-serif;
	font-weight:bold
}
.link .score {
	font-weight:bold!important
}
.titlebox form.toggle,.leavemoderator {
	background:none
}
.promoted {
	margin-right:0px!important
}
.comment {
	overflow:visible!important
}
.entry {
	overflow:hidden!important
}
.midcol {
	overflow:visible!important
}
.side hr {
	border:0;
	border-bottom:1px solid #fff;
	margin:10px 0
}
.side .bottom {
	border-top:1px solid #fff
}
.side table {
	display:block;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	border:1px solid #e2e2e2;
	border-top:0;
	padding:0
}
.side table thead {
	display:none
}
.side table tbody tr td {
	display:block;
	border:none;
	padding:0
}
.side table tbody tr td:first-child {
	background:transparent;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:6px;
	padding-right:6px;
	transition:.5s;
	border:1px solid rgba(235,216,164,0.82);
	width:253px
}
.res-nightmode .side table tbody tr td:first-child {
	border:1px solid rgb(82,97,115)!important
}
.side table tbody tr td:last-child {
	max-height:0;
	border-top:0;
	margin:0 5px;
	transition:.3s ease-in-out;
	overflow:hidden!important
}
.res-nightmode table {
	display:table;
	border-collapse:separate;
	border-spacing:0px;
	border-color:black!important
}
.side table tbody tr:hover td:last-child {
	max-height:200px;
	transition:.3s ease-in-out;
	margin:5px
}
.side table tbody tr td:first-child:hover,.side table tbody tr:hover td:first-child {
	background:#2b325f;
	color:#fff;
	text-shadow:1px 1px 7px rgba(0,0,0,1)
}
.side table tbody tr td:first-child:hover,.side table tbody tr:hover td:first-child a {
	color:#fff;
	text-shadow:1px 1px 7px rgba(0,0,0,1)
}
.md code {
	margin:0 2px;
	white-space:nowrap;
	word-break:normal;
	color:#bc0000;
	font-weight:bold
}
.md code,.md pre {
	border:2px solid rgb(237,222,179);
	background-color:#ffffff;
	border-radius:14px
}
.md a {
	color:#527fc5;
	text-decoration:none
}
.thing.comment .upmod:focus:after {
	content:"";
	width:60px;
	height:43px;
	font-size:9px;
	font-weight:normal;
	text-shadow:0px 0px 1px #2e2e2e;
	position:relative;
	pointer-events:none;
	color:#e50000;
	bottom:0px;
	opacity:0.0;
	animation-name:BattleCry;
	animation-duration:2s;
	animation-timing-function:ease-out;
	animation-delay:0.2s;
	animation-iteration-count:1;
	-webkit-animation-name:BattleCry;
	-webkit-animation-duration:2s;
	-webkit-animation-timing-function:ease-out;
	-webkit-animation-delay:0.2s;
	-webkit-animation-iteration-count:1;
	-moz-animation-name:BattleCry;
	-moz-animation-duration:2s;
	-moz-animation-timing-function:ease-out;
	-moz-animation-delay:0.2s;
	-moz-animation-iteration-count:1;
	-o-animation-name:BattleCry;
	-o-animation-duration:2s;
	-o-animation-timing-function:ease-out;
	-o-animation-delay:0.2s;
	-o-animation-iteration-count:1;
	-ms-animation-name:BattleCry;
	-ms-animation-duration:2s;
	-ms-animation-timing-function:ease-out;
	-ms-animation-delay:0.2s;
	-ms-animation-iteration-count:1
}
@keyframes BattleCry {
	8% {
		bottom:5px;
		opacity:1
	}
	15% {
		bottom:10px
	}
	40% {
		opacity:1
	}
	50% {
		bottom:15px
	}
	100% {
		bottom:20px;
		opacity:0
	}
}
@-webkit-keyframes BattleCry {
	8% {
		bottom:5px;
		opacity:1
	}
	15% {
		bottom:10px
	}
	40% {
		opacity:1
	}
	50% {
		bottom:15px
	}
	100% {
		bottom:20px;
		opacity:0
	}
}
@-moz-keyframes BattleCry {
	8% {
		bottom:5px;
		opacity:1
	}
	15% {
		bottom:10px
	}
	40% {
		opacity:1
	}
	50% {
		bottom:15px
	}
	100% {
		bottom:20px;
		opacity:0
	}
}
@-o-keyframes BattleCry {
	8% {
		bottom:5px;
		opacity:1
	}
	15% {
		bottom:10px
	}
	40% {
		opacity:1
	}
	50% {
		bottom:15px
	}
	100% {
		bottom:20px;
		opacity:0
	}
}
.thing[data-fullname$="a"].comment .upmod:focus:after {
	content:"MAGA!"
}
.thing[data-fullname$="b"].comment .upmod:focus:after {
	content:"America First!"
}
.thing[data-fullname$="c"].comment .upmod:focus:after {
	content:"10 Feet Taller!"
}
.thing[data-fullname$="d"].comment .upmod:focus:after {
	content:"Bring Back Jobs!"
}
.thing[data-fullname$="e"].comment .upmod:focus:after {
	content:"Yuge!"
}
.thing[data-fullname$="f"].comment .upmod:focus:after {
	content:"Winning!"
}
.thing[data-fullname$="g"].comment .upmod:focus:after {
	content:"High Energy!"
}
.thing[data-fullname$="h"].comment .upmod:focus:after {
	content:"Build the Wall!"
}
.thing[data-fullname$="i"].comment .upmod:focus:after {
	content:"Unstumpable!"
}
.thing[data-fullname$="j"].comment .upmod:focus:after {
	content:"Self-Funded!"
}
.thing[data-fullname$="k"].comment .upmod:focus:after {
	content:"No Brakes!"
}
.thing[data-fullname$="l"].comment .upmod:focus:after {
	content:"Strong Military!"
}
.thing[data-fullname$="m"].comment .upmod:focus:after {
	content:"MAGA!"
}
.thing[data-fullname$="n"].comment .upmod:focus:after {
	content:"America First!"
}
.thing[data-fullname$="o"].comment .upmod:focus:after {
	content:"10 Feet Taller!"
}
.thing[data-fullname$="p"].comment .upmod:focus:after {
	content:"Bring Back Jobs!"
}
.thing[data-fullname$="q"].comment .upmod:focus:after {
	content:"Yuge!"
}
.thing[data-fullname$="r"].comment .upmod:focus:after {
	content:"Winning!"
}
.thing[data-fullname$="s"].comment .upmod:focus:after {
	content:"High Energy!"
}
.thing[data-fullname$="t"].comment .upmod:focus:after {
	content:"Build the Wall!"
}
.thing[data-fullname$="u"].comment .upmod:focus:after {
	content:"Unstumpable!"
}
.thing[data-fullname$="v"].comment .upmod:focus:after {
	content:"Self-Funded!"
}
.thing[data-fullname$="w"].comment .upmod:focus:after {
	content:"No Brakes!"
}
.thing[data-fullname$="x"].comment .upmod:focus:after {
	content:"Strong Military!"
}
.thing[data-fullname$="y"].comment .upmod:focus:after {
	content:"MAGA!"
}
.thing[data-fullname$="z"].comment .upmod:focus:after {
	content:"America First!"
}
.thing[data-fullname$="1"].comment .upmod:focus:after {
	content:"10 Feet Taller!"
}
.thing[data-fullname$="2"].comment .upmod:focus:after {
	content:"Bring Back Jobs!"
}
.thing[data-fullname$="3"].comment .upmod:focus:after {
	content:"Yuge!"
}
.thing[data-fullname$="4"].comment .upmod:focus:after {
	content:"Winning!"
}
.thing[data-fullname$="5"].comment .upmod:focus:after {
	content:"High Energy!"
}
.thing[data-fullname$="6"].comment .upmod:focus:after {
	content:"Build the Wall!"
}
.thing[data-fullname$="7"].comment .upmod:focus:after {
	content:"Unstumpable!"
}
.thing[data-fullname$="8"].comment .upmod:focus:after {
	content:"Self-Funded!"
}
.thing[data-fullname$="9"].comment .upmod:focus:after {
	content:"No Brakes!"
}
.thing[data-fullname$="0"].comment .upmod:focus:after {
	content:"Strong Military!"
}
.thing.comment .upmod:focus:after {
	white-space:nowrap
}
.thing.comment .downmod:focus:after {
	content:"";
	width:60px;
	height:43px;
	font-size:9px;
	font-weight:normal;
	text-shadow:0px 0px 1px #2e2e2e;
	position:relative;
	color:#0000e5;
	top:0px;
	opacity:0;
	animation-name:DeathKnell;
	animation-duration:2s;
	animation-timing-function:ease-out;
	animation-delay:0.2s;
	animation-iteration-count:1;
	-webkit-animation-name:DeathKnell;
	-webkit-animation-duration:2s;
	-webkit-animation-timing-function:ease-out;
	-webkit-animation-delay:0.2s;
	-webkit-animation-iteration-count:1;
	-moz-animation-name:DeathKnell;
	-moz-animation-duration:2s;
	-moz-animation-timing-function:ease-out;
	-moz-animation-delay:0.2s;
	-moz-animation-iteration-count:1;
	-o-animation-name:DeathKnell;
	-o-animation-duration:2s;
	-o-animation-timing-function:ease-out;
	-o-animation-delay:0.2s;
	-o-animation-iteration-count:1;
	-ms-animation-name:DeathKnell;
	-ms-animation-duration:2s;
	-ms-animation-timing-function:ease-out;
	-ms-animation-delay:0.2s;
	-ms-animation-iteration-count:1
}
@keyframes DeathKnell {
	8% {
		top:5px;
		opacity:1
	}
	15% {
		top:10px
	}
	40% {
		opacity:1
	}
	50% {
		top:15px
	}
	100% {
		top:20px;
		opacity:0
	}
}
@-webkit-keyframes DeathKnell {
	8% {
		top:5px;
		opacity:1
	}
	15% {
		top:10px
	}
	40% {
		opacity:1
	}
	50% {
		top:15px
	}
	100% {
		top:20px;
		opacity:0
	}
}
@-moz-keyframes DeathKnell {
	8% {
		top:5px;
		opacity:1
	}
	15% {
		top:10px
	}
	40% {
		opacity:1
	}
	50% {
		top:15px
	}
	100% {
		top:20px;
		opacity:0
	}
}
@-o-keyframes DeathKnell {
	8% {
		top:5px;
		opacity:1
	}
	15% {
		top:10px
	}
	40% {
		opacity:1
	}
	50% {
		top:15px
	}
	100% {
		top:20px;
		opacity:0
	}
}
.thing[data-fullname$="a"].comment .downmod:focus:after {
	content:"Crooked!"
}
.thing[data-fullname$="b"].comment .downmod:focus:after {
	content:"Low Energy!"
}
.thing[data-fullname$="c"].comment .downmod:focus:after {
	content:"Sad!"
}
.thing[data-fullname$="d"].comment .downmod:focus:after {
	content:"Dishonest!"
}
.thing[data-fullname$="e"].comment .downmod:focus:after {
	content:"Biased!"
}
.thing[data-fullname$="f"].comment .downmod:focus:after {
	content:"Failure!"
}
.thing[data-fullname$="g"].comment .downmod:focus:after {
	content:"Desperate!"
}
.thing[data-fullname$="h"].comment .downmod:focus:after {
	content:"Rigged!"
}
.thing[data-fullname$="i"].comment .downmod:focus:after {
	content:"Loser!"
}
.thing[data-fullname$="j"].comment .downmod:focus:after {
	content:"Unhinged!"
}
.thing[data-fullname$="k"].comment .downmod:focus:after {
	content:"Heartless!"
}
.thing[data-fullname$="l"].comment .downmod:focus:after {
	content:"Corrupt!"
}
.thing[data-fullname$="m"].comment .downmod:focus:after {
	content:"Crooked!"
}
.thing[data-fullname$="n"].comment .downmod:focus:after {
	content:"Low Energy!"
}
.thing[data-fullname$="o"].comment .downmod:focus:after {
	content:"Sad!"
}
.thing[data-fullname$="p"].comment .downmod:focus:after {
	content:"Dishonest!"
}
.thing[data-fullname$="q"].comment .downmod:focus:after {
	content:"Biased!"
}
.thing[data-fullname$="r"].comment .downmod:focus:after {
	content:"Failure!"
}
.thing[data-fullname$="s"].comment .downmod:focus:after {
	content:"Desperate!"
}
.thing[data-fullname$="t"].comment .downmod:focus:after {
	content:"Rigged!"
}
.thing[data-fullname$="u"].comment .downmod:focus:after {
	content:"Loser!"
}
.thing[data-fullname$="v"].comment .downmod:focus:after {
	content:"Unhinged!"
}
.thing[data-fullname$="w"].comment .downmod:focus:after {
	content:"Heartless!"
}
.thing[data-fullname$="x"].comment .downmod:focus:after {
	content:"Corrupt!"
}
.thing[data-fullname$="y"].comment .downmod:focus:after {
	content:"Crooked!"
}
.thing[data-fullname$="z"].comment .downmod:focus:after {
	content:"Low Energy!"
}
.thing[data-fullname$="1"].comment .downmod:focus:after {
	content:"Sad!"
}
.thing[data-fullname$="2"].comment .downmod:focus:after {
	content:"Dishonest!"
}
.thing[data-fullname$="3"].comment .downmod:focus:after {
	content:"Biased!"
}
.thing[data-fullname$="4"].comment .downmod:focus:after {
	content:"Failure!"
}
.thing[data-fullname$="5"].comment .downmod:focus:after {
	content:"Desperate!"
}
.thing[data-fullname$="6"].comment .downmod:focus:after {
	content:"Rigged!"
}
.thing[data-fullname$="7"].comment .downmod:focus:after {
	content:"Loser!"
}
.thing[data-fullname$="8"].comment .downmod:focus:after {
	content:"Unhinged!"
}
.thing[data-fullname$="9"].comment .downmod:focus:after {
	content:"Heartless!"
}
.thing[data-fullname$="0"].comment .downmod:focus:after {
	content:"Corrupt!"
}
.thing.comment .downmod:focus:after {
	white-space:nowrap
}
.users-online .word {
	display:none
}
.content {
	margin-top:53px
}
::-webkit-scrollbar {
	width:12px;
	background:transparent
}
::-webkit-scrollbar-thumb {
	border-radius:1px;
	background:url("/themes/res/pV18FcLLWk0MRdICtruH5ONgikwTiBzhzWo58OuXfw4.png") 0 0 repeat
}
#sr-header-area {
	background:#000000;
	border:none;
	z-index:200;
	transition:all .2s ease-out
}
#sr-header-area a,#sr-header-area .srdrop.dropdown .selected {
	font-family:Arial,Helvetica,sans-serif;
	letter-spacing:1px;
	transition:all .2s ease-out;
	color:#eee
}
.drop-choices a.choice {
	color:#000!important
}
.sr-bar a {
	color:#eee
}
.drop-choices.inuse {
	background-color:#fff;
	border:none;
	box-shadow:0px 0px 5px 0px rgba(0,0,0,0.4);
	-webkit-box-shadow:0px 0px 5px 0px rgba(0,0,0,0.4);
	-moz-box-shadow:0px 0px 5px 0px rgba(0,0,0,0.4)
}
.drop-choices a.choice {
	color:#000
}
#sr-header-area a:hover {
	color:orangered;
	text-decoration:none
}
#sr-header-area .dropdown.srdrop .selected.title:hover {
	color:orangered
}
.res-nightmode #sr-header-area,.res-nightmode #sr-more-link {
	background-color:rgb(21,21,21)!important;
	color:rgb(0,0,0)
}
#sr-more-link {
	display:none
}
.RES-keyNav-activeElement,.RES-keyNav-activeElement .md-container {
	background-color:transparent!important
}
.md-container-small .md h3,.side .md h3,.md-container-small .md h4,.side .md h4 {
	font-size:15px;
	line-height:32px;
	margin-top:0.625em;
	margin-bottom:0.625em;
	font-weight:normal!important;
	text-rendering:optimizeLegibility;
	letter-spacing:.5px
}
.md-container-small .md .-text,.side .md .-text,.md-container-small .md p,.side .md p,.md-container-small .md pre>code,.side .md pre>code,.md-container-small .md th,.side .md th,.md-container-small .md td,.side .md td,.md-container-small .md li,.side .md li {
	font-size:1em;
	line-height:1.25em
}
.link .usertext .md {
	padding:5px 10px;
	text-align:justify
}
#RESShortcutsEditContainer,#RESShortcutsRight,#RESShortcutsAdd,#RESShortcutsTrash,#RESShortcutsLeft,#sr-more-link,#RESShortcutsSort {
	color:#ddd!important;
	background-color:transparent!important
}
div.RES-keyNav-activeElement,div.commentarea div.RES-keyNav-activeElement .md,div.commentarea div.RES-keyNav-activeElement.entry div.noncollapsed {
	background-color:transparent!important
}
.sr-header .drop-choices {
	background-color:#777
}
.sr-header .flat-list .drop-choices {
	background-color:##E3E3E3!important
}
.link .flat-list {
	display:inline;
	padding:0 0
}
#header {
	position:relative;
	height:200px;
	background:url("/themes/res/Flmgs29YfdXvZEaUlUWgVcfJSGcvo40FTh8VGREROg0.png") 50% 50% / cover no-repeat;
	border-bottom:0px
}
#header-bottom-left {
	position:relative;
	height:243px;
	overflow-x:hidden;
	pointer-events:none;
	top:-18px;
	border-bottom:3px solid #bc0000;
	-webkit-box-shadow:0px 4px 8px -1px rgba(0,0,0,0.75);
	-moz-box-shadow:0px 4px 8px -1px rgba(0,0,0,0.75);
	box-shadow:0px 4px 8px -1px rgba(0,0,0,0.75);
	background-image:url("/themes/res/YeqRYcSCKBa_7GHZ_5s536SC9H_FOnaHpRa0HMynZX0.png");
	background-repeat:repeat-x;
	background-position:bottom
}
#header-bottom-left a {
	pointer-events:auto
}
#header-bottom-left:before {
	content:"";
	position:absolute;
	width:300%;
	top:-7px;
	bottom:0px;
	left:0px;
	right:0px;
	z-index:-1;
	border-bottom:0px
}
body.res-nightmode #header-bottom-left:after {
	display:none
}
#header-bottom-left:after {
	content:"";
	position:absolute;
	width:300%;
	top:-14px;
	bottom:0px;
	left:0px;
	right:0px;
	z-index:-1;
	border-bottom:0px
}
.pagename {
	font-size:0
}
.pagename a {
	display:block;
	width:162px;
	height:140px;
	background:url("/themes/res/6FXuCRuQKPow0q2F0WnpCuNUdOaoOmCq4DMiSpf0pXM.png") no-repeat center top;
	position:absolute;
	left:50%;
	margin-left:-200px;
	top:109px;
	margin-top:-65px;
	z-index:98
}
.pagename a:hover {
	background:url("/themes/res/6FXuCRuQKPow0q2F0WnpCuNUdOaoOmCq4DMiSpf0pXM.png") no-repeat center bottom
}
#header-img {
	position:absolute;
	display:none;
	top:103px;
	left:23px
}
#header-bottom-right a,.user .userkarma,.user {
	color:#e9e9e9;
	text-shadow:0px 0px 3px #111
}
#RESMainGearOverlay .gearIcon {
	display:none
}
#userbarToggle {
	color:#fff!important;
	background-color:#bf0000!important;
	border-right:none!important;
	height:23px!important;
	padding:9px 9px 9px 10px;
	border-radius:0
}
.res #header-bottom-right {
	background:#bf0000!important;
	color:#eee!important;
	line-height:1em!important;
	margin:183px 0px 0px 0px;
	padding:12px 17px 13px 20px
}
#userbarToggle.userbarShow {
	top:auto;
	left:auto;
	right:0px;
	padding-right:20px
}
body:not(.res) #header-bottom-right {
	background:#bf0000;
	color:#eee!important;
	line-height:1em!important;
	margin:-158px 0px -43px 0px;
	font-size:12px;
	padding:15px;
	position:absolute;
	border-radius:0!important;
	-moz-border-radius:0!important
}
#header .tabmenu {
	position:absolute;
	left:0;
	right:270px;
	bottom:0;
	text-align:center
}
#header .tabmenu li {
	margin:0
}
#header .tabmenu li a {
	color:#fff;
	background-color:transparent;
	margin:0;
	border:none!important;
	display:inline-block;
	padding:0px 15px;
	line-height:36px;
	text-align:center;
	font-size:15px;
	letter-spacing:.5px;
	text-transform:uppercase;
	position:relative;
	font-family:"Trebuchet MS1",sans-serif;
	text-rendering:optimizeLegibility;
	padding-bottom:4px;
	padding-top:2px;
	font-weight:normal;
	margin-bottom:0px
}
#header .tabmenu li a:hover {
	color:white;
	background-color:#ffffff;
	color:#000000
}
ul.tabmenu.formtab {
	display:block;
	padding-left:107px;
	font-size:larger;
	margin-bottom:11px
}
.content .spacer {
	margin-bottom:10px
}
#header .tabmenu li a[href*="ads"],#header .tabmenu li a[href*="gilded"],#header .tabmenu li a[href*="controversial"],#header .tabmenu li a[href*="javascript:;"] {
	display:none!important
}
#header .tabmenu li.selected a {
	color:white;
	background-color:#bc0000
}
.content.submit .info-notice {
	border:none
}
.roundfield,.linefield,.content.submit .roundfield.info-notice {
	background-color:#eee;
	border-radius:0
}
#link-desc {
	background-color:#eee;
	border:none
}
.res-nightmode #link-desc {
	background-color:#262626;
	border:none
}
.res-nightmode #text-desc {
	background-color:#262626;
	border:none
}
.res-nightmode .tabmenu.formtab .selected a {
	color:white!important;
	background-color:#000000!important
}
#noresults {
	padding:16px
}
#text-desc {
	background-color:#eee;
	border:none
}
.content h1 {
	margin-left:0;
	padding-top:10px
}
form#newlink {
	margin:20px;
	padding-bottom:6px
}
.tabmenu.formtab .selected a {
	background-color:#bc0000
}
.tabmenu.formtab a {
	background-color:#9c9c9c;
	color:#fff
}
.formtabs-content {
	border-top:4px solid #bf0000
}
.tabmenu.formtab a {
	font-weight:normal;
	outline:none;
	padding:12px 54px;
	border:1px solid #c1c1c1;
	border-bottom:none;
	text-transform:uppercase;
	border-radius:6px 6px 0px 0px;
	-moz-border-radius:6px 6px 0px 0px;
	-webkit-border-radius:6px 6px 0px 0px;
	border:0px solid #000000
}
body>.content {
	background-color:#fff;
	-moz-box-shadow:0px 0px 5px 0px rgba(0,0,0,0.4);
	-webkit-box-shadow:0px 0px 5px 0px rgba(0,0,0,0.4);
	box-shadow:0px 0px 5px 0px rgba(0,0,0,0.4)
}
.thing:last-of-type {
	border-radius:3px
}
body {
	background-color:rgba(0,0,0,0.06)
}
body>.content {
	margin:56px 30px 0 10px;
	padding:0;
	width:calc(100% - 330px);
	border-radius:2px
}
.link {
	margin-left:0px;
	margin-bottom:1px;
	padding-top:1px;
	padding-bottom:2px;
	background:-ms-linear-gradient(#ffffff,#fafafa);
	background:-webkit-linear-gradient(#ffffff,#fafafa);
	background:-o-linear-gradient(#ffffff,#fafafa);
	background:-moz-linear-gradient(#ffffff,#fafafa);
	background:linear-gradient(#ffffff,#fafafa)
}
.res-nightmode .link {
	margin-bottom:1px;
	background:-ms-linear-gradient(#141414,#000000);
	background:-webkit-linear-gradient(#141414,#000000);
	background:-o-linear-gradient(#141414,#000000);
	background:-moz-linear-gradient(#141414,#000000);
	background:linear-gradient(#141414,#000000)
}
.panestack-title {
	border-bottom:none
}
.footer-parent {
	background:url("/themes/res/AcGLBvY2Dv04hLC-xXFPfmjE17ozK63c0clwULiT_ns.png") no-repeat top center scroll;
	margin:0 auto;
	padding:423px 0 0 0
}
.res-nightmode .footer-parent {
	background:none!important;
	margin:0 auto;
	padding:423px 0 0 0
}
.linkinfo {
	border-radius:3px;
	background-color:#fff;
	text-align:center;
	margin-left:16px;
	margin-right:16px;
	padding:18px;
	border:4px solid #bc0000;
	-moz-box-shadow:0px 0px 5px 0px rgba(0,0,0,0.4);
	-webkit-box-shadow:0px 0px 5px 0px rgba(0,0,0,0.4);
	box-shadow:0px 0px 5px 0px rgba(0,0,0,0.4)
}
.linkinfo .date {
	text-align:center
}
.link .usertext-body .md {
	background-color:transparent;
	border:none;
	border-radius:0
}
.linkinfo .score {
	text-align:center
}
.linkinfo .shortlink {
	text-align:center
}
.res-voteEnhancements-estimatePostVotes .linkinfo .totalvotes {
	text-align:center
}
.res-voteEnhancements-estimatePostVotes .linkinfo .totalvotes:before {
	content:"third party estimate: "
}
.reportbtn {
	font-size:0;
	content:""
}
.reportbtn::after {
	content:"deport";
	font-size:x-small
}
.edit-usertext {
	font-size:0;
	content:""
}
.edit-usertext::after {
	content:"spez";
	font-size:x-small
}
.report-header {
	font-size:0;
	content:""
}
.reason-prompt.report-header::after {
	content:"What law is this person breaking?";
	font-size:medium
}
.reason-prompt.report-header::after {
	content:"What law is this person breaking?";
	visibility:visible;
	word-spacing:normal;
	letter-spacing:normal
}
.link .rank {
	display:none
}
.comment .arrow.upmod {
	background-image:url("/themes/res/9v5xW9A00h_M3pmmF_qL9ghdGV-1drj6EQBAGJwxhvA.png");
	background-position:0px 0px;
	height:24px;
	width:25px;
	margin-top:5px;
	margin-left:10px
}
.comment .arrow.up {
	margin-top:15px
}
.comment .arrow.down {
	margin-bottom:11px;
	margin-top:2px
}
.comment .arrow.downmod {
	background-image:url("/themes/res/4lPV4NMk51pTNbsEXNpZq5BIvnddBGOSpbwNazfusWQ.png");
	background-position:0px 0px;
	height:24px;
	width:25px;
	margin-left:10px
}
.comment .midcol {
	margin-right:0px;
	width:45px
}
.link .midcol {
	width:45px!important;
	margin-right:12px
}
.link .arrow.down {
	display:none
}
.link .arrow.downmod {
	display:none
}
.link .arrow.up {
	background-image:url("/themes/res/d3JoHviiJalF-Z_lW_4rqhASE0lcHRkaq7Gtp2GuIIY.png");
	background-position:-225px -172px;
	width:45px;
	height:43px;
	margin-top:5px;
	margin-bottom:5px
}
.res-nightmode .link .arrow.up {
	background-image:url("/themes/res/d3JoHviiJalF-Z_lW_4rqhASE0lcHRkaq7Gtp2GuIIY.png")!important;
	background-position:-225px -172px!important;
	width:45px!important;
	height:43px!important;
	margin-top:5px!important;
	margin-bottom:5px!important
}
.link .arrow.upmod {
	background:url("/themes/res/d3JoHviiJalF-Z_lW_4rqhASE0lcHRkaq7Gtp2GuIIY.png");
	background-position:-270px -172px;
	width:45px;
	height:43px;
	margin-top:5px;
	margin-bottom:5px
}
.res-nightmode .link .arrow.upmod {
	background:url("/themes/res/d3JoHviiJalF-Z_lW_4rqhASE0lcHRkaq7Gtp2GuIIY.png");
	background-position:-270px -172px;
	width:45px;
	height:43px;
	margin-top:5px;
	margin-bottom:5px
}
.link .arrow.upmod:focus {
	animation:upTrump ease 2s;
	animation-delay:0.2s;
	animation-iteration-count:1;
	-webkit-animation:upTrump ease 2s;
	-webkit-animation-delay:0.2s;
	-webkit-animation-iteration-count:1;
	-moz-animation:upTrump ease 2s;
	-moz-animation-delay:0.2s;
	-moz-animation-iteration-count:1;
	-o-animation:upTrump ease 2s;
	-o-animation-delay:0.2s;
	-o-animation-iteration-count:1;
	-ms-animation:upTrump ease 2s;
	-ms-animation-delay:0.2s;
	-ms-animation-iteration-count:1
}
@keyframes upTrump {
	0% {
		background-position:0px 0px
	}
	0.001% {
		background-position:-45px 0px
	}
	2.5% {
		background-position:-45px 0px
	}
	2.501% {
		background-position:-90px 0px
	}
	5% {
		background-position:-90px 0px
	}
	5.001% {
		background-position:-135px 0px
	}
	7.5% {
		background-position:-135px 0px
	}
	7.501% {
		background-position:-180px 0px
	}
	10% {
		background-position:-180px 0px
	}
	10.001% {
		background-position:-225px 0px
	}
	12.5% {
		background-position:-225px 0px
	}
	12.501% {
		background-position:-270px 0px
	}
	15% {
		background-position:-270px 0px
	}
	15.001% {
		background-position:0px -43px
	}
	17.5% {
		background-position:0px -43px
	}
	17.501% {
		background-position:-45px -43px
	}
	20% {
		background-position:-45px -43px
	}
	20.001% {
		background-position:-90px -43px
	}
	22.5% {
		background-position:-90px -43px
	}
	22.501% {
		background-position:-135px -43px
	}
	25% {
		background-position:-135px -43px
	}
	25.001% {
		background-position:-180px -43px
	}
	27.5% {
		background-position:-180px -43px
	}
	27.501% {
		background-position:-225px -43px
	}
	30% {
		background-position:-225px -43px
	}
	30.001% {
		background-position:-270px -43px
	}
	32.5% {
		background-position:-270px -43px
	}
	32.501% {
		background-position:0px -86px
	}
	35% {
		background-position:0px -86px
	}
	35.001% {
		background-position:-45px -86px
	}
	37.5% {
		background-position:-45px -86px
	}
	37.501% {
		background-position:-90px -86px
	}
	40% {
		background-position:-90px -86px
	}
	40.001% {
		background-position:-135px -86px
	}
	42.5% {
		background-position:-135px -86px
	}
	42.501% {
		background-position:-180px -86px
	}
	45% {
		background-position:-180px -86px
	}
	45.001% {
		background-position:-225px -86px
	}
	47.5% {
		background-position:-225px -86px
	}
	47.501% {
		background-position:-270px -86px
	}
	50% {
		background-position:-270px -86px
	}
	50.001% {
		background-position:0px -129px
	}
	52.5% {
		background-position:0px -129px
	}
	52.501% {
		background-position:-45px -129px
	}
	55% {
		background-position:-45px -129px
	}
	55.001% {
		background-position:-90px -129px
	}
	57.5% {
		background-position:-90px -129px
	}
	57.501% {
		background-position:-135px -129px
	}
	60% {
		background-position:-135px -129px
	}
	60.001% {
		background-position:-180px -129px
	}
	62.5% {
		background-position:-180px -129px
	}
	62.501% {
		background-position:-225px -129px
	}
	65% {
		background-position:-225px -129px
	}
	65.001% {
		background-position:-270px -129px
	}
	67.5% {
		background-position:-270px -129px
	}
	67.501% {
		background-position:0px -172px
	}
	70% {
		background-position:0px -172px
	}
	70.001% {
		background-position:-45px -172px
	}
	72.5% {
		background-position:-45px -172px
	}
	72.501% {
		background-position:-90px -172px
	}
	75% {
		background-position:-90px -172px
	}
	75.001% {
		background-position:-135px -172px
	}
	77.5% {
		background-position:-135px -172px
	}
	77.501% {
		background-position:-180px -172px
	}
	80% {
		opacity:1;
		background-position:-180px -172px
	}
	90% {
		opacity:1;
		background-position:-180px -172px
	}
	95% {
		opacity:0;
		background-position:-180px -172px
	}
	95.001% {
		opacity:0;
		background-position:-270px -172px
	}
	100% {
		opacity:1;
		background-position:-270px -172px
	}
}
@-webkit-keyframes upTrump {
	0% {
		background-position:0px 0px
	}
	0.001% {
		background-position:-45px 0px
	}
	2.5% {
		background-position:-45px 0px
	}
	2.501% {
		background-position:-90px 0px
	}
	5% {
		background-position:-90px 0px
	}
	5.001% {
		background-position:-135px 0px
	}
	7.5% {
		background-position:-135px 0px
	}
	7.501% {
		background-position:-180px 0px
	}
	10% {
		background-position:-180px 0px
	}
	10.001% {
		background-position:-225px 0px
	}
	12.5% {
		background-position:-225px 0px
	}
	12.501% {
		background-position:-270px 0px
	}
	15% {
		background-position:-270px 0px
	}
	15.001% {
		background-position:0px -43px
	}
	17.5% {
		background-position:0px -43px
	}
	17.501% {
		background-position:-45px -43px
	}
	20% {
		background-position:-45px -43px
	}
	20.001% {
		background-position:-90px -43px
	}
	22.5% {
		background-position:-90px -43px
	}
	22.501% {
		background-position:-135px -43px
	}
	25% {
		background-position:-135px -43px
	}
	25.001% {
		background-position:-180px -43px
	}
	27.5% {
		background-position:-180px -43px
	}
	27.501% {
		background-position:-225px -43px
	}
	30% {
		background-position:-225px -43px
	}
	30.001% {
		background-position:-270px -43px
	}
	32.5% {
		background-position:-270px -43px
	}
	32.501% {
		background-position:0px -86px
	}
	35% {
		background-position:0px -86px
	}
	35.001% {
		background-position:-45px -86px
	}
	37.5% {
		background-position:-45px -86px
	}
	37.501% {
		background-position:-90px -86px
	}
	40% {
		background-position:-90px -86px
	}
	40.001% {
		background-position:-135px -86px
	}
	42.5% {
		background-position:-135px -86px
	}
	42.501% {
		background-position:-180px -86px
	}
	45% {
		background-position:-180px -86px
	}
	45.001% {
		background-position:-225px -86px
	}
	47.5% {
		background-position:-225px -86px
	}
	47.501% {
		background-position:-270px -86px
	}
	50% {
		background-position:-270px -86px
	}
	50.001% {
		background-position:0px -129px
	}
	52.5% {
		background-position:0px -129px
	}
	52.501% {
		background-position:-45px -129px
	}
	55% {
		background-position:-45px -129px
	}
	55.001% {
		background-position:-90px -129px
	}
	57.5% {
		background-position:-90px -129px
	}
	57.501% {
		background-position:-135px -129px
	}
	60% {
		background-position:-135px -129px
	}
	60.001% {
		background-position:-180px -129px
	}
	62.5% {
		background-position:-180px -129px
	}
	62.501% {
		background-position:-225px -129px
	}
	65% {
		background-position:-225px -129px
	}
	65.001% {
		background-position:-270px -129px
	}
	67.5% {
		background-position:-270px -129px
	}
	67.501% {
		background-position:0px -172px
	}
	70% {
		background-position:0px -172px
	}
	70.001% {
		background-position:-45px -172px
	}
	72.5% {
		background-position:-45px -172px
	}
	72.501% {
		background-position:-90px -172px
	}
	75% {
		background-position:-90px -172px
	}
	75.001% {
		background-position:-135px -172px
	}
	77.5% {
		background-position:-135px -172px
	}
	77.501% {
		background-position:-180px -172px
	}
	80% {
		opacity:1;
		background-position:-180px -172px
	}
	90% {
		opacity:1;
		background-position:-180px -172px
	}
	95% {
		opacity:0;
		background-position:-180px -172px
	}
	95.001% {
		opacity:0;
		background-position:-270px -172px
	}
	100% {
		opacity:1;
		background-position:-270px -172px
	}
}
@-moz-keyframes upTrump {
	0% {
		background-position:0px 0px
	}
	0.001% {
		background-position:-45px 0px
	}
	2.5% {
		background-position:-45px 0px
	}
	2.501% {
		background-position:-90px 0px
	}
	5% {
		background-position:-90px 0px
	}
	5.001% {
		background-position:-135px 0px
	}
	7.5% {
		background-position:-135px 0px
	}
	7.501% {
		background-position:-180px 0px
	}
	10% {
		background-position:-180px 0px
	}
	10.001% {
		background-position:-225px 0px
	}
	12.5% {
		background-position:-225px 0px
	}
	12.501% {
		background-position:-270px 0px
	}
	15% {
		background-position:-270px 0px
	}
	15.001% {
		background-position:0px -43px
	}
	17.5% {
		background-position:0px -43px
	}
	17.501% {
		background-position:-45px -43px
	}
	20% {
		background-position:-45px -43px
	}
	20.001% {
		background-position:-90px -43px
	}
	22.5% {
		background-position:-90px -43px
	}
	22.501% {
		background-position:-135px -43px
	}
	25% {
		background-position:-135px -43px
	}
	25.001% {
		background-position:-180px -43px
	}
	27.5% {
		background-position:-180px -43px
	}
	27.501% {
		background-position:-225px -43px
	}
	30% {
		background-position:-225px -43px
	}
	30.001% {
		background-position:-270px -43px
	}
	32.5% {
		background-position:-270px -43px
	}
	32.501% {
		background-position:0px -86px
	}
	35% {
		background-position:0px -86px
	}
	35.001% {
		background-position:-45px -86px
	}
	37.5% {
		background-position:-45px -86px
	}
	37.501% {
		background-position:-90px -86px
	}
	40% {
		background-position:-90px -86px
	}
	40.001% {
		background-position:-135px -86px
	}
	42.5% {
		background-position:-135px -86px
	}
	42.501% {
		background-position:-180px -86px
	}
	45% {
		background-position:-180px -86px
	}
	45.001% {
		background-position:-225px -86px
	}
	47.5% {
		background-position:-225px -86px
	}
	47.501% {
		background-position:-270px -86px
	}
	50% {
		background-position:-270px -86px
	}
	50.001% {
		background-position:0px -129px
	}
	52.5% {
		background-position:0px -129px
	}
	52.501% {
		background-position:-45px -129px
	}
	55% {
		background-position:-45px -129px
	}
	55.001% {
		background-position:-90px -129px
	}
	57.5% {
		background-position:-90px -129px
	}
	57.501% {
		background-position:-135px -129px
	}
	60% {
		background-position:-135px -129px
	}
	60.001% {
		background-position:-180px -129px
	}
	62.5% {
		background-position:-180px -129px
	}
	62.501% {
		background-position:-225px -129px
	}
	65% {
		background-position:-225px -129px
	}
	65.001% {
		background-position:-270px -129px
	}
	67.5% {
		background-position:-270px -129px
	}
	67.501% {
		background-position:0px -172px
	}
	70% {
		background-position:0px -172px
	}
	70.001% {
		background-position:-45px -172px
	}
	72.5% {
		background-position:-45px -172px
	}
	72.501% {
		background-position:-90px -172px
	}
	75% {
		background-position:-90px -172px
	}
	75.001% {
		background-position:-135px -172px
	}
	77.5% {
		background-position:-135px -172px
	}
	77.501% {
		background-position:-180px -172px
	}
	80% {
		opacity:1;
		background-position:-180px -172px
	}
	90% {
		opacity:1;
		background-position:-180px -172px
	}
	95% {
		opacity:0;
		background-position:-180px -172px
	}
	95.001% {
		opacity:0;
		background-position:-270px -172px
	}
	100% {
		opacity:1;
		background-position:-270px -172px
	}
}
@-o-keyframes upTrump {
	0% {
		background-position:0px 0px
	}
	0.001% {
		background-position:-45px 0px
	}
	2.5% {
		background-position:-45px 0px
	}
	2.501% {
		background-position:-90px 0px
	}
	5% {
		background-position:-90px 0px
	}
	5.001% {
		background-position:-135px 0px
	}
	7.5% {
		background-position:-135px 0px
	}
	7.501% {
		background-position:-180px 0px
	}
	10% {
		background-position:-180px 0px
	}
	10.001% {
		background-position:-225px 0px
	}
	12.5% {
		background-position:-225px 0px
	}
	12.501% {
		background-position:-270px 0px
	}
	15% {
		background-position:-270px 0px
	}
	15.001% {
		background-position:0px -43px
	}
	17.5% {
		background-position:0px -43px
	}
	17.501% {
		background-position:-45px -43px
	}
	20% {
		background-position:-45px -43px
	}
	20.001% {
		background-position:-90px -43px
	}
	22.5% {
		background-position:-90px -43px
	}
	22.501% {
		background-position:-135px -43px
	}
	25% {
		background-position:-135px -43px
	}
	25.001% {
		background-position:-180px -43px
	}
	27.5% {
		background-position:-180px -43px
	}
	27.501% {
		background-position:-225px -43px
	}
	30% {
		background-position:-225px -43px
	}
	30.001% {
		background-position:-270px -43px
	}
	32.5% {
		background-position:-270px -43px
	}
	32.501% {
		background-position:0px -86px
	}
	35% {
		background-position:0px -86px
	}
	35.001% {
		background-position:-45px -86px
	}
	37.5% {
		background-position:-45px -86px
	}
	37.501% {
		background-position:-90px -86px
	}
	40% {
		background-position:-90px -86px
	}
	40.001% {
		background-position:-135px -86px
	}
	42.5% {
		background-position:-135px -86px
	}
	42.501% {
		background-position:-180px -86px
	}
	45% {
		background-position:-180px -86px
	}
	45.001% {
		background-position:-225px -86px
	}
	47.5% {
		background-position:-225px -86px
	}
	47.501% {
		background-position:-270px -86px
	}
	50% {
		background-position:-270px -86px
	}
	50.001% {
		background-position:0px -129px
	}
	52.5% {
		background-position:0px -129px
	}
	52.501% {
		background-position:-45px -129px
	}
	55% {
		background-position:-45px -129px
	}
	55.001% {
		background-position:-90px -129px
	}
	57.5% {
		background-position:-90px -129px
	}
	57.501% {
		background-position:-135px -129px
	}
	60% {
		background-position:-135px -129px
	}
	60.001% {
		background-position:-180px -129px
	}
	62.5% {
		background-position:-180px -129px
	}
	62.501% {
		background-position:-225px -129px
	}
	65% {
		background-position:-225px -129px
	}
	65.001% {
		background-position:-270px -129px
	}
	67.5% {
		background-position:-270px -129px
	}
	67.501% {
		background-position:0px -172px
	}
	70% {
		background-position:0px -172px
	}
	70.001% {
		background-position:-45px -172px
	}
	72.5% {
		background-position:-45px -172px
	}
	72.501% {
		background-position:-90px -172px
	}
	75% {
		background-position:-90px -172px
	}
	75.001% {
		background-position:-135px -172px
	}
	77.5% {
		background-position:-135px -172px
	}
	77.501% {
		background-position:-180px -172px
	}
	80% {
		opacity:1;
		background-position:-180px -172px
	}
	90% {
		opacity:1;
		background-position:-180px -172px
	}
	95% {
		opacity:0;
		background-position:-180px -172px
	}
	95.001% {
		opacity:0;
		background-position:-270px -172px
	}
	100% {
		opacity:1;
		background-position:-270px -172px
	}
}
.entry {
	padding-top:7px
}
.link.last-clicked {
	border:none
}
.thing.stickied {
	border-radius:3px;
	border-left:2px solid #bc0000;
	margin-left:-2px;
	border-bottom:2px solid rgba(255,165,0,0.3);
	background:linear-gradient(#ffffff,rgba(255,165,0,0.05))
}
.res-nightmode .thing.stickied {
	border-radius:3px;
	border-left:2px solid #bc0000;
	margin-left:-2px;
	border-bottom:2px solid rgb(93,4,4);
	background:linear-gradient(#2c2f48,rgb(0,0,0))
}
.thing.stickied a.title,.thing.stickied a.title:visited,.thing.stickied a.title.visited {
	font-weight:normal;
	padding:0 8px 0 8px;
	font-weight:normal;
	font-family:"Trebuchet MS1",sans-serif;
	padding:8px;
	background-color:#bc0000;
	color:#ffffff;
	line-height:28px;
	text-shadow:1px 1px 4px rgba(0,0,0,1)
}
.stickied-tagline:before {
	content:"stickied";
	font-size:12px
}
.stickied-tagline {
	font-size:0px
}
.res-nightmode a.title:visited {
	color:#747772!important
}
.thing.stickied a.title::after {
	content:" ★"
}
.thing.stickied a.title::before {
	content:"★ "
}
.domain a {
	color:#e00000;
	display:inline-block;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	vertical-align:middle;
	max-width:19em;
	font-size:10px;
	font-weight:bolder
}
.domain {
	color:#e00000
}
.res-nightmode .domain {
	color:#96a4b1!important
}
.stickied .title {
	color:white!important
}
.link .title {
	font-family:"Trebuchet MS1",sans-serif!important
}
.stickied-tagline {
	color:orange!important
}
.promotedlink .thumbnail {
	height:70px!important;
	width:70px!important;
	background:none!important
}
.menuarea {
	border-bottom:none!important
}
.dropdown.lightdrop .selected {
	text-decoration:none!important
}
.commentarea .usertext .usertext-edit .bottom-area:before {
	margin-top:3px;
	content:"Posts that disrespect President Trump will be quickly removed. Please ask questions about Trump on /r/AskThe_Donald.";
	display:block;
	padding:5px;
	background-color:#263982;
	border-bottom:3px solid #8B181D!important;
	color:#fff;
	font-size:12px;
	font-weight:bold;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	border-radius:0px
}
.link .entry li .comments {
	visibility:visible;
	color:#5a78c4;
	font-weight:bold;
	font-size:11px
}
.entry .buttons a[onclick*="reply"] {
	color:#5a78c4;
	font-size:11px
}
.tagline {
	font-family:Arial,Sans-Serif!important;
	font-size:12px
}
.res-commentBoxes .comment {
	padding-left:0px!important;
	border-bottom:0px solid #ddd!important;
	border-right:0px solid #ddd!important;
	border-top:1px solid #f5f5f5!important;
	border-left:2px solid #ddd!important;
	border-radius:0px!important;
	margin-bottom:5px!important
}
.comment,.comment .showreplies {
	padding-left:0px!important;
	border-bottom:0px solid #ddd!important;
	border-right:0px solid #ddd!important;
	border-top:1px solid #f5f5f5!important;
	border-left:2px solid #ddd!important;
	border-radius:0px!important;
	margin-bottom:5px!important
}
.comment .child,.comment .showreplies {
	border:none
}
.commentarea .usertext textarea:focus,.roundfield .usertext-edit textarea:focus {
	background-position:0 -200px;
	right:-100px
}
a[href="http://suicidepreventionlifeline.org"]:after {
	content:url("/themes/res/lRa30oKWwxhcqwfa800MoRkkoMsVFEyq9s388LPknoo.png")
}
.res-nightmode body,.res-nightmode body .content,.res-nightmode .modal-body,.res-nightmode .side,.res-nightmode .icon-menu a,.res-nightmode .side .leavemoderator,.res-nightmode .side .leavecontributor-button,.res-nightmode .side .titlebox,.res-nightmode .side .spacer .titlebox .redditname,.res-nightmode .side .titlebox .flairtoggle,.res-nightmode .side .usertext-body .md ol,.res-nightmode .side .usertext-body .md ol ol,.res-nightmode .side .usertext-body .md ol ol li,.res-nightmode .modactionlisting table *,.res-nightmode .side .recommend-box .rec-item {
	background-color:rgb(38,38,38)!important;
	border-color:rgb(119,119,119)
}
.md .-lists,.md ul,.md ol {
	padding-left:20px
}
.side ul.content {
	background-color:#f0f0f0
}
.icon-menu a {
	background:#f0f0f0
}
.res-nightmode .icon-menu a {
	background:#262626!important
}
.infobar {
	background-color:#fff;
	border:2px solid #bf0000;
	text-align:justify;
	-moz-box-shadow:0px 0px 5px 0px rgba(0,0,0,0.4);
	-webkit-box-shadow:0px 0px 5px 0px rgba(0,0,0,0.4);
	box-shadow:0px 0px 5px 0px rgba(0,0,0,0.4);
	border-radius:0!important
}
.formtabs-content .infobar {
	padding:12px
}
#search_showmore {
	display:none
}
.side a[href="https://twitter.com/TheDonaldReddit"] {
	position:absolute;
	top:60px;
	left:50%;
	margin-left:-50px;
	display:inline-block;
	height:28px;
	width:105px;
	background:url("/themes/res/YTfk3wlQ76sYUmXZKtYp1IEHIn2r3YcSyRPzgisHeU8.png")no-repeat 0px -352px;
	z-index:999
}
.side a[href="https://twitter.com/TheDonaldReddit"]:hover {
	-moz-transform:translate(5px,0px);
	-ms-transform:translate(5px,0px);
	-o-transform:translate(5px,0px);
	-webkit-transform:translate(5px,0px);
	transform:translate(5px,0px)
}
.side a[href="https://www.facebook.com/TheDonaldMovement/"] {
	position:absolute;
	top:90px;
	left:50%;
	margin-left:-37px;
	display:inline-block;
	height:28px;
	width:123px;
	background:url("/themes/res/YTfk3wlQ76sYUmXZKtYp1IEHIn2r3YcSyRPzgisHeU8.png")no-repeat -122px -352px;
	z-index:999
}
.side a[href="https://www.facebook.com/TheDonaldMovement/"]:hover {
	-moz-transform:translate(5px,0px);
	-ms-transform:translate(5px,0px);
	-o-transform:translate(5px,0px);
	-webkit-transform:translate(5px,0px);
	transform:translate(5px,0px)
}
.side a[href="https://cgiirc.synirc.net/irc.cgi?chan=%23trump"] {
	position:absolute;
	top:120px;
	left:50%;
	margin-left:-37px;
	display:inline-block;
	height:29px;
	width:122px;
	background:url("/themes/res/YTfk3wlQ76sYUmXZKtYp1IEHIn2r3YcSyRPzgisHeU8.png")no-repeat -3px -397px;
	z-index:999
}
.side a[href="https://cgiirc.synirc.net/irc.cgi?chan=%23trump"]:hover {
	-moz-transform:translate(5px,0px);
	-ms-transform:translate(5px,0px);
	-o-transform:translate(5px,0px);
	-webkit-transform:translate(5px,0px);
	transform:translate(5px,0px)
}
.side a[href="https://discord.gg/PxT64vv"] {
	position:absolute;
	top:150px;
	left:50%;
	margin-left:-50px;
	display:inline-block;
	height:28px;
	width:114px;
	background:url("/themes/res/YTfk3wlQ76sYUmXZKtYp1IEHIn2r3YcSyRPzgisHeU8.png")no-repeat -122px -397px;
	z-index:999
}
.side a[href="https://discord.gg/PxT64vv"]:hover {
	-moz-transform:translate(5px,0px);
	-ms-transform:translate(5px,0px);
	-o-transform:translate(5px,0px);
	-webkit-transform:translate(5px,0px);
	transform:translate(5px,0px)
}
.side a[href="https://www.reddit.com/r/The_Donald/"] {
	position:absolute;
	top:105px;
	left:24px;
	display:inline-block;
	height:95px;
	width:144px;
	background:url("/themes/res/0Hq6mRzlpuNEcbN5Il87MXOoO4IYttLTKc4qkRnREfA.png")no-repeat;
	z-index:999
}
.side a[href=""] {
	position:absolute;
	width:300px;
	height:400px;
	top:232px;
	right:9px;
	content:".";
	z-index:100!important
}
.side .md>ul:nth-of-type(1) {
	font-size:16px;
	color:#556;
	box-shadow:0 0 3px rgba(0,0,0.15);
	border-radius:3px;
	overflow:hidden;
	list-style:none;
	padding:0;
	margin:0
}
.side .md>ul:nth-of-type(1),.side .md>ul:nth-of-type(1)::before {
	position:absolute;
	bottom:calc(100% - 184px);
	width:300px;
	background-color:rgba(240,240,240,0.9);
	z-index:500;
	right:16px;
	-webkit-box-shadow:0px 0px 17px 3px rgba(0,0,0,0.75);
	-moz-box-shadow:0px 0px 17px 3px rgba(0,0,0,0.75);
	box-shadow:0px 0px 17px 3px rgba(0,0,0,0.75)
}
.side .md>ul:nth-of-type(1)::before {
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:0;
	opacity:0.4;
	border:10px solid #CCC
}
.side .md>ul:nth-of-type(1) li {
	position:relative;
	z-index:1;
	padding:0;
	margin:0;
	list-style:none
}
side .md>ul:nth-of-type(1) li>strong::after {
	content:"";
	display:block;
	position:absolute;
	top:.25em;
	right:-.25em;
	width:24px;
	height:24px
}
.side .md>ul:nth-of-type(1) ul {
	border-radius:4px;
	padding:4px 8px;
	margin:2px 3px 1px;
	font-size:12px;
	padding-bottom:8px;
	padding-top:8px
}
.side .md>ul:nth-of-type(1) a {
	color:#343434;
	line-height:20px;
	overflow:hidden;
	display:inline-block;
	max-height:19px
}
.side .md>ul:nth-of-type(1) a::before {
	content:"★ "!important;
	color:#bc0000
}
.res-nightmode a,.res-nightmode .md a,.res-nightmode .share-button .option,.res-nightmode #subscribe a,.res-nightmode .share .option,.res-nightmode .wired a,.res-nightmode .side a,.res-nightmode .link .score.dislikes,.res-nightmode .linkcompressed .score.dislikes,.res-nightmode a[rel="tag"],.res-nightmode .dsq-help,.res-nightmode #authorInfoToolTip h3 a,.res-nightmode .reddiquette,.res-nightmode .parent .author,.res-nightmode .parent .subreddit,.res-nightmode .combined-search-page .search-result a,.res-nightmode .combined-search-page .search-result a>mark,.res-nightmode .hoverHelp,.res-nightmode .deepthread a,.res-nightmode .policy-page .md h1 a,.res-nightmode .policy-page .md h3 a {
	color:rgb(150,164,177)!important
}
.res-nightmode .side .titlebox form.flairtoggle,.res-nightmode .trophy-area .content,.res-nightmode .side .md ol,.res-nightmode .side .md ul {
	background-color:rgb(38,38,38)!important
}
injected stylesheet .side .md>ul:nth-of-type(1) a:hover {
	color:#bc0000
}
.side .md>ul:nth-of-type(1)>li>strong {
	background:#bc0000;
	border:rgba(255,255,255,.25) solid;
	border-width:1px 0;
	display:block;
	margin:0 -1em .25em;
	padding:.25em 1em;
	font-weight:100;
	font-size:14px;
	color:#ffffff;
	text-transform:uppercase;
	text-align:center;
	text-shadow:1px 1px 7px rgba(0,0,0,1);
	-webkit-box-shadow:0px 4px 8px -1px rgba(0,0,0,0.75);
	-moz-box-shadow:0px 4px 8px -1px rgba(0,0,0,0.75);
	box-shadow:0px 4px 8px -1px rgba(0,0,0,0.75)
}
.side #search input[type=text] {
	-webkit-box-shadow:0px 0px 5px 0px rgba(0,0,0,0.4);
	-moz-box-shadow:0px 0px 5px 0px rgba(0,0,0,0.4);
	box-shadow:0px 0px 5px 0px rgba(0,0,0,0.4);
	border:2px solid #cc0202;
	width:280px;
	margin-top:180px;
	margin-left:28px
}
#search input[type=submit] {
	margin-top:180px
}
.search-result-group footer .info {
	padding:10px
}
.login-form-side {
	border:none
}
.side #search {
	position:absolute;
	right:13px;
	top:75px;
	width:315px
}
.res-nightmode .sidebox,.res-nightmode .subreddit-info,.res-nightmode .raisedbox,.res-nightmode .login-form-side,.res-nightmode .interstitial-subreddit-description {
	background-color:#262626;
	color:rgb(170,170,170);
	border-color:rgb(21,21,21)
}
.side .submit-link .morelink {
	background-image:url("/themes/res/YTfk3wlQ76sYUmXZKtYp1IEHIn2r3YcSyRPzgisHeU8.png")!important;
	background-position:0px -299px;
	background-repeat:no-repeat;
	border:none;
	font-size:0;
	padding-top:7px;
	padding-bottom:7px;
	border-radius:1.5px;
	margin-right:8px;
	margin-left:8px;
	-webkit-box-shadow:0px 4px 8px -1px rgba(0,0,0,0.75);
	-moz-box-shadow:0px 4px 8px -1px rgba(0,0,0,0.75);
	box-shadow:0px 4px 8px -1px rgba(0,0,0,0.75)
}
.side .submit-link .morelink:hover {
	-webkit-box-shadow:0px 6px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow:0px 6px 14px 0px rgba(0,0,0,0.75);
	box-shadow:0px 6px 14px 0px rgba(0,0,0,0.75)
}
.side .submit-link .morelink a:after {
	content:"Submit a Link";
	color:#fff;
	transition:all .3s ease;
	text-transform:uppercase;
	font-size:15px;
	line-height:2em;
	margin-top:0.625em;
	margin-bottom:0.625em;
	font-family:"Trebuchet MS1",sans-serif;
	text-rendering:optimizeLegibility;
	margin-left:13px;
	font-weight:normal!important;
	letter-spacing:0.5px;
	text-shadow:1px 1px 7px rgba(0,0,0,1)
}
.side .submit-link .morelink a:hover:after {
	color:#fff;
	text-shadow:0px 5px 8px rgba(0,0,0,1)
}
.side .submit-text .morelink {
	background-image:url("/themes/res/YTfk3wlQ76sYUmXZKtYp1IEHIn2r3YcSyRPzgisHeU8.png")!important;
	background-position:0px -0px;
	background-repeat:no-repeat;
	background-color:#b62026!important;
	border:none;
	font-size:0;
	font-family:"Trebuchet MS1",sans-serif;
	text-rendering:optimizeLegibility;
	font-weight:normal!important;
	padding-top:7px;
	padding-bottom:7px;
	border-radius:1.5px;
	-webkit-box-shadow:0px 4px 8px -1px rgba(0,0,0,0.75);
	-moz-box-shadow:0px 4px 8px -1px rgba(0,0,0,0.75);
	box-shadow:0px 4px 8px -1px rgba(0,0,0,0.75);
	margin-right:8px;
	margin-left:8px
}
.side .submit-text .morelink:hover {
	-webkit-box-shadow:0px 6px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow:0px 6px 14px 0px rgba(0,0,0,0.75);
	box-shadow:0px 6px 14px 0px rgba(0,0,0,0.75)
}
.side .submit-text .morelink a:after {
	content:"Submit a Text Post";
	color:#fff;
	transition:all .3s ease;
	text-transform:uppercase;
	font-size:15px;
	line-height:2em;
	margin-top:0.625em;
	margin-bottom:0.625em;
	font-family:"Trebuchet MS1",sans-serif;
	text-rendering:optimizeLegibility;
	margin-left:13px;
	letter-spacing:0.5px;
	text-shadow:1px 1px 7px rgba(0,0,0,1)
}
.side .submit-text .morelink a:hover:after {
	color:#fff;
	text-shadow:0px 5px 8px rgba(0,0,0,1)
}
.morelink .nub {
	display:none
}
.submit-link .morelink::after {
	content:" ";
	padding:10px;
	height:100px;
	font-weight:normal!important;
	position:absolute;
	display:block;
	background-color:#2b325f;
	color:#FFF;
	z-index:200;
	transition:200ms;
	border-radius:2px;
	pointer-events:none;
	font-size:17px;
	width:300px;
	top:0px;
	margin-right:300px;
	opacity:0;
	right:-13px;
	border-bottom:3px solid #555555!important;
	background-image:url("/themes/res/YTfk3wlQ76sYUmXZKtYp1IEHIn2r3YcSyRPzgisHeU8.png")!important;
	background-position:0px -46px;
	background-repeat:no-repeat;
	text-align:left;
	-webkit-box-shadow:0px 4px 8px -1px rgba(0,0,0,0.75);
	-moz-box-shadow:0px 4px 8px -1px rgba(0,0,0,0.75);
	box-shadow:0px 4px 8px -1px rgba(0,0,0,0.75)
}
.submit-text .morelink::after {
	content:" ";
	padding:10px;
	height:100px;
	font-weight:normal!important;
	position:absolute;
	display:block;
	background-color:#2b325f;
	color:#FFF;
	z-index:200;
	transition:200ms;
	border-radius:2px;
	pointer-events:none;
	font-size:17px;
	width:300px;
	top:0px;
	margin-right:300px;
	opacity:0;
	right:-13px;
	border-bottom:3px solid #555555!important;
	background-image:url("/themes/res/YTfk3wlQ76sYUmXZKtYp1IEHIn2r3YcSyRPzgisHeU8.png")!important;
	background-position:0px -177px;
	background-repeat:no-repeat;
	text-align:left;
	-webkit-box-shadow:0px 4px 8px -1px rgba(0,0,0,0.75);
	-moz-box-shadow:0px 4px 8px -1px rgba(0,0,0,0.75);
	box-shadow:0px 4px 8px -1px rgba(0,0,0,0.75)
}
.morelink:hover:after {
	margin-right:310px;
	opacity:100
}
.side .redditname,.side .leavemoderator {
	display:none
}
body:not(.subscriber) .arrow {
	visibility:hidden
}
body:not(.loggedin) .arrow {
	visibility:visible!important
}
#tb-bottombar {
	z-index:214748364!important
}
.listing-page.loggedin .option.add.login-required.active:after,.comments-page.loggedin .option.add.login-required.active:after {
	position:fixed;
	display:block;
	padding:0px;
	content:"SUBSCRIBE TO UNLOCK VOTING!";
	text-align:center;
	bottom:0px;
	font-size:42px;
	left:0;
	width:100%;
	background-image:url("/themes/res/UzqbuDWLmZQ44TDR1SutT9AqeXtshSXiemUkid1Cb2c.png");
	font-weight:bold;
	z-index:2147483647!important;
	font-family:Arial;
	color:white!important;
	height:474px;
	animation:subscribe 0.6s steps(9) infinite;
	color:red!important;
	line-height:45px
}
@keyframes subscribe {
	100% {
		background-position:0px -4266px
	}
}
#subButtons-The_Donald {
	margin-top:-40px;
	margin-left:26px
}
.titlebox {
	margin-top:20px
}
.res .titlebox form.flairtoggle {
	margin-top:10px
}
.fancy-toggle-button .remove {
	background-image:none!important;
	background-color:transparent;
	border:none;
	color:#4f4f4f
}
.fancy-toggle-button .add {
	background-image:none!important;
	background-color:transparent;
	border:none;
	color:#4f4f4f
}
.res .RESDashboardToggle,.res .RESshortcutside {
	background-image:none!important;
	border:none;
	color:#4f4f4f
}
.side .md h3 {
	position:relative;
	color:white;
	background:#2b325f!important;
	border:none;
	text-align:center;
	padding:7px 40px;
	border-bottom:3px solid #bc0000!important;
	border-radius:1.5px;
	-webkit-box-shadow:0px 4px 8px -1px rgba(0,0,0,0.75);
	-moz-box-shadow:0px 4px 8px -1px rgba(0,0,0,0.75);
	box-shadow:0px 4px 8px -1px rgba(0,0,0,0.75)
}
.side .md h1+blockquote {
	box-shadow:0px 0px 5px 0px rgba(0,0,0,0.4);
	margin-left:-2px;
	border:none;
	border-radius:4px;
	padding:8px;
	font-size:12px;
	color:gray
}
.side .md h1 {
	display:none
}
.side .md h3+blockquote {
	background:url("/themes/res/piV15FSu9hGHWP6kyncSZfbxMM13cCXsPkhZxteDqTQ.png") repeat transparent!important;
	background-color:transparent;
	border-style:none;
	box-shadow:0 5px 5px -5px gray;
	color:#000;
	margin-top:-9px;
	margin-right:2px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
	padding-top:5px;
	padding-bottom:5px;
	margin-left:2px;
	padding:14px
}
.res-nightmode .side .md h3+blockquote {
	background:url("/themes/res/A5P3FI6KOQ5E9udhoakNrvkSuU8ZxdZx_CdFb0XMuJ8.png") repeat transparent!important
}
.side .md h3 a {
	color:white!important
}
.side .md h3:before {
	content:"";
	position:absolute;
	top:50%;
	left:0;
	width:30px;
	height:28px;
	margin-top:-10px;
	margin-left:12px;
	background:url("/themes/res/S2tV972B0rg7MkXrwSziKHsQj8gxWV20tPwOWAh2E60.png") left top no-repeat
}
.side .md h3:after {
	content:"";
	position:absolute;
	top:50%;
	right:0;
	width:30px;
	height:28px;
	margin-top:-10px;
	margin-right:2px;
	background:url("/themes/res/S2tV972B0rg7MkXrwSziKHsQj8gxWV20tPwOWAh2E60.png") left top no-repeat
}
.side .bottom {
	border:0
}
.sidebox.create .morelink {
	display:none
}
.sidebox.create .morelink {
	display:none
}
.sidebox.submit .spacer a,.sidebox.create .spacer a {
	display:none
}
.sidebox.create .morelink {
	display:none
}
.sidebox.submit .spacer {
	display:none
}
.sidebox.create .spacer {
	display:none
}
.side .sidecontentbox .content:nth-child(3) {
	pointer-events:none
}
.side .sidecontentbox .content .more {
	pointer-events:auto
}
.side .sidecontentbox#moderation_tools .content {
	pointer-events:auto
}
.sidecontentbox a.helplink {
	margin-top:3px!important
}
.sidecontentbox {
	padding:4px;
	padding-top:8px;
	box-shadow:0px 0px 5px 0px rgba(0,0,0,0.4);
	-webkit-box-shadow:0px 0px 5px 0px rgba(0,0,0,0.4);
	-moz-box-shadow:0px 0px 5px 0px rgba(0,0,0,0.4);
	border-radius:4px
}
.res-nightmode.sidecontentbox {
	background-color:#262626!important
}
.side ul.content {
	border:none
}
.sidecontentbox .title h1 {
	margin-left:4px;
	font-family:Arial;
	font-size:12px
}
.side .bottom {
	font-size:0;
	content:"";
	position:relative
}
.side .bottom .age {
	font-size:x-small
}
.side .bottom .age:before {
	content:"Pepe loves you.";
	position:absolute;
	left:0
}
.linkflairlabel {
	display:inline-flex;
	height:17px;
	vertical-align:bottom;
	line-height:17px;
	padding:0 4px
}
.linkflairlabel[title*="DUBS!"] {
	background-color:#66a3ff;
	font-weight:bold;
	color:white
}
.linkflairlabel[title*="TRIPS FTW:"] {
	background-color:#66a3ff;
	font-weight:bold;
	color:white
}
.linkflairlabel[title*="FRES"] {
	background-color:#66a3ff;
	color:white
}
.linkflairlabel[title="CASTING COUCH"] {
	background-color:#66a3ff;
	color:white
}
.linkflairlabel[title="200k STRONG!"] {
	background-color:#b60101;
	color:white;
	font-size:15px;
	font-weight:bold;
	border-color:#b60101;
	border-width:1px;
	border-radius:7px
}
.linkflair-high-energy .linkflairlabel {
	background-color:#D50000;
	color:#fff;
	border-color:#D50000
}
.linkflair-high-energy .linkflairlabel {
	background-color:#D50000;
	color:#fff;
	border-color:#D50000
}
.linkflair-ptblue .linkflairlabel {
	background-color:#0000FE;
	color:#fff;
	border-color:#0000FE
}
.linkflair-pepe .linkflairlabel {
	background-color:#388E3C;
	color:#fff;
	border-color:#388E3C
}
.linkflair-spicy .linkflairlabel {
	background-color:#F4511E;
	color:#fff;
	border-color:#F4511E
}
.linkflair-altleft .linkflairlabel {
	background-color:#000;
	color:#fff;
	border-color:#e60000
}
.linkflair-trump .linkflairlabel {
	background-color:#FDD835;
	color:#000;
	border-color:#F9A825;
	font-family:"Century Gothic",CenturyGothic,AppleGothic,sans-serif;
	font-style:normal;
	font-variant:normal;
	font-weight:bolder
}
.linkflair-nsfcucks .linkflairlabel {
	background-color:#FFEB3B;
	color:#000;
	border-color:#FFEB3B
}
.linkflair-america .linkflairlabel {
	background:repeating-linear-gradient(0deg,#1565C0,#0D47A1 10px,#B71C1C 10px,#C62828 20px);
	color:white;
	border:none;
	height:19px;
	line-height:19px
}
.linkflair-live .linkflairlabel {
	background-color:#D50000;
	color:#fff;
	border-color:#004D40;
	font-weight:bold
}
.linkflair-ttweet .linkflairlabel {
	background-color:#4099FF;
	color:#fff;
	border-color:#4099FF
}
.linkflair-fired .linkflairlabel {
	background-color:#D50000;
	color:#fff;
	border-color:#004D40
}
.flairselector {
	position:fixed;
	top:10px!important;
	left:50%!important;
	margin-left:-225px;
	padding:32px!important;
	max-height:500px;
	width:540px!important;
	z-index:9999999;
	border:none;
	border-radius:2px;
	box-shadow:0 0 16px rgba(0,0,0,0.64)
}
.flairselector.drop-choices.active {
	border:1px solid #e2e2e2
}
.flairselector h2 {
	margin-bottom:4px;
	background-color:transparent;
	color:#3F7CCB;
	text-align:left;
	text-transform:capitalize;
	font-weight:400;
	font-size:18px
}
.flairoptionpane {
	max-height:300px;
	text-align:left
}
.flairselector .flairoptionpane ul li {
	padding:0!important
}
body:lang(np):not(.subscriber) .arrow {
	visibility:hidden!important
}
body:lang(np):not(.subscriber) .usertext-edit,body:lang(np):not(.subscriber) .sidebox.submit,body:lang(np):not(.subscriber) .commentingAs,body:lang(np):not(.subscriber) .markdownEditor,body:lang(np):not(.subscriber) a[onclick*="return reply(this)"],body:lang(np):not(.subscriber) .subButtons,body:lang(np):not(.subscriber) .helplink,body:lang(np):not(.subscriber) .titlebox .fancy-toggle-button.toggle>.option.add {
	display:none!important
}
.titlebox .fancy-toggle-button {
	width:80px
}
body:lang(np):not(.subscriber) #siteTable:before {
	content:"You have been linked to a read-only version of this subreddit. Please respect the community by not voting.";
	display:block;
	max-width:800px;
	background-color:#F6E69F;
	padding:5px 10px;
	margin:5px 305px 5px 0px;
	border:1px solid orange;
	font-size:small
}
body:lang(np):not(.subscriber) .entry.likes:not(.reddit-entry):before,body:lang(np):not(.subscriber) .entry.dislikes:not(.reddit-entry):before {
	content:"Please do not vote or comment when you come from external subreddits.";
	color:red;
	font-size:large;
	font-weight:bold
}
body.wiki-page:lang(np):not(.subscriber) span.pageactions a.wikiaction-edit:not(.wikiaction-current),body.wiki-page:lang(np):not(.subscriber) div.wiki-page-content form#editform label[for="reason"],body.wiki-page:lang(np):not(.subscriber) div.wiki-page-content form#editform input#wiki_revision_reason,body.wiki-page:lang(np):not(.subscriber) div.wiki-page-content form#editform input[type="submit"] {
	display:none!important
}
.thing .md blockquote {
	display:block;
	background:#fff;
	padding:10px 20px 10px 35px;
	margin:20px 10px;
	position:relative;
	line-height:1.2;
	color:#444;
	text-align:justify;
	border-left:5px solid #586698;
	border-radius:3px
}
.thing .md blockquote::before {
	content:"“";
	font-family:Georgia,serif;
	font-size:40px;
	font-weight:bold;
	color:#B93A43;
	position:absolute;
	left:10px;
	top:5px
}
.thing .md blockquote::after {
	content:""
}
.thing .md blockquote a {
	text-decoration:none;
	background:#eee;
	cursor:pointer;
	padding:0 3px;
	color:#c76c0c
}
.thing .md blockquote a:hover {
	color:#666
}
.thing .md blockquote em {
	font-style:italic
}
.commentarea .thing .mdblockquote {
	margin:10px;
	background:#f3f9fe
}
@keyframes rainbow {
	0% {
		color:red
	}
	14% {
		color:orange
	}
	28% {
		color:yellow
	}
	42% {
		color:green
	}
	56% {
		color:blue
	}
	70% {
		color:#4B0082
	}
	84% {
		color:purple
	}
}
@-moz-keyframes rainbow {
	0% {
		color:red
	}
	14% {
		color:orange
	}
	28% {
		color:yellow
	}
	42% {
		color:green
	}
	56% {
		color:blue
	}
	70% {
		color:#4B0082
	}
	84% {
		color:purple
	}
}
@-webkit-keyframes rainbow {
	0% {
		color:red
	}
	14% {
		color:orange
	}
	28% {
		color:yellow
	}
	42% {
		color:green
	}
	56% {
		color:blue
	}
	70% {
		color:#4B0082
	}
	84% {
		color:purple
	}
}
.linkflair-rainbownotice .linkflairlabel {
	background:black;
	color:red;
	-webkit-animation:rainbow 4s linear infinite;
	-moz-animation:rainbow 4s linear infinite;
	animation:rainbow 4s linear infinite
}
.linkflair-rednotice .linkflairlabel {
	background:black;
	color:red;
	-webkit-animation:rainbow 2.5s linear infinite;
	-moz-animation:rainbow 2.5s linear infinite;
	animation:rainbow 2.5s linear infinite
}
.linkflair-ladiesnite .linkflairlabel {
	background:PINK;
	color:red;
	-webkit-animation:rainbow 4s linear infinite;
	-moz-animation:rainbow 4s linear infinite;
	animation:rainbow 4s linear infinite
}
.res-nightmode .listing-page .linkflair-ttweet {
	background:linear-gradient(#001725,#000000)
}
.listing-page .linkflair-ttweet {
	background:-ms-linear-gradient(#ffffff,#dcf2ff);
	background:-webkit-linear-gradient(#ffffff,#dcf2ff);
	background:-o-linear-gradient(#ffffff,#dcf2ff);
	background:-moz-linear-gradient(#ffffff,#dcf2ff);
	background:linear-gradient(#ffffff,#dcf2ff)
}
.gilded-icon:before {
	background-image:url("/themes/res/i4sb5oZtTbJNO74rWdmXlsLYs_hqhu8gGA530BsdlTk.png");
	background-position:0;
	background-repeat:no-repeat;
	background-size:25px;
	height:25px;
	width:25px
}
.gilded-gid2-icon::before {
	background-image:url("/themes/res/i4sb5oZtTbJNO74rWdmXlsLYs_hqhu8gGA530BsdlTk.png");
	background-position:0;
	background-repeat:no-repeat;
	background-size:25px;
	height:25px;
	width:25px
}
.res-nightmode .flair,.res-nightmode .linkflairlabel {
	color:rgb(200,200,200);
	background-color:transparent!important;
	border-color:transparent!important
}
.nextprev a,.next-suggestions a {
	padding:5px 14px;
	background:#4644ab;
	border:1px solid #8c8c8c;
	border-radius:3px;
	font-weight:bold;
	text-transform:uppercase;
	color:#fff
}
.nextprev a:hover,.next-suggestions a:hover {
	padding:5px 14px;
	background:#fff;
	border:1px solid #97051d;
	border-radius:3px;
	font-weight:bold;
	text-transform:uppercase;
	color:#4644ab
}
.flair {
	background:transparent;
	border:none;
	font-weight:700
}
.flair:before {
	content:"";
	background-image:url("/themes/res/kcuRevzjq-9ROSiRVqjN7a2JXJt4DlyL2kMRGMHAlts.png");
	background-position:50px 0px;
	margin-right:6px;
	display:inherit;
	vertical-align:middle
}
.flair-alabama:before,.flair-alaska:before,.flair-arizona:before,.flair-arkansas:before,.flair-california:before,.flair-colorado:before,.flair-washingtonDC:before,.flair-connecticut:before,.flair-delaware:before,.flair-florida:before,.flair-georgia-us-state:before,.flair-hawaii:before,.flair-idaho:before,.flair-illinois:before,.flair-indiana:before,.flair-iowa:before,.flair-kansas:before,.flair-kentucky:before,.flair-louisiana:before,.flair-maine:before,.flair-maryland:before,.flair-massachusetts:before,.flair-michigan:before,.flair-minnesota:before,.flair-mississippi:before,.flair-missouri:before,.flair-montana:before,.flair-nebraska:before,.flair-nevada:before,.flair-new-hampshire:before,.flair-new-jersey:before,.flair-new-mexico:before,.flair-new-york:before,.flair-north-carolina:before,.flair-north-dakota:before,.flair-ohio:before,.flair-oklahoma:before,.flair-oregon:before,.flair-oregon-two:before,.flair-pennsylvania:before,.flair-rhode-island:before,.flair-south-carolina:before,.flair-south-dakota:before,.flair-tennessee:before,.flair-texas:before,.flair-utah-enhanced-variant:before,.flair-vermont:before,.flair-virginia:before,.flair-washington:before,.flair-west-virginia:before,.flair-wisconsin:before,.flair-wyoming:before,.flair-puerto-rico:before {
	padding-left:30px;
	padding-top:5px;
	padding-bottom:4px;
	height:11px
}
.flair-australia:before,.flair-newzealand:before,.flair-uk:before,.flair-ireland:before,.flair-philippines:before,.flair-canada:before,.flair-slovenia:before,.flair-hungary:before,.flair-MURICA:before,.flair-libya:before,.flair-jordan:before,.flair-croatia:before {
	padding-left:23px;
	padding-top:2px;
	padding-bottom:2px;
	height:8px
}
.flair-kekistan:before,.flair-treadonme:before,.flair-coal:before {
	padding-left:30px;
	padding-top:2px;
	padding-bottom:2px;
	height:13px
}
.flair-rainbow:before,.flair-ng:before,.flair-pow:before,.flair-police:before,.flair-fire:before,.flair-cap:before,.flair-emt:before,.flair-coastguard:before,.flair-airforce:before,.flair-army:before,.flair-marinecorps:before,.flair-usnavy:before,.flair-les:before,.flair-tg:before,.flair-gay:before,.flair-centi:before {
	padding-left:30px;
	padding-top:2px;
	padding-bottom:2px;
	height:16px
}
.flair-belgium:before,.flair-china:before,.flair-france:before,.flair-indonesia:before,.flair-japan:before,.flair-netherlands:before,.flair-pakistan:before,.flair-russia:before,.flair-southAfrica:before,.flair-southKorea:before,.flair-spain:before,.flair-turkey:before,.flair-ukraine:before,.flair-vietnam:before,.flair-slovakia:before,.flair-serbia:before,.flair-egypt:before,.flair-vanuatu:before,.flair-romania:before,.flair-singapore:before,.flair-venezuela:before,.flair-italy:before,.flair-greece:before,.flair-jamaica:before {
	padding-left:23px;
	padding-top:2px;
	padding-bottom:2px;
	height:11px
}
.flair-brazil:before,.flair-iraq:before,.flair-bolivia:before {
	padding-left:22px;
	padding-top:2px;
	padding-bottom:2px;
	height:11px
}
.flair-switzerland:before {
	padding-left:16px;
	padding-top:2px;
	padding-bottom:2px;
	height:12px
}
.flair-wales:before {
	padding-left:33px;
	padding-top:2px;
	padding-bottom:2px;
	height:16px
}
.flair-finland:before,.flair-germany:before,.flair-poland:before,.flair-sweden:before,.flair-argentina:before,.flair-scotland:before,.flair-virginislands:before,.flair-taiwan:before,.flair-austria:before,.flair-armenian:before,.flair-iceland:before,.flair-colombia:before,.flair-georgia-nation:before,.flair-lithuania:before,.flair-estonia:before,.flair-check:before,.flair-portugal:before {
	padding-left:22px;
	padding-top:2px;
	padding-bottom:2px;
	height:10px
}
.flair-georgia-nation:before,.flair-england:before,.flair-northernireland:before {
	padding-left:30px;
	padding-top:2px;
	padding-bottom:2px;
	height:17px
}
.flair-india:before {
	padding-left:22px;
	padding-top:2px;
	padding-bottom:2px;
	height:11px
}
.flair-denmark:before {
	padding-left:20px;
	padding-top:2px;
	padding-bottom:2px;
	height:11px
}
.flair-iran:before,.flair-mexico:before {
	padding-left:23px;
	padding-top:2px;
	padding-bottom:2px;
	height:9px
}
.flair-norway:before,.flair-israel:before {
	padding-left:22px;
	padding-top:2px;
	padding-bottom:2px;
	height:11px
}
.flair-alabama:before {
	background-position:0px 0px
}
.flair-alaska:before {
	background-position:0px -20px
}
.flair-arizona:before {
	background-position:0px -40px
}
.flair-arkansas:before {
	background-position:0px -60px
}
.flair-california:before {
	background-position:0px -80px
}
.flair-colorado:before {
	background-position:0px -100px
}
.flair-washingtonDC:before {
	background-position:0px -120px
}
.flair-connecticut:before {
	background-position:0px -140px
}
.flair-delaware:before {
	background-position:0px -160px
}
.flair-florida:before {
	background-position:0px -180px
}
.flair-georgia-us-state:before {
	background-position:0px -200px
}
.flair-hawaii:before {
	background-position:0px -220px
}
.flair-idaho:before {
	background-position:0px -240px
}
.flair-illinois:before {
	background-position:0px -260px
}
.flair-indiana:before {
	background-position:0px -280px
}
.flair-iowa:before {
	background-position:0px -300px
}
.flair-kansas:before {
	background-position:0px -320px
}
.flair-kentucky:before {
	background-position:0px -340px
}
.flair-louisiana:before {
	background-position:0px -360px
}
.flair-maine:before {
	background-position:0px -380px
}
.flair-maryland:before {
	background-position:0px -400px
}
.flair-massachusetts:before {
	background-position:0px -420px
}
.flair-michigan:before {
	background-position:0px -440px
}
.flair-puerto-rico:before {
	background-position:0px -1040px
}
.flair-minnesota:before {
	background-position:0px -460px
}
.flair-mississippi:before {
	background-position:0px -480px
}
.flair-missouri:before {
	background-position:0px -500px
}
.flair-montana:before {
	background-position:0px -520px
}
.flair-nebraska:before {
	background-position:0px -540px
}
.flair-nevada:before {
	background-position:0px -560px
}
.flair-new-hampshire:before {
	background-position:0px -580px
}
.flair-new-jersey:before {
	background-position:0px -600px
}
.flair-new-mexico:before {
	background-position:0px -620px
}
.flair-new-york:before {
	background-position:0px -640px
}
.flair-north-carolina:before {
	background-position:0px -660px
}
.flair-north-dakota:before {
	background-position:0px -680px
}
.flair-ohio:before {
	background-position:0px -700px
}
.flair-oklahoma:before {
	background-position:0px -720px
}
.flair-oregon:before {
	background-position:0px -740px
}
.flair-oregon-two:before {
	background-position:0px -760px
}
.flair-pennsylvania:before {
	background-position:0px -780px
}
.flair-rhode-island:before {
	background-position:0px -800px
}
.flair-south-carolina:before {
	background-position:0px -820px
}
.flair-south-dakota:before {
	background-position:0px -840px
}
.flair-tennessee:before {
	background-position:0px -860px
}
.flair-texas:before {
	background-position:0px -880px
}
.flair-utah-enhanced-variant:before {
	background-position:0px -900px
}
.flair-vermont:before {
	background-position:0px -920px
}
.flair-virginia:before {
	background-position:0px -940px
}
.flair-washington:before {
	background-position:0px -960px
}
.flair-west-virginia:before {
	background-position:0px -980px
}
.flair-wisconsin:before {
	background-position:0px -1000px
}
.flair-wyoming:before {
	background-position:0px -1020px
}
.flair-australia:before {
	background-position:0px -1271px
}
.flair-newzealand:before {
	background-position:0px -1838px
}
.flair-canada:before {
	background-position:0px -1313px
}
.flair-uk:before {
	background-position:0px -1656px
}
.flair-MURICA:before {
	background-position:0px -1800px
}
.flair-libya:before {
	background-position:0px -1826px
}
.flair-croatia:before {
	background-position:0px -1994px
}
.flair-jordan:before {
	background-position:0px -1982px
}
.flair-hungary:before {
	background-position:0px -1728px
}
.flair-slovenia:before {
	background-position:0px -1894px
}
.flair-ireland:before {
	background-position:0px -1456px
}
.flair-philippines:before {
	background-position:0px -1541px
}
.flair-belgium:before {
	background-position:0px -1283px
}
.flair-china:before {
	background-position:0px -1325px
}
.flair-france:before {
	background-position:0px -1384px
}
.flair-indonesia:before {
	background-position:0px -1428px
}
.flair-japan:before {
	background-position:0px -1468px
}
.flair-netherlands:before {
	background-position:0px -1496px
}
.flair-pakistan:before {
	background-position:0px -1526px
}
.flair-russia:before {
	background-position:0px -1567px
}
.flair-southAfrica:before {
	background-position:0px -1582px
}
.flair-southKorea:before {
	background-position:0px -1597px
}
.flair-spain:before {
	background-position:0px -1612px
}
.flair-turkey:before {
	background-position:0px -1641px
}
.flair-brazil:before {
	background-position:0px -1298px
}
.flair-iraq:before {
	background-position:0px -1355px
}
.flair-bolivia:before {
	background-position:0px -1770px
}
.flair-denmark:before {
	background-position:0px -1340px
}
.flair-finland:before {
	background-position:0px -1370px
}
.flair-germany:before {
	background-position:0px -1399px
}
.flair-poland:before {
	background-position:0px -1553px
}
.flair-sweden:before {
	background-position:0px -1627px
}
.flair-india:before {
	background-position:0px -1413px
}
.flair-iran:before {
	background-position:0px -1443px
}
.flair-mexico:before {
	background-position:0px -1482px
}
.flair-norway:before {
	background-position:0px -1511px
}
.flair-israel:before {
	background-position:0px -1952px
}
.flair-ukraine:before {
	background-position:0px -1668px
}
.flair-vietnam:before {
	background-position:0px -1683px
}
.flair-slovakia:before {
	background-position:0px -1755px
}
.flair-serbia:before {
	background-position:0px -1740px
}
.flair-egypt:before {
	background-position:0px -1785px
}
.flair-vanuatu:before {
	background-position:0px -1810px
}
.flair-romania:before {
	background-position:0px -1850px
}
.flair-singapore:before {
	background-position:0px -1879px
}
.flair-venezuela:before {
	background-position:0px -1906px
}
.flair-italy:before {
	background-position:0px -1937px
}
.flair-jamaica:before {
	background-position:0px -2229px
}
.flair-greece:before {
	background-position:0px -1967px
}
.flair-argentina:before {
	background-position:0px -1698px
}
.flair-scotland:before {
	background-position:0px -1865px
}
.flair-virginislands:before {
	background-position:0px -2187px
}
.flair-taiwan:before {
	background-position:0px -2159px
}
.flair-austria:before {
	background-position:0px -2201px
}
.flair-armenian:before {
	background-position:0px -2068px
}
.flair-iceland:before {
	background-position:0px -2173px
}
.flair-colombia:before {
	background-position:0px -2131px
}
.flair-georgia-nation:before {
	background-position:0px -1865px
}
.flair-lithuania:before {
	background-position:0px -2215px
}
.flair-estonia:before {
	background-position:0px -2103px
}
.flair-check:before {
	background-position:0px -2145px
}
.flair-portugal:before {
	background-position:0px -2117px
}
.flair-switzerland:before {
	background-position:0px -1921px
}
.flair-england:before {
	background-position:0px -2027px
}
.flair-northernireland:before {
	background-position:0px -2047px
}
.flair-georgia-nation:before {
	background-position:0px -2006px
}
.flair-wales:before {
	background-position:0px -2083px
}
.flair-coal:before {
	background-position:0px -2278px
}
.flair-treadonme:before {
	background-position:0px -2244px
}
.flair-kekistan:before {
	background-position:0px -2261px
}
.flair-rainbow:before {
	background-position:0px -2295px
}
.flair-centi:before {
	background-position:0px -2595px
}
.flair-gay:before {
	background-position:0px -2315px
}
.flair-tg:before {
	background-position:0px -2335px
}
.flair-les:before {
	background-position:0px -2355
}
.flair-ng:before {
	background-position:0px -2555px
}
.flair-pow:before {
	background-position:0px -2515px
}
.flair-police:before {
	background-position:0px -2536px
}
.flair-fire:before {
	background-position:0px -2494px
}
.flair-cap:before {
	background-position:0px -2437px
}
.flair-emt:before {
	background-position:0px -2475px
}
.flair-airforce:before {
	background-position:0px -2455px
}
.flair-coastguard:before {
	background-position:0px -2575px
}
.flair-army:before {
	background-position:0px -2416px
}
.flair-marinecorps:before {
	background-position:0px -2395px
}
.flair-usnavy:before {
	background-position:0px -2375px
}
.flair-captain:before,.flair-autist:before,.flair-tomahawkmissile:before,.flair-kushner:before,.flair-teambtfo:before,.flair-awoo:before,.flair-hatpepe:before,.flair-moab:before,.flair-kanye:before,.flair-goldenpepe:before,.flair-diamondpepe:before,.flair-rare:before,.flair-point:before,.flair-Shaun2Legit:before,.flair-teammaga:before,.flair-PresTrump:before,.flair-vfn:before,.flair-gracejonestown:before,.flair-trumplion:before,.flair-infowars:before,.flair-comfypepe:before,.flair-sandwich:before,.flair-bigly:before,.flair-infowars:before,.flair-patriotpepe:before,.flair-FutureN:before,.flair-ivanka:before,.flair-goat:before,.flair-miller:before,.flair-sublime:before {
	padding-left:25px;
	padding-top:2px;
	padding-bottom:2px;
	height:23px
}
.flair-ivanka:before {
	background-position:0px -3859px;
	padding-left:26px;
	height:26px
}
.flair-goat:before {
	background-position:0px -3898px;
	padding-left:31px;
	height:17px
}
.flair-FutureN:before {
	background-position:0px -4140px;
	height:22px;
	padding-left:35px
}
.flair-patriotpepe:before {
	background-position:0px -3756px;
	height:30px;
	padding-left:32px
}
.flair-infowars:before {
	background-position:0px -3578px;
	height:30px;
	padding-left:34px
}
.flair-comfypepe:before {
	background-position:0px -3689px;
	padding-left:35px;
	height:26px
}
.flair-sandwich:before {
	background-position:0px -3725px;
	height:24px;
	padding-left:30px
}
.flair-bigly:before {
	background-position:0px -3650px;
	height:26px;
	padding-left:29px
}
.flair-trumplion:before {
	background-position:0px -3270px;
	height:26px;
	padding-left:25px
}
.flair-gracejonestown:before {
	background-position:0px -3237px;
	height:26px;
	padding-left:35px
}
.flair-vfn:before {
	background-position:0px -3305px;
	height:15px;
	padding-left:35px
}
.flair-PresTrump:before {
	background-position:0px -3207px;
	padding-left:22px;
	height:19px
}
.flair-teammaga:before {
	background-position:0px -3175px;
	height:24px;
	padding-left:35px
}
.flair-point:before {
	background-position:0px -3001px;
	height:17px;
	padding-left:23px
}
.flair-Shaun2Legit:before {
	background-position:0px -2975px;
	padding-left:31px;
	height:20px
}
.flair-rare:before {
	background-position:0px -3062px;
	height:16px;
	padding-left:22px
}
.flair-goldenpepe:before {
	background-position:0px -3114px;
	height:28px;
	padding-left:31px
}
.flair-diamondpepe:before {
	background-position:0px -3026px;
	height:28px;
	padding-left:36px
}
.flair-captain:before {
	background-position:0px -2697px
}
.flair-autist:before {
	background-position:0px -2666px;
	padding-left:20px;
	height:21px
}
.flair-tomahawkmissile:before {
	background-position:0px -2912px;
	padding-left:30px;
	height:17px
}
.flair-miller:before {
	background-position:0 -4016px;
	height:36px;
	padding-left:32px
}
.flair-sublime:before {
	background-position:0 -4060px;
	height:29px;
	padding-left:29px
}
.flair-kushner:before {
	background-position:0px -2765px;
	padding-left:29px;
	height:33px
}
.flair-kanye:before {
	background-position:0px -2805px;
	padding-left:30px;
	height:38px
}
.flair-hatpepe:before {
	background-position:0px -2725px;
	height:30px;
	padding-left:34px;
	padding-top:7px
}
.flair-awoo:before {
	background-position:0px -2874px;
	height:26px;
	padding-left:29px
}
.flair-teambtfo:before {
	background-position:0px -2937px;
	padding-left:37px;
	height:31px
}
.flair-moab:before {
	background-position:0px -2851px;
	padding-left:37px;
	height:15px
}
.flair-medically:before {
	background-position:0px -4102px;
	padding-left:29px;
	height:35px
}
.flair-bannerwinners:before {
	background-position:0px -4172px;
	padding-left:35px;
	height:35px
}
.flair-pink {
	color:pink
}
.flair-red {
	color:red
}
.flair-movingpepe:before {
	border:0;
	padding:0;
	height:45px;
	width:45px;
	background:url("/themes/res/b8-r2Nvr3YVZlldg0lmO-y98Wr5e7mCyN32L0JIeILk.png")!important;
	-webkit-animation:pepe 5s steps(48) infinite;
	animation:pepe 5s steps(48) infinite;
	text-indent:45px;
	font-size:85%
}
@-webkit-keyframes pepe {
	from {
		background-position:0 0
	}
	to {
		background-position:0 -2160px
	}
}
@keyframes pepe {
	from {
		background-position:0 0
	}
	to {
		background-position:0 -2160px
	}
}