/*
	Original The_Donald CSS
	Copyright 2015-2020, The_Donald mods
*/
* {
	font-family:"Trebuchet MS1",sans-serif!important
}
.res-tabmenu-button.res-show-images a {
	display:inline-block;
	font-family:Batch;
	background:url("/themes/res/YTfk3wlQ76sYUmXZKtYp1IEHIn2r3YcSyRPzgisHeU8.png")!important;
	background-position:-17px -442px!important;
	background-repeat:no-repeat!important;
	color:transparent!important;
	max-width:18px
}
.res-nightmode .res-tabmenu-button.res-show-images a {
	display:inline-block;
	font-family:Batch;
	background:url("/themes/res/YTfk3wlQ76sYUmXZKtYp1IEHIn2r3YcSyRPzgisHeU8.png")!important;
	opacity:0.5;
	background-position:-17px -442px!important;
	background-repeat:no-repeat!important;
	color:transparent!important;
	max-width:18px
}
.res-tabmenu-button.res-show-images a:hover {
	display:inline-block;
	font-family:Batch;
	background:url("/themes/res/YTfk3wlQ76sYUmXZKtYp1IEHIn2r3YcSyRPzgisHeU8.png")!important;
	background-position:-90px -444px!important;
	background-repeat:no-repeat!important;
	color:transparent!important;
	max-width:18px
}
.res-nightmode .res-tabmenu-button.res-show-images a:hover {
	display:inline-block;
	font-family:Batch;
	background:url("/themes/res/YTfk3wlQ76sYUmXZKtYp1IEHIn2r3YcSyRPzgisHeU8.png")!important;
	opacity:1!important;
	background-position:-17px -442px!important;
	background-repeat:no-repeat!important;
	color:transparent!important;
	max-width:18px
}
.res-tabmenu-button.selected.res-show-images {
	display:inline-block;
	font-family:Batch;
	opacity:1!important;
	background-position:0px -1px!important;
	background-repeat:no-repeat!important;
	background-color:#bf0000!important;
	max-width:18px;
	z-index:999999999999!important;
	padding-right:30px
}
.res-nightmode .tabmenu.formtab a {
	background-color:#333!important
}
.RESSubscriptionButton .res-icon {
	display:none!important
}
.RESSubscriptionButton {
	float:right;
	margin-left:8px;
	cursor:pointer;
	color:rgb(255,255,255)!important;
	font-size:15px!important;
	line-height:1;
	background-color:#bf0000!important;
	padding:7px 17px!important;
	border-width:0px!important;
	border-style:solid;
	border-color:initial;
	border-image:initial;
	border-radius:4px!important;
	text-transform:uppercase!important
}
.res .RES-keyNav-activeElement .md-container {
	background:transparent!important
}
.res[class] .RES-keyNav-activeElement,.res[class] .RES-keyNav-activeElement .md-container {
	background-color:transparent!important
}
.tabmenu li.res-tabmenu-button a[aftercontent]::after {
	display:none!important
}
.link .score.likes {
	color:#bc0000;
	font-family:"Trebuchet MS1",sans-serif;
	font-weight:bold
}
.link .score {
	font-weight:bold!important
}
.titlebox form.toggle,.leavemoderator {
	background:none
}
.promoted {
	margin-right:0px!important
}
.comment {
	overflow:visible!important
}
.entry {
	overflow:hidden!important
}
.midcol {
	overflow:visible!important
}
.side hr {
	border:0;
	border-bottom:1px solid #fff;
	margin:10px 0
}
.side .bottom {
	border-top:1px solid #fff
}
.side table {
	display:block;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	border:1px solid #e2e2e2;
	border-top:0;
	padding:0
}
.side table thead {
	display:none
}
.side table tbody tr td {
	display:block;
	border:none;
	padding:0
}
.side table tbody tr td:first-child {
	background:transparent;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:6px;
	padding-right:6px;
	transition:.5s;
	border:1px solid rgba(235,216,164,0.82);
	width:253px
}
.res-nightmode .side table tbody tr td:first-child {
	border:1px solid rgb(82,97,115)!important
}
.side table tbody tr td:last-child {
	max-height:0;
	border-top:0;
	margin:0 5px;
	transition:.3s ease-in-out;
	overflow:hidden!important
}
.res-nightmode table {
	display:table;
	border-collapse:separate;
	border-spacing:0px;
	border-color:black!important
}
.side table tbody tr:hover td:last-child {
	max-height:200px;
	transition:.3s ease-in-out;
	margin:5px
}
.side table tbody tr td:first-child:hover,.side table tbody tr:hover td:first-child {
	background:#2b325f;
	color:#fff;
	text-shadow:1px 1px 7px rgba(0,0,0,1)
}
.side table tbody tr td:first-child:hover,.side table tbody tr:hover td:first-child a {
	color:#fff;
	text-shadow:1px 1px 7px rgba(0,0,0,1)
}
.md code {
	margin:0 2px;
	white-space:nowrap;
	word-break:normal;
	color:#bc0000;
	font-weight:bold
}
.md code,.md pre {
	border:2px solid rgb(237,222,179);
	background-color:#ffffff;
	border-radius:14px
}
.md a {
	color:#527fc5;
	text-decoration:none
}
.thing.comment .upmod:focus:after {
	content:"";
	width:60px;
	height:43px;
	font-size:9px;
	font-weight:normal;
	text-shadow:0px 0px 1px #2e2e2e;
	position:relative;
	pointer-events:none;
	color:#e50000;
	bottom:0px;
	opacity:0.0;
	animation-name:BattleCry;
	animation-duration:2s;
	animation-timing-function:ease-out;
	animation-delay:0.2s;
	animation-iteration-count:1;
	-webkit-animation-name:BattleCry;
	-webkit-animation-duration:2s;
	-webkit-animation-timing-function:ease-out;
	-webkit-animation-delay:0.2s;
	-webkit-animation-iteration-count:1;
	-moz-animation-name:BattleCry;
	-moz-animation-duration:2s;
	-moz-animation-timing-function:ease-out;
	-moz-animation-delay:0.2s;
	-moz-animation-iteration-count:1;
	-o-animation-name:BattleCry;
	-o-animation-duration:2s;
	-o-animation-timing-function:ease-out;
	-o-animation-delay:0.2s;
	-o-animation-iteration-count:1;
	-ms-animation-name:BattleCry;
	-ms-animation-duration:2s;
	-ms-animation-timing-function:ease-out;
	-ms-animation-delay:0.2s;
	-ms-animation-iteration-count:1
}
@keyframes BattleCry {
	8% {
		bottom:5px;
		opacity:1
	}
	15% {
		bottom:10px
	}
	40% {
		opacity:1
	}
	50% {
		bottom:15px
	}
	100% {
		bottom:20px;
		opacity:0
	}
}
@-webkit-keyframes BattleCry {
	8% {
		bottom:5px;
		opacity:1
	}
	15% {
		bottom:10px
	}
	40% {
		opacity:1
	}
	50% {
		bottom:15px
	}
	100% {
		bottom:20px;
		opacity:0
	}
}
@-moz-keyframes BattleCry {
	8% {
		bottom:5px;
		opacity:1
	}
	15% {
		bottom:10px
	}
	40% {
		opacity:1
	}
	50% {
		bottom:15px
	}
	100% {
		bottom:20px;
		opacity:0
	}
}
@-o-keyframes BattleCry {
	8% {
		bottom:5px;
		opacity:1
	}
	15% {
		bottom:10px
	}
	40% {
		opacity:1
	}
	50% {
		bottom:15px
	}
	100% {
		bottom:20px;
		opacity:0
	}
}
.thing[data-fullname$="a"].comment .upmod:focus:after {
	content:"MAGA!"
}
.thing[data-fullname$="b"].comment .upmod:focus:after {
	content:"America First!"
}
.thing[data-fullname$="c"].comment .upmod:focus:after {
	content:"10 Feet Taller!"
}
.thing[data-fullname$="d"].comment .upmod:focus:after {
	content:"Bring Back Jobs!"
}
.thing[data-fullname$="e"].comment .upmod:focus:after {
	content:"Yuge!"
}
.thing[data-fullname$="f"].comment .upmod:focus:after {
	content:"Winning!"
}
.thing[data-fullname$="g"].comment .upmod:focus:after {
	content:"High Energy!"
}
.thing[data-fullname$="h"].comment .upmod:focus:after {
	content:"Build the Wall!"
}
.thing[data-fullname$="i"].comment .upmod:focus:after {
	content:"Unstumpable!"
}
.thing[data-fullname$="j"].comment .upmod:focus:after {
	content:"Self-Funded!"
}
.thing[data-fullname$="k"].comment .upmod:focus:after {
	content:"No Brakes!"
}
.thing[data-fullname$="l"].comment .upmod:focus:after {
	content:"Strong Military!"
}
.thing[data-fullname$="m"].comment .upmod:focus:after {
	content:"MAGA!"
}
.thing[data-fullname$="n"].comment .upmod:focus:after {
	content:"America First!"
}
.thing[data-fullname$="o"].comment .upmod:focus:after {
	content:"10 Feet Taller!"
}
.thing[data-fullname$="p"].comment .upmod:focus:after {
	content:"Bring Back Jobs!"
}
.thing[data-fullname$="q"].comment .upmod:focus:after {
	content:"Yuge!"
}
.thing[data-fullname$="r"].comment .upmod:focus:after {
	content:"Winning!"
}
.thing[data-fullname$="s"].comment .upmod:focus:after {
	content:"High Energy!"
}
.thing[data-fullname$="t"].comment .upmod:focus:after {
	content:"Build the Wall!"
}
.thing[data-fullname$="u"].comment .upmod:focus:after {
	content:"Unstumpable!"
}
.thing[data-fullname$="v"].comment .upmod:focus:after {
	content:"Self-Funded!"
}
.thing[data-fullname$="w"].comment .upmod:focus:after {
	content:"No Brakes!"
}
.thing[data-fullname$="x"].comment .upmod:focus:after {
	content:"Strong Military!"
}
.thing[data-fullname$="y"].comment .upmod:focus:after {
	content:"MAGA!"
}
.thing[data-fullname$="z"].comment .upmod:focus:after {
	content:"America First!"
}
.thing[data-fullname$="1"].comment .upmod:focus:after {
	content:"10 Feet Taller!"
}
.thing[data-fullname$="2"].comment .upmod:focus:after {
	content:"Bring Back Jobs!"
}
.thing[data-fullname$="3"].comment .upmod:focus:after {
	content:"Yuge!"
}
.thing[data-fullname$="4"].comment .upmod:focus:after {
	content:"Winning!"
}
.thing[data-fullname$="5"].comment .upmod:focus:after {
	content:"High Energy!"
}
.thing[data-fullname$="6"].comment .upmod:focus:after {
	content:"Build the Wall!"
}
.thing[data-fullname$="7"].comment .upmod:focus:after {
	content:"Unstumpable!"
}
.thing[data-fullname$="8"].comment .upmod:focus:after {
	content:"Self-Funded!"
}
.thing[data-fullname$="9"].comment .upmod:focus:after {
	content:"No Brakes!"
}
.thing[data-fullname$="0"].comment .upmod:focus:after {
	content:"Strong Military!"
}
.thing.comment .upmod:focus:after {
	white-space:nowrap
}
.thing.comment .downmod:focus:after {
	content:"";
	width:60px;
	height:43px;
	font-size:9px;
	font-weight:normal;
	text-shadow:0px 0px 1px #2e2e2e;
	position:relative;
	color:#0000e5;
	top:0px;
	opacity:0;
	animation-name:DeathKnell;
	animation-duration:2s;
	animation-timing-function:ease-out;
	animation-delay:0.2s;
	animation-iteration-count:1;
	-webkit-animation-name:DeathKnell;
	-webkit-animation-duration:2s;
	-webkit-animation-timing-function:ease-out;
	-webkit-animation-delay:0.2s;
	-webkit-animation-iteration-count:1;
	-moz-animation-name:DeathKnell;
	-moz-animation-duration:2s;
	-moz-animation-timing-function:ease-out;
	-moz-animation-delay:0.2s;
	-moz-animation-iteration-count:1;
	-o-animation-name:DeathKnell;
	-o-animation-duration:2s;
	-o-animation-timing-function:ease-out;
	-o-animation-delay:0.2s;
	-o-animation-iteration-count:1;
	-ms-animation-name:DeathKnell;
	-ms-animation-duration:2s;
	-ms-animation-timing-function:ease-out;
	-ms-animation-delay:0.2s;
	-ms-animation-iteration-count:1
}
@keyframes DeathKnell {
	8% {
		top:5px;
		opacity:1
	}
	15% {
		top:10px
	}
	40% {
		opacity:1
	}
	50% {
		top:15px
	}
	100% {
		top:20px;
		opacity:0
	}
}
@-webkit-keyframes DeathKnell {
	8% {
		top:5px;
		opacity:1
	}
	15% {
		top:10px
	}
	40% {
		opacity:1
	}
	50% {
		top:15px
	}
	100% {
		top:20px;
		opacity:0
	}
}
@-moz-keyframes DeathKnell {
	8% {
		top:5px;
		opacity:1
	}
	15% {
		top:10px
	}
	40% {
		opacity:1
	}
	50% {
		top:15px
	}
	100% {
		top:20px;
		opacity:0
	}
}
@-o-keyframes DeathKnell {
	8% {
		top:5px;
		opacity:1
	}
	15% {
		top:10px
	}
	40% {
		opacity:1
	}
	50% {
		top:15px
	}
	100% {
		top:20px;
		opacity:0
	}
}
.thing[data-fullname$="a"].comment .downmod:focus:after {
	content:"Crooked!"
}
.thing[data-fullname$="b"].comment .downmod:focus:after {
	content:"Low Energy!"
}
.thing[data-fullname$="c"].comment .downmod:focus:after {
	content:"Sad!"
}
.thing[data-fullname$="d"].comment .downmod:focus:after {
	content:"Dishonest!"
}
.thing[data-fullname$="e"].comment .downmod:focus:after {
	content:"Biased!"
}
.thing[data-fullname$="f"].comment .downmod:focus:after {
	content:"Failure!"
}
.thing[data-fullname$="g"].comment .downmod:focus:after {
	content:"Desperate!"
}
.thing[data-fullname$="h"].comment .downmod:focus:after {
	content:"Rigged!"
}
.thing[data-fullname$="i"].comment .downmod:focus:after {
	content:"Loser!"
}
.thing[data-fullname$="j"].comment .downmod:focus:after {
	content:"Unhinged!"
}
.thing[data-fullname$="k"].comment .downmod:focus:after {
	content:"Heartless!"
}
.thing[data-fullname$="l"].comment .downmod:focus:after {
	content:"Corrupt!"
}
.thing[data-fullname$="m"].comment .downmod:focus:after {
	content:"Crooked!"
}
.thing[data-fullname$="n"].comment .downmod:focus:after {
	content:"Low Energy!"
}
.thing[data-fullname$="o"].comment .downmod:focus:after {
	content:"Sad!"
}
.thing[data-fullname$="p"].comment .downmod:focus:after {
	content:"Dishonest!"
}
.thing[data-fullname$="q"].comment .downmod:focus:after {
	content:"Biased!"
}
.thing[data-fullname$="r"].comment .downmod:focus:after {
	content:"Failure!"
}
.thing[data-fullname$="s"].comment .downmod:focus:after {
	content:"Desperate!"
}
.thing[data-fullname$="t"].comment .downmod:focus:after {
	content:"Rigged!"
}
.thing[data-fullname$="u"].comment .downmod:focus:after {
	content:"Loser!"
}
.thing[data-fullname$="v"].comment .downmod:focus:after {
	content:"Unhinged!"
}
.thing[data-fullname$="w"].comment .downmod:focus:after {
	content:"Heartless!"
}
.thing[data-fullname$="x"].comment .downmod:focus:after {
	content:"Corrupt!"
}
.thing[data-fullname$="y"].comment .downmod:focus:after {
	content:"Crooked!"
}
.thing[data-fullname$="z"].comment .downmod:focus:after {
	content:"Low Energy!"
}
.thing[data-fullname$="1"].comment .downmod:focus:after {
	content:"Sad!"
}
.thing[data-fullname$="2"].comment .downmod:focus:after {
	content:"Dishonest!"
}
.thing[data-fullname$="3"].comment .downmod:focus:after {
	content:"Biased!"
}
.thing[data-fullname$="4"].comment .downmod:focus:after {
	content:"Failure!"
}
.thing[data-fullname$="5"].comment .downmod:focus:after {
	content:"Desperate!"
}
.thing[data-fullname$="6"].comment .downmod:focus:after {
	content:"Rigged!"
}
.thing[data-fullname$="7"].comment .downmod:focus:after {
	content:"Loser!"
}
.thing[data-fullname$="8"].comment .downmod:focus:after {
	content:"Unhinged!"
}
.thing[data-fullname$="9"].comment .downmod:focus:after {
	content:"Heartless!"
}
.thing[data-fullname$="0"].comment .downmod:focus:after {
	content:"Corrupt!"
}
.thing.comment .downmod:focus:after {
	white-space:nowrap
}
.subscribers .word {
	display:none
}
.users-online .word {
	display:none
}
.content {
	margin-top:53px
}
::-webkit-scrollbar {
	width:12px;
	background:transparent
}
::-webkit-scrollbar-thumb {
	border-radius:1px;
	background:#f4c033
}
#sr-header-area {
	background:#000000;
	border:none;
	z-index:200;
	transition:all .2s ease-out;
	box-shadow:0px 1px 1px rgba(00,00,00,.33)
}
#sr-header-area a,#sr-header-area .srdrop.dropdown .selected {
	font-family:Arial,Helvetica,sans-serif;
	letter-spacing:1px;
	transition:all .2s ease-out;
	color:#eee
}
#sr-header-area a .choices {
	color:#000
}
.sr-bar a {
	color:#eee
}
.drop-choices.inuse {
	background-color:#fff;
	border:none;
	box-shadow:0px 0px 5px 0px rgba(0,0,0,0.4);
	-webkit-box-shadow:0px 0px 5px 0px rgba(0,0,0,0.4);
	-moz-box-shadow:0px 0px 5px 0px rgba(0,0,0,0.4)
}
.drop-choices a.choice {
	color:#000
}
#sr-header-area a:hover {
	color:orangered;
	text-decoration:none
}
#sr-header-area .dropdown.srdrop .selected.title:hover {
	color:orangered
}
.res-nightmode #sr-header-area,.res-nightmode #sr-more-link {
	background-color:rgb(21,21,21)!important;
	color:rgb(0,0,0)
}
#sr-more-link {
	display:none
}
.RES-keyNav-activeElement,.RES-keyNav-activeElement .md-container {
	background-color:transparent!important
}
.md-container-small .md h3,.side .md h3,.md-container-small .md h4,.side .md h4 {
	font-size:15px;
	line-height:32px;
	margin-top:0.625em;
	margin-bottom:0.625em;
	font-weight:normal!important;
	text-rendering:optimizeLegibility;
	letter-spacing:.5px;
	text-shadow:1px 1px 7px rgba(0,0,0,1)
}
.md-container-small .md .-text,.side .md .-text,.md-container-small .md p,.side .md p,.md-container-small .md pre>code,.side .md pre>code,.md-container-small .md th,.side .md th,.md-container-small .md td,.side .md td,.md-container-small .md li,.side .md li {
	font-size:1em;
	line-height:1.25em
}
.link .usertext .md {
	padding:5px 10px;
	text-align:justify
}
#RESShortcutsEditContainer,#RESShortcutsRight,#RESShortcutsAdd,#RESShortcutsTrash,#RESShortcutsLeft,#sr-more-link,#RESShortcutsSort {
	color:#ddd!important;
	background-color:transparent!important
}
div.RES-keyNav-activeElement,div.commentarea div.RES-keyNav-activeElement .md,div.commentarea div.RES-keyNav-activeElement.entry div.noncollapsed {
	background-color:transparent!important
}
.sr-header .drop-choices {
	background-color:#777
}
.sr-header .flat-list .drop-choices {
	background-color:##E3E3E3!important
}
.link .flat-list {
	display:inline;
	padding:0 0
}
#header {
	position:relative;
	height:180px;
	background-color:transparent!important;
	border-bottom:0px
}
#header-bottom-left {
	position:relative;
	height:205px;
	overflow-x:hidden;
	pointer-events:none;
	top:-18px;
	border-bottom:3px solid #bc0000;
	-webkit-box-shadow:0px 4px 8px -1px rgba(0,0,0,0.75);
	-moz-box-shadow:0px 4px 8px -1px rgba(0,0,0,0.75);
	box-shadow:0px 4px 8px -1px rgba(0,0,0,0.75)
}
#header-bottom-left a {
	pointer-events:auto
}
#header-bottom-left:before {
	content:"";
	position:absolute;
	background:#000 url("/themes/res/xDqYv75rCBKVgWM5q7naOXQGWsZYbLrvdiLXaw4vHWY.png") repeat-x center 15px;
	width:300%;
	top:-7px;
	bottom:0px;
	left:0px;
	right:0px;
	z-index:-1;
	border-bottom:0px;
	animation:BannerSlider 200s linear infinite;
	-moz-animation:BannerSlider 200s linear infinite;
	-ms-animation:BannerSlider 200s linear infinite;
	-o-animation:BannerSlider 200s linear infinite;
	-webkit-animation:BannerSlider 200s linear infinite
}
@keyframes BannerSlider {
	0% {
		transform:translateX(0px)
	}
	100% {
		transform:translateX(-1547px)
	}
}
@-moz-keyframes BannerSlider {
	0% {
		-moz-transform:translateX(0px)
	}
	100% {
		-moz-transform:translateX(-1547px)
	}
}
@-ms-keyframes BannerSlider {
	0% {
		-ms-transform:translateX(0px)
	}
	100% {
		-ms-transform:translateX(-1547px)
	}
}
@-o-keyframes BannerSlider {
	0% {
		-o-transform:translateX(0px)
	}
	100% {
		-o-transform:translateX(-1547px)
	}
}
@-webkit-keyframes BannerSlider {
	0% {
		-webkit-transform:translateX(0px)
	}
	100% {
		-webkit-transform:translateX(-1547px)
	}
}
body.res-nightmode #header-bottom-left:before {
	content:"";
	position:absolute;
	background:#000 url("/themes/res/Man4lppn9vjdOvxvOA7Ur9Pv74H1fnaHwV-nrdXK0MI.png") repeat-x center 15px;
	width:300%;
	top:-7px;
	bottom:0px;
	left:0px;
	right:0px;
	z-index:-1;
	border-bottom:0px;
	animation:BannerSlider 200s linear infinite;
	-moz-animation:BannerSlider 200s linear infinite;
	-ms-animation:BannerSlider 200s linear infinite;
	-o-animation:BannerSlider 200s linear infinite;
	-webkit-animation:BannerSlider 200s linear infinite
}
@keyframes BannerSlider {
	0% {
		transform:translateX(0px)
	}
	100% {
		transform:translateX(-1547px)
	}
}
@-moz-keyframes BannerSlider {
	0% {
		-moz-transform:translateX(0px)
	}
	100% {
		-moz-transform:translateX(-1547px)
	}
}
@-ms-keyframes BannerSlider {
	0% {
		-ms-transform:translateX(0px)
	}
	100% {
		-ms-transform:translateX(-1547px)
	}
}
@-o-keyframes BannerSlider {
	0% {
		-o-transform:translateX(0px)
	}
	100% {
		-o-transform:translateX(-1547px)
	}
}
@-webkit-keyframes BannerSlider {
	0% {
		-webkit-transform:translateX(0px)
	}
	100% {
		-webkit-transform:translateX(-1547px)
	}
}
body.res-nightmode #header-bottom-left:after {
	display:none
}
#header-bottom-left:after {
	content:"";
	position:absolute;
	background:url("/themes/res/K8_PMF7buA19L1l0bTwwiv1B2Ia8rEf-1dq1kvDDx9Y.png") repeat-x center 15px;
	width:300%;
	top:-14px;
	bottom:0px;
	left:0px;
	right:0px;
	z-index:-1;
	border-bottom:0px;
	animation:OverlaySlider 120s linear infinite;
	-moz-animation:OverlaySlider 120s linear infinite;
	-ms-animation:OverlaySlider 120s linear infinite;
	-o-animation:OverlaySlider 120s linear infinite;
	-webkit-animation:OverlaySlider 120s linear infinite
}
@keyframes OverlaySlider {
	0% {
		transform:translateX(0px)
	}
	100% {
		transform:translateX(-600px)
	}
}
@-moz-keyframes OverlaySlider {
	0% {
		-moz-transform:translateX(0px)
	}
	100% {
		-moz-transform:translateX(-600px)
	}
}
@-ms-keyframes OverlaySlider {
	0% {
		-ms-transform:translateX(0px)
	}
	100% {
		-ms-transform:translateX(-600px)
	}
}
@-o-keyframes OverlaySlider {
	0% {
		-o-transform:translateX(0px)
	}
	100% {
		-o-transform:translateX(-600px)
	}
}
@-webkit-keyframes OverlaySlider {
	0% {
		-webkit-transform:translateX(0px)
	}
	100% {
		-webkit-transform:translateX(-600px)
	}
}
.pagename {
	font-size:0
}
.pagename a {
	display:block;
	width:140px;
	height:140px;
	background:url("/themes/res/6FXuCRuQKPow0q2F0WnpCuNUdOaoOmCq4DMiSpf0pXM.png") no-repeat center top;
	position:absolute;
	left:50%;
	margin-left:-200px;
	top:84px;
	margin-top:-65px;
	z-index:999
}
.pagename a:hover {
	background:url("/themes/res/6FXuCRuQKPow0q2F0WnpCuNUdOaoOmCq4DMiSpf0pXM.png") no-repeat center bottom
}
#header-img {
	position:absolute;
	top:63px;
	left:23px
}
#header-bottom-right a,.user .userkarma,.user {
	color:#e9e9e9;
	text-shadow:0px 0px 4px #111
}
#RESMainGearOverlay .gearIcon {
	display:none
}
#userbarToggle {
	color:#fff!important;
	background-color:#bf0000!important;
	border-right:none!important;
	height:23px!important;
	padding:9px 9px 9px 10px;
	border-radius:0
}
.res #header-bottom-right {
	background:#bf0000!important;
	color:#eee!important;
	line-height:1em!important;
	margin:145px 0px 0px 0px;
	padding:12px 17px 13px 20px
}
#userbarToggle.userbarShow {
	top:auto;
	left:auto;
	right:0px;
	padding-right:20px
}
body:not(.res) #header-bottom-right {
	background:#bf0000;
	color:#eee!important;
	line-height:1em!important;
	margin:-158px 0px -25px 0px;
	font-size:12px;
	padding:15px;
	position:absolute;
	border-radius:0!important;
	-moz-border-radius:0!important
}
#header .tabmenu {
	position:absolute;
	left:0;
	right:270px;
	bottom:0;
	text-align:center
}
#header .tabmenu li {
	margin:0
}
#header .tabmenu li a {
	color:#fff;
	background-color:transparent;
	margin:0;
	border:none!important;
	display:inline-block;
	padding:0px 15px;
	line-height:36px;
	text-align:center;
	font-size:15px;
	letter-spacing:.5px;
	text-transform:uppercase;
	position:relative;
	font-family:"Trebuchet MS1",sans-serif;
	text-rendering:optimizeLegibility;
	padding-bottom:4px;
	padding-top:1px;
	font-weight:normal;
	margin-bottom:0px
}
#header .tabmenu li a:hover {
	color:white;
	background-color:#ffffff;
	color:#000000
}
ul.tabmenu.formtab {
	display:block;
	padding-left:107px;
	font-size:larger;
	margin-bottom:11px
}
.content .spacer {
	margin-bottom:10px
}
#header .tabmenu li a[href*="ads"],#header .tabmenu li a[href*="controversial"],#header .tabmenu li a[href*="javascript:;"] {
	display:none!important
}
#header .tabmenu li.selected a {
	color:white;
	background-color:#bc0000
}
.content.submit .info-notice {
	border:none
}
.roundfield,.linefield,.content.submit .roundfield.info-notice {
	background-color:#eee;
	border-radius:0
}
#link-desc {
	background-color:#eee;
	border:none
}
.res-nightmode #link-desc {
	background-color:#262626;
	border:none
}
.res-nightmode #text-desc {
	background-color:#262626;
	border:none
}
.res-nightmode .tabmenu.formtab .selected a {
	color:white!important;
	background-color:#000000!important
}
#noresults {
	padding:16px
}
#text-desc {
	background-color:#eee;
	border:none
}
.content h1 {
	margin-left:20px;
	padding-top:10px
}
form#newlink {
	margin:20px;
	padding-bottom:6px
}
.tabmenu.formtab .selected a {
	background-color:#bc0000
}
.tabmenu.formtab a {
	background-color:#9c9c9c;
	color:#fff
}
.formtabs-content {
	border-top:4px solid #bf0000
}
.tabmenu.formtab a {
	font-weight:normal;
	outline:none;
	padding:12px 54px;
	border:1px solid #c1c1c1;
	border-bottom:none;
	text-transform:uppercase;
	border-radius:6px 6px 0px 0px;
	-moz-border-radius:6px 6px 0px 0px;
	-webkit-border-radius:6px 6px 0px 0px;
	border:0px solid #000000
}
body>.content {
	background-color:#fff;
	-moz-box-shadow:0px 0px 5px 0px rgba(0,0,0,0.4);
	-webkit-box-shadow:0px 0px 5px 0px rgba(0,0,0,0.4);
	box-shadow:0px 0px 5px 0px rgba(0,0,0,0.4)
}
.thing:last-of-type {
	border-radius:3px
}
body {
	background-color:rgba(0,0,0,0.06)
}
body>.content {
	animation-name:fadein;
	animation-duration:1s;
	animation-iteration-count:1;
	-webkit-animation-name:fadein;
	-webkit-animation-duration:1s;
	-webkit-animation-iteration-count:1;
	margin:39px 30px 0 10px;
	padding:0;
	width:calc(100% - 330px)
}
@-webkit-keyframes fadein {
	0% {
		opacity:0;
		transform:translateY(48px);
		-webkit-transform:translateY(48px)
	}
	100% {
		opacity:1;
		transform:translateY(0);
		-webkit-transform:translateY(0)
	}
}
@-moz-keyframes fadein {
	0% {
		opacity:0;
		transform:translateY(48px);
		-webkit-transform:translateY(48px)
	}
	100% {
		opacity:1;
		transform:translateY(0);
		-webkit-transform:translateY(0)
	}
}
@-o-keyframes fadein {
	0% {
		opacity:0;
		transform:translateY(48px);
		-webkit-transform:translateY(48px)
	}
	100% {
		opacity:1;
		transform:translateY(0);
		-webkit-transform:translateY(0)
	}
}
@keyframes fadein {
	0% {
		opacity:0;
		transform:translateY(48px);
		-webkit-transform:translateY(48px)
	}
	100% {
		opacity:1;
		transform:translateY(0);
		-webkit-transform:translateY(0)
	}
}
.link {
	margin-left:0px;
	margin-bottom:1px;
	padding-top:1px;
	padding-bottom:2px;
	background:-ms-linear-gradient(#ffffff,#fafafa);
	background:-webkit-linear-gradient(#ffffff,#fafafa);
	background:-o-linear-gradient(#ffffff,#fafafa);
	background:-moz-linear-gradient(#ffffff,#fafafa);
	background:linear-gradient(#ffffff,#fafafa)
}
.res-nightmode .link {
	margin-bottom:1px;
	background:-ms-linear-gradient(#141414,#000000);
	background:-webkit-linear-gradient(#141414,#000000);
	background:-o-linear-gradient(#141414,#000000);
	background:-moz-linear-gradient(#141414,#000000);
	background:linear-gradient(#141414,#000000)
}
.res-nightmode .link .thumbnail {
	display:inline-block;
	width:55px!important;
	height:59px!important;
	background-image:url("/themes/res/pXITiYUYQYOQDV9PRAGdaTSpWHHmnXx4tSWIvGfqHJI.png")!important;
	background-size:715px 55px!important;
	border-radius:6px 6px 6px 6px;
	margin:4px 7px 0px -2px;
	-moz-border-radius:6px 6px 6px 6px;
	-webkit-border-radius:6px 6px 6px 6px;
	-webkit-animation:playt 1.5s steps(13) infinite;
	-moz-animation:playt 1.5s steps(13) infinite;
	-ms-animation:playt 1.5s steps(13) infinite;
	-o-animation:playt 1.5s steps(13) infinite;
	animation:playt 1.5s steps(13) infinite
}
@-webkit-keyframes playt {
	from {
		background-position:0px
	}
	to {
		background-position:-715px
	}
}
@-moz-keyframes playt {
	from {
		background-position:0px
	}
	to {
		background-position:-715px
	}
}
@-ms-keyframes playt {
	from {
		background-position:0px
	}
	to {
		background-position:-715px
	}
}
@-o-keyframes playt {
	from {
		background-position:0px
	}
	to {
		background-position:-715px
	}
}
@keyframes playt {
	from {
		background-position:0px
	}
	to {
		background-position:-715px
	}
}
.link .thumbnail {
	display:inline-block;
	width:55px!important;
	height:59px!important;
	background-image:url("/themes/res/yeA3qWhH3sKnNbkPbbZ5JAgsM36tPpdiM3lnvFaebDk.png")!important;
	background-size:715px 55px!important;
	border-radius:6px 6px 6px 6px;
	margin:4px 7px 0px -2px;
	-moz-border-radius:6px 6px 6px 6px;
	-webkit-border-radius:6px 6px 6px 6px;
	-webkit-animation:playt 1.5s steps(13) infinite;
	-moz-animation:playt 1.5s steps(13) infinite;
	-ms-animation:playt 1.5s steps(13) infinite;
	-o-animation:playt 1.5s steps(13) infinite;
	animation:playt 1.5s steps(13) infinite
}
@-webkit-keyframes playt {
	from {
		background-position:0px
	}
	to {
		background-position:-715px
	}
}
@-moz-keyframes playt {
	from {
		background-position:0px
	}
	to {
		background-position:-715px
	}
}
@-ms-keyframes playt {
	from {
		background-position:0px
	}
	to {
		background-position:-715px
	}
}
@-o-keyframes playt {
	from {
		background-position:0px
	}
	to {
		background-position:-715px
	}
}
@keyframes playt {
	from {
		background-position:0px
	}
	to {
		background-position:-715px
	}
}
.panestack-title {
	border-bottom:none
}
.footer-parent {
	background:url("/themes/res/AcGLBvY2Dv04hLC-xXFPfmjE17ozK63c0clwULiT_ns.png") no-repeat top center scroll;
	margin:0 auto;
	padding:423px 0 0 0
}
.res-nightmode .footer-parent {
	background:none!important;
	margin:0 auto;
	padding:423px 0 0 0
}
.linkinfo {
	border-radius:3px;
	background-color:#fff;
	text-align:center;
	margin-left:16px;
	margin-right:16px;
	padding:18px;
	border:4px solid #bc0000;
	-moz-box-shadow:0px 0px 5px 0px rgba(0,0,0,0.4);
	-webkit-box-shadow:0px 0px 5px 0px rgba(0,0,0,0.4);
	box-shadow:0px 0px 5px 0px rgba(0,0,0,0.4)
}
.linkinfo .date {
	text-align:center
}
.link .usertext-body .md {
	background-color:transparent;
	border:none;
	border-radius:0
}
.linkinfo .score {
	text-align:center
}
.linkinfo .shortlink {
	text-align:center
}
.res-voteEnhancements-estimatePostVotes .linkinfo .totalvotes {
	text-align:center
}
.res-voteEnhancements-estimatePostVotes .linkinfo .totalvotes:before {
	content:"third party estimate: "
}
.reportbtn {
	font-size:0;
	content:""
}
.reportbtn::after {
	content:"deport";
	font-size:x-small
}
.edit-usertext {
	font-size:0;
	content:""
}
.edit-usertext::after {
	content:"spez";
	font-size:x-small
}
.report-header {
	font-size:0;
	content:""
}
.reason-prompt.report-header::after {
	content:"What law is this person breaking?";
	font-size:medium
}
.reason-prompt.report-header::after {
	content:"What law is this person breaking?";
	visibility:visible;
	word-spacing:normal;
	letter-spacing:normal
}
.link .rank {
	display:none
}
.comment .arrow.upmod {
	background-image:url("/themes/res/9v5xW9A00h_M3pmmF_qL9ghdGV-1drj6EQBAGJwxhvA.png");
	background-position:0px 0px;
	height:24px;
	width:25px;
	margin-top:5px;
	margin-left:10px
}
.comment .arrow.up {
	margin-top:15px
}
.comment .arrow.down {
	margin-bottom:11px;
	margin-top:2px
}
.comment .arrow.downmod {
	background-image:url("/themes/res/4lPV4NMk51pTNbsEXNpZq5BIvnddBGOSpbwNazfusWQ.png");
	background-position:0px 0px;
	height:24px;
	width:25px;
	margin-left:10px
}
.comment .midcol {
	margin-right:0px;
	width:45px
}
.link .midcol {
	width:45px!important;
	margin-right:12px
}
.link .arrow.down {
	display:none
}
.link .arrow.downmod {
	display:none
}
.link .arrow.up {
	background-image:url("/themes/res/d3JoHviiJalF-Z_lW_4rqhASE0lcHRkaq7Gtp2GuIIY.png");
	background-position:-225px -172px;
	width:45px;
	height:43px;
	margin-top:5px;
	margin-bottom:5px
}
.res-nightmode .link .arrow.up {
	background-image:url("/themes/res/d3JoHviiJalF-Z_lW_4rqhASE0lcHRkaq7Gtp2GuIIY.png")!important;
	background-position:-225px -172px!important;
	width:45px!important;
	height:43px!important;
	margin-top:5px!important;
	margin-bottom:5px!important
}
.link .arrow.upmod {
	background:url("/themes/res/d3JoHviiJalF-Z_lW_4rqhASE0lcHRkaq7Gtp2GuIIY.png");
	background-position:-270px -172px;
	width:45px;
	height:43px;
	margin-top:5px;
	margin-bottom:5px
}
.res-nightmode .link .arrow.upmod {
	background:url("/themes/res/d3JoHviiJalF-Z_lW_4rqhASE0lcHRkaq7Gtp2GuIIY.png");
	background-position:-270px -172px;
	width:45px;
	height:43px;
	margin-top:5px;
	margin-bottom:5px
}
.link .arrow.upmod:focus {
	animation:upTrump ease 2s;
	animation-delay:0.2s;
	animation-iteration-count:1;
	-webkit-animation:upTrump ease 2s;
	-webkit-animation-delay:0.2s;
	-webkit-animation-iteration-count:1;
	-moz-animation:upTrump ease 2s;
	-moz-animation-delay:0.2s;
	-moz-animation-iteration-count:1;
	-o-animation:upTrump ease 2s;
	-o-animation-delay:0.2s;
	-o-animation-iteration-count:1;
	-ms-animation:upTrump ease 2s;
	-ms-animation-delay:0.2s;
	-ms-animation-iteration-count:1
}
@keyframes upTrump {
	0% {
		background-position:0px 0px
	}
	0.001% {
		background-position:-45px 0px
	}
	2.5% {
		background-position:-45px 0px
	}
	2.501% {
		background-position:-90px 0px
	}
	5% {
		background-position:-90px 0px
	}
	5.001% {
		background-position:-135px 0px
	}
	7.5% {
		background-position:-135px 0px
	}
	7.501% {
		background-position:-180px 0px
	}
	10% {
		background-position:-180px 0px
	}
	10.001% {
		background-position:-225px 0px
	}
	12.5% {
		background-position:-225px 0px
	}
	12.501% {
		background-position:-270px 0px
	}
	15% {
		background-position:-270px 0px
	}
	15.001% {
		background-position:0px -43px
	}
	17.5% {
		background-position:0px -43px
	}
	17.501% {
		background-position:-45px -43px
	}
	20% {
		background-position:-45px -43px
	}
	20.001% {
		background-position:-90px -43px
	}
	22.5% {
		background-position:-90px -43px
	}
	22.501% {
		background-position:-135px -43px
	}
	25% {
		background-position:-135px -43px
	}
	25.001% {
		background-position:-180px -43px
	}
	27.5% {
		background-position:-180px -43px
	}
	27.501% {
		background-position:-225px -43px
	}
	30% {
		background-position:-225px -43px
	}
	30.001% {
		background-position:-270px -43px
	}
	32.5% {
		background-position:-270px -43px
	}
	32.501% {
		background-position:0px -86px
	}
	35% {
		background-position:0px -86px
	}
	35.001% {
		background-position:-45px -86px
	}
	37.5% {
		background-position:-45px -86px
	}
	37.501% {
		background-position:-90px -86px
	}
	40% {
		background-position:-90px -86px
	}
	40.001% {
		background-position:-135px -86px
	}
	42.5% {
		background-position:-135px -86px
	}
	42.501% {
		background-position:-180px -86px
	}
	45% {
		background-position:-180px -86px
	}
	45.001% {
		background-position:-225px -86px
	}
	47.5% {
		background-position:-225px -86px
	}
	47.501% {
		background-position:-270px -86px
	}
	50% {
		background-position:-270px -86px
	}
	50.001% {
		background-position:0px -129px
	}
	52.5% {
		background-position:0px -129px
	}
	52.501% {
		background-position:-45px -129px
	}
	55% {
		background-position:-45px -129px
	}
	55.001% {
		background-position:-90px -129px
	}
	57.5% {
		background-position:-90px -129px
	}
	57.501% {
		background-position:-135px -129px
	}
	60% {
		background-position:-135px -129px
	}
	60.001% {
		background-position:-180px -129px
	}
	62.5% {
		background-position:-180px -129px
	}
	62.501% {
		background-position:-225px -129px
	}
	65% {
		background-position:-225px -129px
	}
	65.001% {
		background-position:-270px -129px
	}
	67.5% {
		background-position:-270px -129px
	}
	67.501% {
		background-position:0px -172px
	}
	70% {
		background-position:0px -172px
	}
	70.001% {
		background-position:-45px -172px
	}
	72.5% {
		background-position:-45px -172px
	}
	72.501% {
		background-position:-90px -172px
	}
	75% {
		background-position:-90px -172px
	}
	75.001% {
		background-position:-135px -172px
	}
	77.5% {
		background-position:-135px -172px
	}
	77.501% {
		background-position:-180px -172px
	}
	80% {
		opacity:1;
		background-position:-180px -172px
	}
	90% {
		opacity:1;
		background-position:-180px -172px
	}
	95% {
		opacity:0;
		background-position:-180px -172px
	}
	95.001% {
		opacity:0;
		background-position:-270px -172px
	}
	100% {
		opacity:1;
		background-position:-270px -172px
	}
}
@-webkit-keyframes upTrump {
	0% {
		background-position:0px 0px
	}
	0.001% {
		background-position:-45px 0px
	}
	2.5% {
		background-position:-45px 0px
	}
	2.501% {
		background-position:-90px 0px
	}
	5% {
		background-position:-90px 0px
	}
	5.001% {
		background-position:-135px 0px
	}
	7.5% {
		background-position:-135px 0px
	}
	7.501% {
		background-position:-180px 0px
	}
	10% {
		background-position:-180px 0px
	}
	10.001% {
		background-position:-225px 0px
	}
	12.5% {
		background-position:-225px 0px
	}
	12.501% {
		background-position:-270px 0px
	}
	15% {
		background-position:-270px 0px
	}
	15.001% {
		background-position:0px -43px
	}
	17.5% {
		background-position:0px -43px
	}
	17.501% {
		background-position:-45px -43px
	}
	20% {
		background-position:-45px -43px
	}
	20.001% {
		background-position:-90px -43px
	}
	22.5% {
		background-position:-90px -43px
	}
	22.501% {
		background-position:-135px -43px
	}
	25% {
		background-position:-135px -43px
	}
	25.001% {
		background-position:-180px -43px
	}
	27.5% {
		background-position:-180px -43px
	}
	27.501% {
		background-position:-225px -43px
	}
	30% {
		background-position:-225px -43px
	}
	30.001% {
		background-position:-270px -43px
	}
	32.5% {
		background-position:-270px -43px
	}
	32.501% {
		background-position:0px -86px
	}
	35% {
		background-position:0px -86px
	}
	35.001% {
		background-position:-45px -86px
	}
	37.5% {
		background-position:-45px -86px
	}
	37.501% {
		background-position:-90px -86px
	}
	40% {
		background-position:-90px -86px
	}
	40.001% {
		background-position:-135px -86px
	}
	42.5% {
		background-position:-135px -86px
	}
	42.501% {
		background-position:-180px -86px
	}
	45% {
		background-position:-180px -86px
	}
	45.001% {
		background-position:-225px -86px
	}
	47.5% {
		background-position:-225px -86px
	}
	47.501% {
		background-position:-270px -86px
	}
	50% {
		background-position:-270px -86px
	}
	50.001% {
		background-position:0px -129px
	}
	52.5% {
		background-position:0px -129px
	}
	52.501% {
		background-position:-45px -129px
	}
	55% {
		background-position:-45px -129px
	}
	55.001% {
		background-position:-90px -129px
	}
	57.5% {
		background-position:-90px -129px
	}
	57.501% {
		background-position:-135px -129px
	}
	60% {
		background-position:-135px -129px
	}
	60.001% {
		background-position:-180px -129px
	}
	62.5% {
		background-position:-180px -129px
	}
	62.501% {
		background-position:-225px -129px
	}
	65% {
		background-position:-225px -129px
	}
	65.001% {
		background-position:-270px -129px
	}
	67.5% {
		background-position:-270px -129px
	}
	67.501% {
		background-position:0px -172px
	}
	70% {
		background-position:0px -172px
	}
	70.001% {
		background-position:-45px -172px
	}
	72.5% {
		background-position:-45px -172px
	}
	72.501% {
		background-position:-90px -172px
	}
	75% {
		background-position:-90px -172px
	}
	75.001% {
		background-position:-135px -172px
	}
	77.5% {
		background-position:-135px -172px
	}
	77.501% {
		background-position:-180px -172px
	}
	80% {
		opacity:1;
		background-position:-180px -172px
	}
	90% {
		opacity:1;
		background-position:-180px -172px
	}
	95% {
		opacity:0;
		background-position:-180px -172px
	}
	95.001% {
		opacity:0;
		background-position:-270px -172px
	}
	100% {
		opacity:1;
		background-position:-270px -172px
	}
}
@-moz-keyframes upTrump {
	0% {
		background-position:0px 0px
	}
	0.001% {
		background-position:-45px 0px
	}
	2.5% {
		background-position:-45px 0px
	}
	2.501% {
		background-position:-90px 0px
	}
	5% {
		background-position:-90px 0px
	}
	5.001% {
		background-position:-135px 0px
	}
	7.5% {
		background-position:-135px 0px
	}
	7.501% {
		background-position:-180px 0px
	}
	10% {
		background-position:-180px 0px
	}
	10.001% {
		background-position:-225px 0px
	}
	12.5% {
		background-position:-225px 0px
	}
	12.501% {
		background-position:-270px 0px
	}
	15% {
		background-position:-270px 0px
	}
	15.001% {
		background-position:0px -43px
	}
	17.5% {
		background-position:0px -43px
	}
	17.501% {
		background-position:-45px -43px
	}
	20% {
		background-position:-45px -43px
	}
	20.001% {
		background-position:-90px -43px
	}
	22.5% {
		background-position:-90px -43px
	}
	22.501% {
		background-position:-135px -43px
	}
	25% {
		background-position:-135px -43px
	}
	25.001% {
		background-position:-180px -43px
	}
	27.5% {
		background-position:-180px -43px
	}
	27.501% {
		background-position:-225px -43px
	}
	30% {
		background-position:-225px -43px
	}
	30.001% {
		background-position:-270px -43px
	}
	32.5% {
		background-position:-270px -43px
	}
	32.501% {
		background-position:0px -86px
	}
	35% {
		background-position:0px -86px
	}
	35.001% {
		background-position:-45px -86px
	}
	37.5% {
		background-position:-45px -86px
	}
	37.501% {
		background-position:-90px -86px
	}
	40% {
		background-position:-90px -86px
	}
	40.001% {
		background-position:-135px -86px
	}
	42.5% {
		background-position:-135px -86px
	}
	42.501% {
		background-position:-180px -86px
	}
	45% {
		background-position:-180px -86px
	}
	45.001% {
		background-position:-225px -86px
	}
	47.5% {
		background-position:-225px -86px
	}
	47.501% {
		background-position:-270px -86px
	}
	50% {
		background-position:-270px -86px
	}
	50.001% {
		background-position:0px -129px
	}
	52.5% {
		background-position:0px -129px
	}
	52.501% {
		background-position:-45px -129px
	}
	55% {
		background-position:-45px -129px
	}
	55.001% {
		background-position:-90px -129px
	}
	57.5% {
		background-position:-90px -129px
	}
	57.501% {
		background-position:-135px -129px
	}
	60% {
		background-position:-135px -129px
	}
	60.001% {
		background-position:-180px -129px
	}
	62.5% {
		background-position:-180px -129px
	}
	62.501% {
		background-position:-225px -129px
	}
	65% {
		background-position:-225px -129px
	}
	65.001% {
		background-position:-270px -129px
	}
	67.5% {
		background-position:-270px -129px
	}
	67.501% {
		background-position:0px -172px
	}
	70% {
		background-position:0px -172px
	}
	70.001% {
		background-position:-45px -172px
	}
	72.5% {
		background-position:-45px -172px
	}
	72.501% {
		background-position:-90px -172px
	}
	75% {
		background-position:-90px -172px
	}
	75.001% {
		background-position:-135px -172px
	}
	77.5% {
		background-position:-135px -172px
	}
	77.501% {
		background-position:-180px -172px
	}
	80% {
		opacity:1;
		background-position:-180px -172px
	}
	90% {
		opacity:1;
		background-position:-180px -172px
	}
	95% {
		opacity:0;
		background-position:-180px -172px
	}
	95.001% {
		opacity:0;
		background-position:-270px -172px
	}
	100% {
		opacity:1;
		background-position:-270px -172px
	}
}
@-o-keyframes upTrump {
	0% {
		background-position:0px 0px
	}
	0.001% {
		background-position:-45px 0px
	}
	2.5% {
		background-position:-45px 0px
	}
	2.501% {
		background-position:-90px 0px
	}
	5% {
		background-position:-90px 0px
	}
	5.001% {
		background-position:-135px 0px
	}
	7.5% {
		background-position:-135px 0px
	}
	7.501% {
		background-position:-180px 0px
	}
	10% {
		background-position:-180px 0px
	}
	10.001% {
		background-position:-225px 0px
	}
	12.5% {
		background-position:-225px 0px
	}
	12.501% {
		background-position:-270px 0px
	}
	15% {
		background-position:-270px 0px
	}
	15.001% {
		background-position:0px -43px
	}
	17.5% {
		background-position:0px -43px
	}
	17.501% {
		background-position:-45px -43px
	}
	20% {
		background-position:-45px -43px
	}
	20.001% {
		background-position:-90px -43px
	}
	22.5% {
		background-position:-90px -43px
	}
	22.501% {
		background-position:-135px -43px
	}
	25% {
		background-position:-135px -43px
	}
	25.001% {
		background-position:-180px -43px
	}
	27.5% {
		background-position:-180px -43px
	}
	27.501% {
		background-position:-225px -43px
	}
	30% {
		background-position:-225px -43px
	}
	30.001% {
		background-position:-270px -43px
	}
	32.5% {
		background-position:-270px -43px
	}
	32.501% {
		background-position:0px -86px
	}
	35% {
		background-position:0px -86px
	}
	35.001% {
		background-position:-45px -86px
	}
	37.5% {
		background-position:-45px -86px
	}
	37.501% {
		background-position:-90px -86px
	}
	40% {
		background-position:-90px -86px
	}
	40.001% {
		background-position:-135px -86px
	}
	42.5% {
		background-position:-135px -86px
	}
	42.501% {
		background-position:-180px -86px
	}
	45% {
		background-position:-180px -86px
	}
	45.001% {
		background-position:-225px -86px
	}
	47.5% {
		background-position:-225px -86px
	}
	47.501% {
		background-position:-270px -86px
	}
	50% {
		background-position:-270px -86px
	}
	50.001% {
		background-position:0px -129px
	}
	52.5% {
		background-position:0px -129px
	}
	52.501% {
		background-position:-45px -129px
	}
	55% {
		background-position:-45px -129px
	}
	55.001% {
		background-position:-90px -129px
	}
	57.5% {
		background-position:-90px -129px
	}
	57.501% {
		background-position:-135px -129px
	}
	60% {
		background-position:-135px -129px
	}
	60.001% {
		background-position:-180px -129px
	}
	62.5% {
		background-position:-180px -129px
	}
	62.501% {
		background-position:-225px -129px
	}
	65% {
		background-position:-225px -129px
	}
	65.001% {
		background-position:-270px -129px
	}
	67.5% {
		background-position:-270px -129px
	}
	67.501% {
		background-position:0px -172px
	}
	70% {
		background-position:0px -172px
	}
	70.001% {
		background-position:-45px -172px
	}
	72.5% {
		background-position:-45px -172px
	}
	72.501% {
		background-position:-90px -172px
	}
	75% {
		background-position:-90px -172px
	}
	75.001% {
		background-position:-135px -172px
	}
	77.5% {
		background-position:-135px -172px
	}
	77.501% {
		background-position:-180px -172px
	}
	80% {
		opacity:1;
		background-position:-180px -172px
	}
	90% {
		opacity:1;
		background-position:-180px -172px
	}
	95% {
		opacity:0;
		background-position:-180px -172px
	}
	95.001% {
		opacity:0;
		background-position:-270px -172px
	}
	100% {
		opacity:1;
		background-position:-270px -172px
	}
}
.entry {
	padding-top:7px
}
.link.last-clicked {
	border:none
}
.thing.stickied {
	border-radius:3px;
	border-left:2px solid #bc0000;
	margin-left:-2px;
	border-bottom:2px solid rgba(255,165,0,0.3);
	background:linear-gradient(#ffffff,rgba(255,165,0,0.05))
}
.res-nightmode .thing.stickied {
	border-radius:3px;
	border-left:2px solid #bc0000;
	margin-left:-2px;
	border-bottom:2px solid rgb(93,4,4);
	background:linear-gradient(#2c2f48,rgb(0,0,0))
}
.thing.stickied a.title,.thing.stickied a.title:visited,.thing.stickied a.title.visited {
	font-weight:normal;
	padding:0 8px 0 8px;
	font-weight:normal;
	font-family:"Trebuchet MS1",sans-serif;
	padding:8px;
	background-color:#bc0000;
	color:#ffffff;
	line-height:28px;
	text-shadow:1px 1px 4px rgba(0,0,0,1)
}
.thing.stickied a.title::after {
	content:" ★"
}
.thing.stickied a.title::before {
	content:"★ "
}
.domain a {
	color:#e00000;
	display:inline-block;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	vertical-align:middle;
	max-width:19em;
	font-size:10px;
	font-weight:bolder
}
.domain {
	color:#e00000
}
.res-nightmode .domain {
	color:#96a4b1!important
}
.stickied .title {
	color:white!important
}
.link .title {
	font-family:"Trebuchet MS1",sans-serif!important
}
.stickied-tagline {
	color:orange!important
}
.link .thumbnail img {
	height:100%
}
.promotedlink .thumbnail {
	height:70px!important;
	width:70px!important;
	background:none!important
}
.menuarea {
	border-bottom:none!important
}
.dropdown.lightdrop .selected {
	text-decoration:none!important
}
.commentarea .usertext .usertext-edit .bottom-area:before {
	margin-top:3px;
	content:"Posts that disrespect President Trump will be quickly removed. Please ask questions about Trump on /r/AskThe_Donald.";
	display:block;
	padding:5px;
	background-color:#263982;
	border-bottom:3px solid #8B181D!important;
	color:#fff;
	font-size:12px;
	font-weight:bold;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	border-radius:0px
}
.link .entry li .comments {
	visibility:visible;
	color:#5a78c4;
	font-weight:bold;
	font-size:11px
}
.entry .buttons a[onclick*="reply"] {
	color:#5a78c4;
	font-size:11px
}
.tagline {
	font-family:Arial,Sans-Serif!important;
	font-size:12px
}
.res-commentBoxes .comment {
	padding-left:0px!important;
	border-bottom:0px solid #ddd!important;
	border-right:0px solid #ddd!important;
	border-top:1px solid #f5f5f5!important;
	border-left:2px solid #ddd!important;
	border-radius:0px!important;
	margin-bottom:5px!important
}
.comment,.comment .showreplies {
	padding-left:0px!important;
	border-bottom:0px solid #ddd!important;
	border-right:0px solid #ddd!important;
	border-top:1px solid #f5f5f5!important;
	border-left:2px solid #ddd!important;
	border-radius:0px!important;
	margin-bottom:5px!important
}
.comment .child,.comment .showreplies {
	border:none
}
.commentarea .usertext textarea:focus,.roundfield .usertext-edit textarea:focus {
	background-position:0 -200px;
	right:-100px
}
a[href="http://suicidepreventionlifeline.org"]:after {
	content:url("/themes/res/lRa30oKWwxhcqwfa800MoRkkoMsVFEyq9s388LPknoo.png")
}
.res-nightmode body,.res-nightmode body .content,.res-nightmode .modal-body,.res-nightmode .side,.res-nightmode .icon-menu a,.res-nightmode .side .leavemoderator,.res-nightmode .side .leavecontributor-button,.res-nightmode .side .titlebox,.res-nightmode .side .spacer .titlebox .redditname,.res-nightmode .side .titlebox .flairtoggle,.res-nightmode .side .usertext-body .md ol,.res-nightmode .side .usertext-body .md ol ol,.res-nightmode .side .usertext-body .md ol ol li,.res-nightmode .modactionlisting table *,.res-nightmode .side .recommend-box .rec-item {
	background-color:rgb(38,38,38)!important;
	border-color:rgb(119,119,119)
}
.md .-lists,.md ul,.md ol {
	padding-left:20px
}
.side ul.content {
	background-color:#f0f0f0
}
.icon-menu a {
	background:#f0f0f0
}
.res-nightmode .icon-menu a {
	background:#262626!important
}
.infobar {
	background-color:#fff;
	border:2px solid #bf0000;
	text-align:justify;
	-moz-box-shadow:0px 0px 5px 0px rgba(0,0,0,0.4);
	-webkit-box-shadow:0px 0px 5px 0px rgba(0,0,0,0.4);
	box-shadow:0px 0px 5px 0px rgba(0,0,0,0.4);
	border-radius:0!important
}
.formtabs-content .infobar {
	padding:12px
}
.subscribers {
	position:absolute;
	top:530px;
	font-size:27px;
	font-family:Arial;
	font-weight:bold;
	color:#fff;
	padding-top:10px;
	padding-left:0px;
	padding-right:25px;
	padding-bottom:20px;
	text-shadow:1px 1px 4px #000000;
	margin-left:6px;
	letter-spacing:1px
}
.res .subscribers {
	position:absolute;
	top:530px;
	font-size:27px;
	font-family:Arial;
	font-weight:bold;
	color:#fff;
	padding-top:10px;
	padding-left:73px;
	padding-right:15px;
	padding-bottom:20px;
	text-shadow:1px 1px 4px #000000;
	margin-left:26px;
	letter-spacing:1px
}
#.subscribers .number::after {
	content:"5,400"
}
.users-online {
	margin-left:72px;
	position:absolute;
	top:571px;
	color:white;
	font-family:Arial;
	font-size:12px;
	text-shadow:0px 0px 4px #111
}
.users-online .number::after {
	content:" winners online now!"
}
.users-online:before {
	display:none
}
#search_showmore {
	display:none
}
.side a[href="https://twitter.com/TheDonaldReddit"] {
	position:absolute;
	top:30px;
	left:50%;
	margin-left:-63px;
	display:inline-block;
	height:28px;
	width:105px;
	background:url("/themes/res/YTfk3wlQ76sYUmXZKtYp1IEHIn2r3YcSyRPzgisHeU8.png")no-repeat 0px -352px;
	z-index:999
}
.side a[href="https://twitter.com/TheDonaldReddit"]:hover {
	-moz-transform:translate(5px,0px);
	-ms-transform:translate(5px,0px);
	-o-transform:translate(5px,0px);
	-webkit-transform:translate(5px,0px);
	transform:translate(5px,0px)
}
.side a[href="https://www.facebook.com/TheDonaldMovement/"] {
	position:absolute;
	top:60px;
	left:50%;
	margin-left:-50px;
	display:inline-block;
	height:28px;
	width:123px;
	background:url("/themes/res/YTfk3wlQ76sYUmXZKtYp1IEHIn2r3YcSyRPzgisHeU8.png")no-repeat -122px -352px;
	z-index:999
}
.side a[href="https://gab.ai/thedonaldreddit"] {
	position:absolute;
	top:105px;
	left:50%;
	margin-left:-50px;
	display:inline-block;
	height:28px;
	width:123px;
	background:url("/themes/res/RyuTb44pQ5TNh9RWqem_obDQFcRqN8EHJV_SeK29mLg.png")no-repeat -122px -352px;
	z-index:999;
	display:none
}
.side a[href="https://www.facebook.com/TheDonaldMovement/"]:hover {
	-moz-transform:translate(5px,0px);
	-ms-transform:translate(5px,0px);
	-o-transform:translate(5px,0px);
	-webkit-transform:translate(5px,0px);
	transform:translate(5px,0px)
}
.side a[href="https://kiwiirc.com/client/us.synirc.net/trump"] {
	position:absolute;
	top:90px;
	left:50%;
	margin-left:-50px;
	display:inline-block;
	height:29px;
	width:122px;
	background:url("/themes/res/YTfk3wlQ76sYUmXZKtYp1IEHIn2r3YcSyRPzgisHeU8.png")no-repeat -3px -397px;
	z-index:999
}
.side a[href="https://kiwiirc.com/client/us.synirc.net/trump"]:hover {
	-moz-transform:translate(5px,0px);
	-ms-transform:translate(5px,0px);
	-o-transform:translate(5px,0px);
	-webkit-transform:translate(5px,0px);
	transform:translate(5px,0px)
}
.side a[href="https://discord.gg/mcChypB"] {
	position:absolute;
	top:120px;
	left:50%;
	margin-left:-63px;
	display:inline-block;
	height:28px;
	width:114px;
	background:url("/themes/res/YTfk3wlQ76sYUmXZKtYp1IEHIn2r3YcSyRPzgisHeU8.png")no-repeat -122px -397px;
	z-index:999
}
.side a[href="https://discord.gg/mcChypB"]:hover {
	-moz-transform:translate(5px,0px);
	-ms-transform:translate(5px,0px);
	-o-transform:translate(5px,0px);
	-webkit-transform:translate(5px,0px);
	transform:translate(5px,0px)
}
.side {
	padding-right:9px;
	width:300px;
	margin:0px;
	margin-top:34px;
	border:none;
	padding-top:379px;
	background:url("/themes/res/Yy6UlqnigY9ER8IDVgP7DJoVvdBAw2u8r5kMyagw6RQ.png") top 10px left no-repeat
}
.res-nightmode .side {
	padding-right:9px;
	width:300px;
	margin:0px;
	margin-top:34px;
	border:none;
	padding-top:375px;
	background:url("/themes/res/Yy6UlqnigY9ER8IDVgP7DJoVvdBAw2u8r5kMyagw6RQ.png") top 10px left no-repeat
}
.side a[href=""] {
	position:absolute;
	width:300px;
	height:400px;
	top:232px;
	right:9px;
	content:".";
	z-index:100!important
}
.side .md>ul:nth-of-type(1) {
	font-size:16px;
	color:#556;
	box-shadow:0 0 3px rgba(0,0,0.15);
	border-radius:3px;
	overflow:hidden;
	list-style:none;
	padding:0;
	margin:0
}
.side .md>ul:nth-of-type(1),.side .md>ul:nth-of-type(1)::before {
	position:absolute;
	bottom:calc(100% - 154px);
	width:300px;
	background-color:rgba(240,240,240,0.9);
	z-index:9999;
	right:8px;
	-webkit-box-shadow:0px 0px 17px 3px rgba(0,0,0,0.75);
	-moz-box-shadow:0px 0px 17px 3px rgba(0,0,0,0.75);
	box-shadow:0px 0px 17px 3px rgba(0,0,0,0.75)
}
.side .md>ul:nth-of-type(1)::before {
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:0;
	opacity:0.4;
	border:10px solid #CCC
}
.side .md>ul:nth-of-type(1) li {
	position:relative;
	z-index:1;
	padding:0;
	margin:0;
	list-style:none
}
side .md>ul:nth-of-type(1) li>strong::after {
	content:"";
	display:block;
	position:absolute;
	top:.25em;
	right:-.25em;
	width:24px;
	height:24px
}
.side .md>ul:nth-of-type(1) ul {
	border-radius:4px;
	padding:4px 8px;
	margin:2px 3px 1px;
	font-size:12px;
	padding-bottom:8px;
	padding-top:8px
}
.side .md>ul:nth-of-type(1) a {
	color:#343434;
	line-height:20px;
	overflow:hidden;
	display:inline-block;
	max-height:19px
}
.side .md>ul:nth-of-type(1) a::before {
	content:"★ "!important;
	color:#bc0000
}
.res-nightmode a,.res-nightmode .md a,.res-nightmode .share-button .option,.res-nightmode #subscribe a,.res-nightmode .share .option,.res-nightmode .wired a,.res-nightmode .side a,.res-nightmode .link .score.dislikes,.res-nightmode .linkcompressed .score.dislikes,.res-nightmode a[rel="tag"],.res-nightmode .dsq-help,.res-nightmode #authorInfoToolTip h3 a,.res-nightmode .reddiquette,.res-nightmode .parent .author,.res-nightmode .parent .subreddit,.res-nightmode .combined-search-page .search-result a,.res-nightmode .combined-search-page .search-result a>mark,.res-nightmode .hoverHelp,.res-nightmode .deepthread a,.res-nightmode .policy-page .md h1 a,.res-nightmode .policy-page .md h3 a {
	color:rgb(150,164,177)!important
}
.res-nightmode .side .titlebox form.flairtoggle,.res-nightmode .trophy-area .content,.res-nightmode .side .md ol,.res-nightmode .side .md ul {
	background-color:rgb(38,38,38)!important
}
injected stylesheet .side .md>ul:nth-of-type(1) a:hover {
	color:#bc0000
}
.side .md>ul:nth-of-type(1)>li>strong {
	background:#bc0000;
	border:rgba(255,255,255,.25) solid;
	border-width:1px 0;
	display:block;
	margin:0 -1em .25em;
	padding:.25em 1em;
	font-weight:100;
	font-size:14px;
	color:#ffffff;
	text-transform:uppercase;
	text-align:center;
	text-shadow:1px 1px 7px rgba(0,0,0,1);
	-webkit-box-shadow:0px 4px 8px -1px rgba(0,0,0,0.75);
	-moz-box-shadow:0px 4px 8px -1px rgba(0,0,0,0.75);
	box-shadow:0px 4px 8px -1px rgba(0,0,0,0.75)
}
.side #search input[type=text] {
	-webkit-box-shadow:0px 0px 5px 0px rgba(0,0,0,0.4);
	-moz-box-shadow:0px 0px 5px 0px rgba(0,0,0,0.4);
	box-shadow:0px 0px 5px 0px rgba(0,0,0,0.4);
	border:2px solid #cc0202;
	width:280px;
	margin-top:180px;
	margin-left:28px
}
#search input[type=submit] {
	margin-top:180px
}
.search-result-group footer .info {
	padding:10px
}
.login-form-side {
	border:none
}
#search {
	position:absolute;
	right:13px;
	top:40px;
	width:315px
}
.res-nightmode .sidebox,.res-nightmode .subreddit-info,.res-nightmode .raisedbox,.res-nightmode .login-form-side,.res-nightmode .interstitial-subreddit-description {
	background-color:#262626;
	color:rgb(170,170,170);
	border-color:rgb(21,21,21)
}
.side .submit-link .morelink {
	background-image:url("/themes/res/YTfk3wlQ76sYUmXZKtYp1IEHIn2r3YcSyRPzgisHeU8.png")!important;
	background-position:0px -299px;
	background-repeat:no-repeat;
	border:none;
	font-size:0;
	padding-top:7px;
	padding-bottom:7px;
	border-radius:1.5px;
	margin-right:8px;
	margin-left:8px;
	-webkit-box-shadow:0px 4px 8px -1px rgba(0,0,0,0.75);
	-moz-box-shadow:0px 4px 8px -1px rgba(0,0,0,0.75);
	box-shadow:0px 4px 8px -1px rgba(0,0,0,0.75)
}
.side .submit-link .morelink:hover {
	-webkit-box-shadow:0px 6px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow:0px 6px 14px 0px rgba(0,0,0,0.75);
	box-shadow:0px 6px 14px 0px rgba(0,0,0,0.75)
}
.side .submit-link .morelink a:after {
	content:"Submit a Link";
	color:#fff;
	transition:all .3s ease;
	text-transform:uppercase;
	font-size:15px;
	line-height:2em;
	margin-top:0.625em;
	margin-bottom:0.625em;
	font-family:"Trebuchet MS1",sans-serif;
	text-rendering:optimizeLegibility;
	margin-left:13px;
	font-weight:normal!important;
	letter-spacing:0.5px;
	text-shadow:1px 1px 7px rgba(0,0,0,1)
}
.side .submit-link .morelink a:hover:after {
	color:#fff;
	text-shadow:0px 5px 8px rgba(0,0,0,1)
}
.side .submit-text .morelink {
	background-image:url("/themes/res/YTfk3wlQ76sYUmXZKtYp1IEHIn2r3YcSyRPzgisHeU8.png")!important;
	background-position:0px -0px;
	background-repeat:no-repeat;
	background-color:#b62026!important;
	border:none;
	font-size:0;
	font-family:"Trebuchet MS1",sans-serif;
	text-rendering:optimizeLegibility;
	font-weight:normal!important;
	padding-top:7px;
	padding-bottom:7px;
	border-radius:1.5px;
	-webkit-box-shadow:0px 4px 8px -1px rgba(0,0,0,0.75);
	-moz-box-shadow:0px 4px 8px -1px rgba(0,0,0,0.75);
	box-shadow:0px 4px 8px -1px rgba(0,0,0,0.75);
	margin-right:8px;
	margin-left:8px
}
.side .submit-text .morelink:hover {
	-webkit-box-shadow:0px 6px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow:0px 6px 14px 0px rgba(0,0,0,0.75);
	box-shadow:0px 6px 14px 0px rgba(0,0,0,0.75)
}
.side .submit-text .morelink a:after {
	content:"Submit a Text Post";
	color:#fff;
	transition:all .3s ease;
	text-transform:uppercase;
	font-size:15px;
	line-height:2em;
	margin-top:0.625em;
	margin-bottom:0.625em;
	font-family:"Trebuchet MS1",sans-serif;
	text-rendering:optimizeLegibility;
	margin-left:13px;
	letter-spacing:0.5px;
	text-shadow:1px 1px 7px rgba(0,0,0,1)
}
.side .submit-text .morelink a:hover:after {
	color:#fff;
	text-shadow:0px 5px 8px rgba(0,0,0,1)
}
.morelink .nub {
	display:none
}
.submit-link .morelink::after {
	content:" ";
	padding:10px;
	height:100px;
	font-weight:normal!important;
	position:absolute;
	display:block;
	background-color:#2b325f;
	color:#FFF;
	z-index:200;
	transition:200ms;
	border-radius:2px;
	pointer-events:none;
	font-size:17px;
	width:300px;
	top:0px;
	margin-right:300px;
	opacity:0;
	right:-13px;
	border-bottom:3px solid #555555!important;
	background-image:url("/themes/res/YTfk3wlQ76sYUmXZKtYp1IEHIn2r3YcSyRPzgisHeU8.png")!important;
	background-position:0px -46px;
	background-repeat:no-repeat;
	text-align:left;
	-webkit-box-shadow:0px 4px 8px -1px rgba(0,0,0,0.75);
	-moz-box-shadow:0px 4px 8px -1px rgba(0,0,0,0.75);
	box-shadow:0px 4px 8px -1px rgba(0,0,0,0.75)
}
.submit-text .morelink::after {
	content:" ";
	padding:10px;
	height:100px;
	font-weight:normal!important;
	position:absolute;
	display:block;
	background-color:#2b325f;
	color:#FFF;
	z-index:200;
	transition:200ms;
	border-radius:2px;
	pointer-events:none;
	font-size:17px;
	width:300px;
	top:0px;
	margin-right:300px;
	opacity:0;
	right:-13px;
	border-bottom:3px solid #555555!important;
	background-image:url("/themes/res/YTfk3wlQ76sYUmXZKtYp1IEHIn2r3YcSyRPzgisHeU8.png")!important;
	background-position:0px -177px;
	background-repeat:no-repeat;
	text-align:left;
	-webkit-box-shadow:0px 4px 8px -1px rgba(0,0,0,0.75);
	-moz-box-shadow:0px 4px 8px -1px rgba(0,0,0,0.75);
	box-shadow:0px 4px 8px -1px rgba(0,0,0,0.75)
}
.morelink:hover:after {
	margin-right:310px;
	opacity:100
}
.side .redditname,.side .leavemoderator {
	display:none
}
body:not(.subscriber) .arrow {
	visibility:hidden
}
body:not(.loggedin) .arrow {
	visibility:visible!important
}
#tb-bottombar {
	z-index:214748364!important
}
.listing-page.loggedin .option.add.login-required.active:after,.comments-page.loggedin .option.add.login-required.active:after {
	position:fixed;
	display:block;
	padding:25px;
	content:"";
	text-align:center;
	bottom:0px;
	font-size:39px;
	left:0;
	width:520px;
	background-image:url("/themes/res/PGrMKOOnOdNyHMd6xjjwpcoWHUuAmSXNuFwd2W-w1-8.png");
	font-weight:bold;
	z-index:2147483647!important;
	font-family:Arial;
	color:white!important;
	height:300px
}
#subButtons-The_Donald {
	margin-top:-40px;
	margin-left:26px
}
.titlebox {
	margin-top:20px
}
.res .titlebox form.flairtoggle {
	margin-top:10px
}
.fancy-toggle-button .remove {
	background-image:none!important;
	background-color:transparent;
	border:none;
	color:#4f4f4f
}
.fancy-toggle-button .add {
	background-image:none!important;
	background-color:transparent;
	border:none;
	color:#4f4f4f
}
.res .RESDashboardToggle,.res .RESshortcutside {
	background-image:none!important;
	border:none;
	color:#4f4f4f
}
.side .md h3 {
	position:relative;
	color:white;
	background:#2b325f!important;
	border:none;
	text-align:center;
	padding:7px 40px;
	border-bottom:3px solid #bc0000!important;
	border-radius:1.5px;
	-webkit-box-shadow:0px 4px 8px -1px rgba(0,0,0,0.75);
	-moz-box-shadow:0px 4px 8px -1px rgba(0,0,0,0.75);
	box-shadow:0px 4px 8px -1px rgba(0,0,0,0.75)
}
.side .md h1+blockquote {
	box-shadow:0px 0px 5px 0px rgba(0,0,0,0.4);
	margin-left:-2px;
	border:none;
	border-radius:4px;
	padding:8px;
	font-size:12px;
	color:gray
}
.side .md h1+blockquote a::after {
	display:inline-block;
	content:"";
	width:82px;
	height:25px;
	background:url("/themes/res/RybDTfk0fwX_hPtNhJYbW0OTUFl8kuQhIeyg075iKzE.png") no-repeat;
	background-position:-767px -5px;
	margin-bottom:-10px;
	margin-left:5px
}
.side .md h1 {
	display:none
}
.side .md h3+blockquote {
	background:url("/themes/res/piV15FSu9hGHWP6kyncSZfbxMM13cCXsPkhZxteDqTQ.png") repeat transparent!important;
	background-color:transparent;
	border-style:none;
	box-shadow:0 5px 5px -5px gray;
	color:#000;
	margin-top:-9px;
	margin-right:2px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
	padding-top:5px;
	padding-bottom:5px;
	margin-left:2px;
	padding:14px
}
.res-nightmode .side .md h3+blockquote {
	background:url("/themes/res/A5P3FI6KOQ5E9udhoakNrvkSuU8ZxdZx_CdFb0XMuJ8.png") repeat transparent!important
}
.side .md h3 a {
	color:white!important
}
.side .md h3:before {
	content:"";
	position:absolute;
	top:50%;
	left:0;
	width:30px;
	height:28px;
	margin-top:-10px;
	margin-left:12px;
	background:url("/themes/res/S2tV972B0rg7MkXrwSziKHsQj8gxWV20tPwOWAh2E60.png") left top no-repeat
}
.side .md h3:after {
	content:"";
	position:absolute;
	top:50%;
	right:0;
	width:30px;
	height:28px;
	margin-top:-10px;
	margin-right:2px;
	background:url("/themes/res/S2tV972B0rg7MkXrwSziKHsQj8gxWV20tPwOWAh2E60.png") left top no-repeat
}
.side .bottom {
	border:0
}
.sidebox.create .morelink {
	display:none
}
.sidebox.create .morelink {
	display:none
}
.sidebox.submit .spacer a,.sidebox.create .spacer a {
	display:none
}
.sidebox.create .morelink {
	display:none
}
.sidebox.submit .spacer {
	display:none
}
.sidebox.create .spacer {
	display:none
}
.side .sidecontentbox .content:nth-child(3) {
	pointer-events:none
}
.side .sidecontentbox .content .more {
	pointer-events:auto
}
.side .sidecontentbox#moderation_tools .content {
	pointer-events:auto
}
.sidecontentbox a.helplink {
	margin-top:3px!important
}
.sidecontentbox {
	padding:4px;
	padding-top:8px;
	box-shadow:0px 0px 5px 0px rgba(0,0,0,0.4);
	-webkit-box-shadow:0px 0px 5px 0px rgba(0,0,0,0.4);
	-moz-box-shadow:0px 0px 5px 0px rgba(0,0,0,0.4);
	border-radius:4px
}
.res-nightmode.sidecontentbox {
	background-color:#262626!important
}
.side ul.content {
	border:none
}
.sidecontentbox .title h1 {
	margin-left:4px;
	font-family:Arial;
	font-size:12px
}
.side .bottom {
	font-size:0;
	content:"";
	position:relative
}
.side .bottom .age {
	font-size:x-small
}
.side .bottom .age:before {
	content:"Pepe loves you.";
	position:absolute;
	left:0
}
.linkflairlabel {
	display:inline-flex;
	height:17px;
	vertical-align:bottom;
	line-height:17px;
	padding:0 4px
}
.linkflairlabel[title="FRESH"] {
	background-color:#66a3ff;
	color:white
}
.linkflairlabel[title="200k STRONG!"] {
	background-color:#b60101;
	color:white;
	font-size:15px;
	font-weight:bold;
	border-color:#b60101;
	border-width:1px;
	border-radius:7px
}
.linkflair-high-energy .linkflairlabel {
	background-color:#D50000;
	color:#fff;
	border-color:#D50000
}
.linkflair-high-energy .linkflairlabel {
	background-color:#D50000;
	color:#fff;
	border-color:#D50000
}
.linkflair-pepe .linkflairlabel {
	background-color:#388E3C;
	color:#fff;
	border-color:#388E3C
}
.linkflair-spicy .linkflairlabel {
	background-color:#F4511E;
	color:#fff;
	border-color:#F4511E
}
.linkflair-trump .linkflairlabel {
	background-color:#FDD835;
	color:#000;
	border-color:#F9A825;
	font-family:"Century Gothic",CenturyGothic,AppleGothic,sans-serif;
	font-style:normal;
	font-variant:normal;
	font-weight:bolder
}
.linkflair-nsfcucks .linkflairlabel {
	background-color:#FFEB3B;
	color:#000;
	border-color:#FFEB3B
}
.linkflair-america .linkflairlabel {
	background:repeating-linear-gradient(0deg,#1565C0,#0D47A1 10px,#B71C1C 10px,#C62828 20px);
	color:white;
	border:none;
	height:19px;
	line-height:19px
}
.linkflair-live .linkflairlabel {
	background-color:#D50000;
	color:#fff;
	border-color:#004D40;
	font-weight:bold
}
.linkflair-ttweet .linkflairlabel {
	background-color:#4099FF;
	color:#fff;
	border-color:#4099FF
}
.linkflair-fired .linkflairlabel {
	background-color:#D50000;
	color:#fff;
	border-color:#004D40
}
.flair {
	border:none!important;
	padding:0px;
	background:url("/themes/res/RybDTfk0fwX_hPtNhJYbW0OTUFl8kuQhIeyg075iKzE.png")no-repeat -9999px -9999px;
	display:inline-block;
	font-weight:bold;
	color:#0000ff
}
.flair-alabama {
	width:40px;
	height:20px;
	background-position:-5px -5px;
	text-indent:32px;
	font-size:85%
}
.flair-alaska {
	width:40px;
	height:20px;
	background-position:-45px -5px;
	text-indent:32px;
	font-size:85%
}
.flair-arizona {
	width:40px;
	height:20px;
	background-position:-85px -5px;
	text-indent:32px;
	font-size:85%
}
.flair-arkansas {
	width:40px;
	height:20px;
	background-position:-125px -5px;
	text-indent:32px;
	font-size:85%
}
.flair-california {
	width:40px;
	height:20px;
	background-position:-165px -5px;
	text-indent:32px;
	font-size:85%
}
.flair-colorado {
	width:40px;
	height:20px;
	background-position:-205px -5px;
	text-indent:32px;
	font-size:85%
}
.flair-connecticut {
	width:40px;
	height:20px;
	background-position:-5px -35px;
	text-indent:32px;
	font-size:85%
}
.flair-delaware {
	width:40px;
	height:20px;
	background-position:-45px -35px;
	text-indent:32px;
	font-size:85%
}
.flair-florida {
	width:40px;
	height:20px;
	background-position:-85px -35px;
	text-indent:32px;
	font-size:85%
}
.flair-georgia-us-state {
	width:40px;
	height:20px;
	background-position:-125px -35px;
	text-indent:32px;
	font-size:85%
}
.flair-hawaii {
	width:40px;
	height:20px;
	background-position:-165px -35px;
	text-indent:32px;
	font-size:85%
}
.flair-idaho {
	width:40px;
	height:20px;
	background-position:-205px -35px;
	text-indent:32px;
	font-size:85%
}
.flair-illinois {
	width:40px;
	height:20px;
	background-position:-5px -65px;
	text-indent:32px;
	font-size:85%
}
.flair-indiana {
	width:40px;
	height:20px;
	background-position:-45px -65px;
	text-indent:32px;
	font-size:85%
}
.flair-iowa {
	width:40px;
	height:20px;
	background-position:-85px -65px;
	text-indent:32px;
	font-size:85%
}
.flair-kansas {
	width:40px;
	height:20px;
	background-position:-125px -65px;
	text-indent:32px;
	font-size:85%
}
.flair-kentucky {
	width:40px;
	height:20px;
	background-position:-165px -65px;
	text-indent:32px;
	font-size:85%
}
.flair-louisiana {
	width:40px;
	height:20px;
	background-position:-205px -65px;
	text-indent:32px;
	font-size:85%
}
.flair-maine {
	width:40px;
	height:20px;
	background-position:-5px -95px;
	text-indent:32px;
	font-size:85%
}
.flair-maryland {
	width:40px;
	height:20px;
	background-position:-45px -95px;
	text-indent:32px;
	font-size:85%
}
.flair-massachusetts {
	width:40px;
	height:20px;
	background-position:-85px -95px;
	text-indent:32px;
	font-size:85%
}
.flair-michigan {
	width:38px;
	height:20px;
	background-position:-125px -95px;
	text-indent:32px;
	font-size:85%
}
.flair-minnesota {
	width:40px;
	height:20px;
	background-position:-165px -95px;
	text-indent:32px;
	font-size:85%
}
.flair-mississippi {
	width:40px;
	height:20px;
	background-position:-205px -95px;
	text-indent:32px;
	font-size:85%
}
.flair-missouri {
	width:40px;
	height:20px;
	background-position:-5px -125px;
	text-indent:32px;
	font-size:85%
}
.flair-montana {
	width:40px;
	height:20px;
	background-position:-45px -125px;
	text-indent:32px;
	font-size:85%
}
.flair-nebraska {
	width:40px;
	height:20px;
	background-position:-85px -125px;
	text-indent:32px;
	font-size:85%
}
.flair-nevada {
	width:40px;
	height:20px;
	background-position:-125px -125px;
	text-indent:32px;
	font-size:85%
}
.flair-new-hampshire {
	width:40px;
	height:20px;
	background-position:-165px -125px;
	text-indent:32px;
	font-size:85%
}
.flair-new-jersey {
	width:40px;
	height:20px;
	background-position:-205px -125px;
	text-indent:32px;
	font-size:85%
}
.flair-new-mexico {
	width:40px;
	height:20px;
	background-position:-5px -155px;
	text-indent:32px;
	font-size:85%
}
.flair-new-york {
	width:40px;
	height:20px;
	background-position:-45px -155px;
	text-indent:32px;
	font-size:85%
}
.flair-north-carolina {
	width:40px;
	height:20px;
	background-position:-85px -155px;
	text-indent:32px;
	font-size:85%
}
.flair-north-dakota {
	width:40px;
	height:20px;
	background-position:-125px -155px;
	text-indent:32px;
	font-size:85%
}
.flair-ohio {
	width:40px;
	height:20px;
	background-position:-165px -155px;
	text-indent:32px;
	font-size:85%
}
.flair-oklahoma {
	width:40px;
	height:20px;
	background-position:-205px -155px;
	text-indent:32px;
	font-size:85%
}
.flair-oregon {
	width:40px;
	height:20px;
	background-position:-5px -185px;
	text-indent:32px;
	font-size:85%
}
.flair-oregon-reverse {
	width:40px;
	height:20px;
	background-position:-45px -185px;
	text-indent:32px;
	font-size:85%
}
.flair-pennsylvania {
	width:40px;
	height:20px;
	background-position:-85px -185px;
	text-indent:32px;
	font-size:85%
}
.flair-puerto-rico {
	width:40px;
	height:20px;
	background-position:-125px -185px;
	text-indent:32px;
	font-size:85%
}
.flair-rhode-island {
	width:40px;
	height:20px;
	background-position:-165px -185px;
	text-indent:32px;
	font-size:85%
}
.flair-south-carolina {
	width:40px;
	height:20px;
	background-position:-205px -185px;
	text-indent:32px;
	font-size:85%
}
.flair-south-dakota {
	width:40px;
	height:20px;
	background-position:-5px -215px;
	text-indent:32px;
	font-size:85%
}
.flair-tennessee {
	width:40px;
	height:20px;
	background-position:-45px -215px;
	text-indent:32px;
	font-size:85%
}
.flair-texas {
	width:40px;
	height:20px;
	background-position:-85px -215px;
	text-indent:32px;
	font-size:85%
}
.flair-utah-enhanced-variant {
	width:30px;
	height:20px;
	background-position:-125px -215px;
	text-indent:35px;
	font-size:85%
}
.flair-vermont {
	width:40px;
	height:20px;
	background-position:-165px -215px;
	text-indent:32px;
	font-size:85%
}
.flair-virginia {
	width:40px;
	height:20px;
	background-position:-205px -215px;
	text-indent:32px;
	font-size:85%
}
.flair-washington {
	width:40px;
	height:20px;
	background-position:-245px -5px;
	text-indent:32px;
	font-size:85%
}
.flair-west-virginia {
	width:30px;
	height:20px;
	background-position:-245px -35px;
	text-indent:35px;
	font-size:85%
}
.flair-wisconsin {
	width:40px;
	height:20px;
	background-position:-245px -65px;
	text-indent:32px;
	font-size:85%
}
.flair-wyoming {
	width:40px;
	height:20px;
	background-position:-245px -95px;
	text-indent:32px;
	font-size:85%
}
.flair-washingtonDC {
	width:40px;
	height:20px;
	background-position:-245px -125px;
	text-indent:32px;
	font-size:85%
}
.flair-australia {
	width:25px;
	height:15px;
	background-position:-351px -5px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-belgium {
	width:25px;
	height:15px;
	background-position:-384px -5px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-brazil {
	width:25px;
	height:15px;
	background-position:-285px -30px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-canada {
	width:25px;
	height:15px;
	background-position:-317px -30px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-check {
	width:40px;
	height:20px;
	background-position:-525px -215px;
	text-indent:32px;
	font-size:85%
}
.flair-china {
	width:25px;
	height:15px;
	background-position:-350px -30px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-denmark {
	width:25px;
	height:15px;
	background-position:-383px -30px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-egypt {
	width:25px;
	height:15px;
	background-position:-285px -55px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-finland {
	width:25px;
	height:15px;
	background-position:-318px -55px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-france {
	width:25px;
	height:15px;
	background-position:-351px -55px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-germany {
	width:25px;
	height:15px;
	background-position:-384px -55px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-india {
	width:25px;
	height:15px;
	background-position:-318px -79px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-indonesia {
	width:25px;
	height:15px;
	background-position:-384px -79px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-iran {
	width:25px;
	height:15px;
	background-position:-285px -104px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-ireland {
	width:25px;
	height:15px;
	background-position:-318px -104px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-italy {
	width:25px;
	height:15px;
	background-position:-350px -104px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-jamaica {
	width:25px;
	height:15px;
	background-position:-525px -160px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-japan {
	width:25px;
	height:15px;
	background-position:-384px -104px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-mexico {
	width:25px;
	height:15px;
	background-position:-285px -129px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-netherlands {
	width:25px;
	height:15px;
	background-position:-285px -5px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-norway {
	width:25px;
	height:15px;
	background-position:-318px -129px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-pakistan {
	width:25px;
	height:15px;
	background-position:-349px -129px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-philippines {
	width:25px;
	height:15px;
	background-position:-318px -5px;
	text-indent:32px;
	font-size:85%;
	margin-right:20px
}
.flair-poland {
	width:25px;
	height:15px;
	background-position:-382px -129px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-russia {
	width:25px;
	height:15px;
	background-position:-417px -5px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-southAfrica {
	width:25px;
	height:15px;
	background-position:-417px -55px;
	text-indent:32px;
	font-size:85%;
	margin-right:20px
}
.flair-southKorea {
	width:25px;
	height:15px;
	background-position:-413px -30px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-spain {
	width:25px;
	height:15px;
	background-position:-417px -80px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-sweden {
	width:25px;
	height:15px;
	background-position:-285px -80px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-turkey {
	width:25px;
	height:15px;
	background-position:-417px -105px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-uk {
	width:25px;
	height:15px;
	background-position:-351px -80px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-ukraine {
	width:25px;
	height:15px;
	background-position:-415px -130px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-vietnam {
	width:25px;
	height:15px;
	background-position:-285px -155px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-EU {
	width:25px;
	height:15px;
	background-position:-450px -5px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-argentina {
	width:25px;
	height:15px;
	background-position:-450px -51px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-hungary {
	width:25px;
	height:15px;
	background-position:-450px -98px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-serbia {
	width:25px;
	height:15px;
	background-position:-450px -120px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-slovakia {
	width:25px;
	height:15px;
	background-position:-484px -5px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-bolivia {
	width:25px;
	height:15px;
	background-position:-483px -51px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-iraq {
	width:25px;
	height:15px;
	background-position:-483px -98px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-MURICA {
	width:25px;
	height:15px;
	background-position:-517px -5px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-vanuatu {
	width:25px;
	height:15px;
	background-position:-517px -27px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-croatia {
	width:25px;
	height:15px;
	background-position:-515px -51px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-greece {
	width:25px;
	height:15px;
	background-position:-515px -73px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-israel {
	width:25px;
	height:15px;
	background-position:-516px -98px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-jordan {
	width:25px;
	height:15px;
	background-position:-550px -5px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-libya {
	width:25px;
	height:15px;
	background-position:-550px -27px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-newzealand {
	width:25px;
	height:15px;
	background-position:-550px -49px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-romania {
	width:25px;
	height:15px;
	background-position:-548px -71px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-portugal {
	width:25px;
	height:15px;
	background-position:-582px -71px;
	text-indent:23px;
	font-size:85%;
	margin-right:22px
}
.flair-scotland {
	width:25px;
	height:15px;
	background-position:-548px -96px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-singapore {
	width:25px;
	height:15px;
	background-position:-547px -120px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-slovenia {
	width:25px;
	height:15px;
	background-position:-583px -5px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-venezuela {
	width:25px;
	height:15px;
	background-position:-583px -27px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-switzerland {
	width:16px;
	height:16px;
	background-position:-616px -5px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-airforce {
	width:40px;
	height:20px;
	background-position:-245px -155px;
	text-indent:32px;
	font-size:85%
}
.flair-army {
	width:40px;
	height:20px;
	background-position:-245px -185px;
	text-indent:32px;
	font-size:85%
}
.flair-coastguard {
	width:40px;
	height:20px;
	background-position:-245px -215px;
	text-indent:32px;
	font-size:85%
}
.flair-marinecorps {
	width:40px;
	height:20px;
	background-position:-285px -185px;
	text-indent:32px;
	font-size:85%
}
.flair-usnavy {
	width:40px;
	height:20px;
	background-position:-285px -215px;
	text-indent:32px;
	font-size:85%
}
.flair-cap {
	width:40px;
	height:20px;
	background-position:-325px -215px;
	text-indent:32px;
	font-size:85%
}
.flair-emt {
	width:40px;
	height:20px;
	background-position:-365px -185px;
	text-indent:32px;
	font-size:85%
}
.flair-fire {
	width:40px;
	height:20px;
	background-position:-365px -215px;
	text-indent:32px;
	font-size:85%
}
.flair-pow {
	width:40px;
	height:20px;
	background-position:-405px -215px;
	text-indent:32px;
	font-size:85%
}
.flair-ng {
	width:40px;
	height:20px;
	background-position:-445px -185px;
	text-indent:32px;
	font-size:85%
}
.flair-police {
	width:40px;
	height:20px;
	background-position:-405px -185px;
	text-indent:32px;
	font-size:85%
}
.flair-bp {
	width:40px;
	height:20px;
	background-position:-485px -135px;
	text-indent:32px;
	font-size:85%
}
.flair-gay {
	width:40px;
	height:20px;
	background-position:-445px -215px;
	text-indent:32px;
	font-size:85%
}
.flair-les {
	width:40px;
	height:20px;
	background-position:-485px -215px;
	text-indent:32px;
	font-size:85%
}
.flair-tg {
	width:40px;
	height:20px;
	background-position:-485px -185px;
	text-indent:32px;
	font-size:85%
}
.flair-rainbow {
	width:40px;
	height:20px;
	background-position:-525px -185px;
	text-indent:32px;
	font-size:85%
}
.flair-coal {
	width:40px;
	height:20px;
	background-position:-565px -160px;
	text-indent:32px;
	font-size:85%
}
.flair-money {
	width:37px;
	height:20px;
	background-position:-565px -185px;
	text-indent:32px;
	font-size:85%
}
.flair-lion {
	width:40px;
	height:20px;
	background-position:-565px -215px;
	text-indent:32px;
	font-size:85%
}
.flair-los {
	width:40px;
	height:20px;
	background-position:-485px -160px;
	text-indent:32px;
	font-size:85%
}
.flair-centi {
	width:38px;
	height:20px;
	background-position:-445px -160px;
	text-indent:32px;
	font-size:85%
}
.flair-rare {
	width:40px;
	height:20px;
	background-position:-405px -160px;
	text-indent:32px;
	font-size:85%
}
.flair-raretrump {
	width:30px;
	height:30px;
	background-position:-365px -150px;
	text-indent:32px;
	font-size:85%
}
.flair-rare3 {
	width:28px;
	height:27px;
	background-position:-327px -150px;
	text-indent:30px;
	font-size:85%
}
.flair-rare4 {
	width:33px;
	height:30px;
	background-position:-772px -241px;
	text-indent:36px;
	font-size:85%
}
.flair-rarehunter {
	width:30px;
	height:25px;
	background-position:-603px -210px;
	text-indent:32px;
	font-size:85%
}
.flair-tusta567 {
	width:30px;
	height:30px;
	background-position:-5px -241px;
	text-indent:32px;
	font-size:85%
}
.flair-getstumpedbytrump {
	width:32px;
	height:30px;
	background-position:-43px -241px;
	text-indent:32px;
	font-size:85%
}
.flair-byrdkissing {
	width:52px;
	height:30px;
	background-position:-85px -241px;
	text-indent:54px;
	font-size:85%
}
.flair-delegate {
	width:30px;
	height:30px;
	background-position:-245px -241px;
	text-indent:31px;
	font-size:85%
}
.flair-awoo {
	width:30px;
	height:30px;
	background-position:-139px -241px;
	text-indent:32px;
	font-size:85%
}
.flair-viking83 {
	width:28px;
	height:30px;
	background-position:-172px -241px;
	text-indent:30px;
	font-size:85%
}
.flair-georgia-nation {
	width:30px;
	height:21px;
	background-position:-205px -241px;
	text-indent:32px;
	font-size:85%
}
.flair-nickedavis {
	width:30px;
	height:20px;
	background-position:-285px -241px;
	text-indent:32px;
	font-size:85%
}
.flair-virginislands {
	width:32px;
	height:20px;
	background-position:-327px -241px;
	text-indent:34px;
	font-size:85%
}
.flair-taiwan {
	width:30px;
	height:20px;
	background-position:-365px -241px;
	text-indent:32px;
	font-size:85%
}
.flair-gun {
	width:37px;
	height:22px;
	background-position:-405px -241px;
	text-indent:38px;
	font-size:85%
}
.flair-ohsnap {
	width:31px;
	height:29px;
	background-position:-445px -241px;
	text-indent:32px;
	font-size:85%
}
.flair-folkchild {
	width:40px;
	height:23px;
	background-position:-600px -178px;
	text-indent:41px;
	font-size:85%
}
.flair-whiteymcprivilege {
	width:30px;
	height:30px;
	background-position:-485px -241px;
	text-indent:32px;
	font-size:85%
}
.flair-trumpforlife {
	width:33px;
	height:30px;
	background-position:-525px -241px;
	text-indent:32px;
	font-size:85%
}
.flair-hamgeck {
	width:30px;
	height:30px;
	background-position:-565px -241px;
	text-indent:31px;
	font-size:85%
}
.flair-gracejonestown {
	width:35px;
	height:30px;
	background-position:-603px -241px;
	text-indent:31px;
	font-size:85%
}
.flair-teammaga {
	width:35px;
	height:28px;
	background-position:-638px -241px;
	text-indent:33px;
	font-size:85%
}
.flair-christchancansaveyou {
	width:35px;
	height:25px;
	background-position:-701px -241px;
	text-indent:27px;
	font-size:85%
}
.flair-getstumped {
	width:36px;
	height:27px;
	background-position:-736px -241px;
	text-indent:36px;
	font-size:85%
}
.flair-taiwan {
	width:30px;
	height:20px;
	background-position:-5px -274px;
	text-indent:32px;
	font-size:85%
}
.flair-wales {
	width:33px;
	height:24px;
	background-position:-41px -274px;
	text-indent:34px;
	font-size:85%
}
.flair-microphone {
	width:21px;
	height:30px;
	background-position:-82px -274px;
	text-indent:24px;
	font-size:85%
}
.flair-ivanka {
	width:27px;
	height:30px;
	background-position:-120px -278px;
	text-indent:29px;
	font-size:85%
}
.flair-comfypepe {
	width:35px;
	height:30px;
	background-position:-150px -278px;
	text-indent:37px;
	font-size:85%
}
.flair-webkinz {
	width:26px;
	height:30px;
	background-position:-188px -278px;
	text-indent:28px;
	font-size:85%
}
.flair-trumpgeneral {
	width:41px;
	height:30px;
	background-position:-215px -278px;
	text-indent:43px;
	font-size:85%
}
.flair-diamondpepe {
	width:36px;
	height:32px;
	background-position:-285px -278px;
	text-indent:38px;
	font-size:85%
}
.flair-patriotpepe {
	width:36px;
	height:32px;
	background-position:-285px -315px;
	text-indent:38px;
	font-size:85%
}
.flair-teambtfo {
	width:39px;
	height:35px;
	background-position:-282px -356px;
	text-indent:38px;
	font-size:85%
}
.flair-sandwich {
	width:31px;
	height:31px;
	background-position:-333px -359px;
	text-indent:38px;
	font-size:85%
}
.flair-robot {
	width:32px;
	height:32px;
	background-position:-375px -359px;
	text-indent:38px;
	font-size:85%
}
.flair-britpepe {
	width:36px;
	height:34px;
	background-position:-414px -355px;
	text-indent:38px;
	font-size:85%
}
.flair-trumplion {
	width:27px;
	height:30px;
	background-position:-400px -316px;
	text-indent:29px;
	font-size:85%
}
.flair-kiss {
	width:23px;
	height:30px;
	background-position:-434px -317px;
	text-indent:25px;
	font-size:85%
}
.flair-kekistan {
	width:30px;
	height:17px;
	background-position:-673px -5px;
	text-indent:31px;
	font-size:85%
}
.flair-treadonme {
	width:30px;
	height:17px;
	background-position:-639px -5px;
	text-indent:31px;
	font-size:85%
}
.flair-armenian {
	width:25px;
	height:15px;
	background-position:-581px -95px;
	text-indent:25px;
	font-size:85%;
	margin-right:20px
}
.flair-tolandskin {
	width:26px;
	height:30px;
	background-position:-464px -320px;
	text-indent:28px;
	font-size:85%
}
.flair-fbi {
	width:26px;
	height:25px;
	background-position:-497px -317px;
	text-indent:28px;
	font-size:85%
}
.flair-goat {
	width:32px;
	height:25px;
	background-position:-458px -360px;
	text-indent:33px;
	font-size:85%
}
.flair-tomahawkmissile {
	width:32px;
	height:25px;
	background-position:-494px -358px;
	text-indent:33px;
	font-size:85%
}
.flair-sniperscope {
	width:32px;
	height:25px;
	background-position:-534px -361px;
	text-indent:33px;
	font-size:85%
}
.flair-moab {
	width:40px;
	height:20px;
	background-position:-532px -319px;
	text-indent:42px;
	font-size:85%
}
.flair-hatpepe {
	width:36px;
	height:36px;
	background-position:-242px -315px;
	text-indent:38px;
	font-size:85%
}
.flair-infowars {
	width:37px;
	height:35px;
	background-position:-196px -317px;
	text-indent:38px;
	font-size:75%
}
.flair-goldenpepe {
	width:30px;
	height:30px;
	background-position:-325px -278px;
	text-indent:33px;
	font-size:85%
}
.flair-kfc {
	width:26px;
	height:27px;
	background-position:-581px -317px;
	text-indent:28px;
	font-size:85%
}
.flair-vfn {
	width:35px;
	height:19px;
	background-position:-612px -321px;
	text-indent:36px;
	font-size:85%
}
.flair-lmaoemoji {
	width:31px;
	height:31px;
	background-position:-324px -317px;
	text-indent:33px;
	font-size:85%
}
.flair-estonia {
	width:30px;
	height:20px;
	background-position:-364px -278px;
	text-indent:33px;
	font-size:85%
}
.flair-lithuania {
	width:33px;
	height:20px;
	background-position:-400px -278px;
	text-indent:35px;
	font-size:85%
}
.flair-england {
	width:33px;
	height:20px;
	background-position:-440px -278px;
	text-indent:35px;
	font-size:85%
}
.flair-northernireland {
	width:33px;
	height:20px;
	background-position:-480px -278px;
	text-indent:35px;
	font-size:85%
}
.flair-colombia {
	width:33px;
	height:20px;
	background-position:-522px -278px;
	text-indent:35px;
	font-size:85%
}
.flair-iceland {
	width:33px;
	height:20px;
	background-position:-565px -277px;
	text-indent:35px;
	font-size:85%
}
.flair-austria {
	width:33px;
	height:20px;
	background-position:-583px -48px;
	text-indent:35px;
	font-size:85%
}
.flair-FutureN {
	width:26px;
	height:26px;
	background-position:-806px -242px;
	text-indent:30px;
	font-size:85%
}
.flair-abe {
	width:32px;
	height:26px;
	background-position:-638px -212px;
	text-indent:30px;
	font-size:85%
}
.flair-point {
	width:24px;
	height:21px;
	background-position:-675px -215px;
	text-indent:30px;
	font-size:85%
}
.flair-shell {
	width:25px;
	height:20px;
	background-position:-705px -215px;
	text-indent:30px;
	font-size:85%
}
.flair-dangan {
	width:45px;
	height:25px;
	background-position:-610px -275px;
	text-indent:30px;
	font-size:85%
}
.flair-PresTrump {
	width:35px;
	height:35px;
	background-position:-700px -275px;
	text-indent:30px;
	font-size:85%
}
.flair-PeepingP {
	width:31px;
	height:31px;
	background-position:-662px -275px;
	text-indent:30px;
	font-size:85%
}
.flair-Shaun2Legit {
	background-position:-362px -318px;
	width:31px;
	height:24px;
	text-indent:32px;
	font-size:85%
}
.flair-movingpepe {
	border:0;
	padding:0;
	height:45px;
	width:45px;
	background:url("/themes/res/b8-r2Nvr3YVZlldg0lmO-y98Wr5e7mCyN32L0JIeILk.png")!important;
	-webkit-animation:pepe 5s steps(48) infinite;
	animation:pepe 5s steps(48) infinite;
	text-indent:45px;
	font-size:85%
}
@-webkit-keyframes pepe {
	from {
		background-position:0 0
	}
	to {
		background-position:0 -2160px
	}
}
@keyframes pepe {
	from {
		background-position:0 0
	}
	to {
		background-position:0 -2160px
	}
}
.flair-movingpepe2 {
	border:0;
	padding:0;
	height:45px;
	width:45px;
	background:url("/themes/res/MQ8X7cXHDCT4fUMmApffCb-y3fUDbaXzWVnrLf4i5dE.png")!important;
	-webkit-animation:pepe2 2s steps(10) infinite;
	animation:pepe2 2s steps(10) infinite;
	text-indent:45px;
	font-size:85%
}
@-webkit-keyframes pepe2 {
	from {
		background-position:0 0
	}
	to {
		background-position:0 -450px
	}
}
@keyframes pepe2 {
	from {
		background-position:0 0
	}
	to {
		background-position:0 -450px
	}
}
.flairselector {
	position:fixed;
	top:10px!important;
	left:50%!important;
	margin-left:-225px;
	padding:32px!important;
	max-height:500px;
	width:540px!important;
	z-index:9999999;
	border:none;
	border-radius:2px;
	box-shadow:0 0 16px rgba(0,0,0,0.64)
}
.flairselector.drop-choices.active {
	border:1px solid #e2e2e2
}
.flairselector h2 {
	margin-bottom:4px;
	background-color:transparent;
	color:#3F7CCB;
	text-align:left;
	text-transform:capitalize;
	font-weight:400;
	font-size:18px
}
.flairoptionpane {
	max-height:300px;
	text-align:left
}
.flairselector .flairoptionpane ul li {
	padding:0!important
}
.flair {
	margin-right:30px
}
body:lang(np):not(.subscriber) .arrow {
	visibility:hidden!important
}
body:lang(np):not(.subscriber) .usertext-edit,body:lang(np):not(.subscriber) .sidebox.submit,body:lang(np):not(.subscriber) .commentingAs,body:lang(np):not(.subscriber) .markdownEditor,body:lang(np):not(.subscriber) a[onclick*="return reply(this)"],body:lang(np):not(.subscriber) .subButtons,body:lang(np):not(.subscriber) .helplink,body:lang(np):not(.subscriber) .titlebox .fancy-toggle-button.toggle>.option.add {
	display:none!important
}
.titlebox .fancy-toggle-button {
	width:80px
}
body:lang(np):not(.subscriber) #siteTable:before {
	content:"You have been linked to a read-only version of this subreddit. Please respect the community by not voting.";
	display:block;
	max-width:800px;
	background-color:#F6E69F;
	padding:5px 10px;
	margin:5px 305px 5px 0px;
	border:1px solid orange;
	font-size:small
}
body:lang(np):not(.subscriber) .entry.likes:not(.reddit-entry):before,body:lang(np):not(.subscriber) .entry.dislikes:not(.reddit-entry):before {
	content:"Please do not vote or comment when you come from external subreddits.";
	color:red;
	font-size:large;
	font-weight:bold
}
body.wiki-page:lang(np):not(.subscriber) span.pageactions a.wikiaction-edit:not(.wikiaction-current),body.wiki-page:lang(np):not(.subscriber) div.wiki-page-content form#editform label[for="reason"],body.wiki-page:lang(np):not(.subscriber) div.wiki-page-content form#editform input#wiki_revision_reason,body.wiki-page:lang(np):not(.subscriber) div.wiki-page-content form#editform input[type="submit"] {
	display:none!important
}
.author[href$="/yiannopoulos_m"] ~ .flair {
	color:pink
}
.author[href$="/annhcoulter"] ~ .flair {
	color:red
}
.thing .md blockquote {
	display:block;
	background:#fff;
	padding:10px 20px 10px 35px;
	margin:20px 10px;
	position:relative;
	line-height:1.2;
	color:#444;
	text-align:justify;
	border-left:5px solid #586698;
	border-radius:3px
}
.thing .md blockquote::before {
	content:"“";
	font-family:Georgia,serif;
	font-size:40px;
	font-weight:bold;
	color:#B93A43;
	position:absolute;
	left:10px;
	top:5px
}
.thing .md blockquote::after {
	content:""
}
.thing .md blockquote a {
	text-decoration:none;
	background:#eee;
	cursor:pointer;
	padding:0 3px;
	color:#c76c0c
}
.thing .md blockquote a:hover {
	color:#666
}
.thing .md blockquote em {
	font-style:italic
}
.commentarea .thing .mdblockquote {
	margin:10px;
	background:#f3f9fe
}
.flair-OrbText {
	color:#a3a598
}
.flair-OrbBG {
	background-color:#e8f1e0
}
@keyframes rainbow {
	0% {
		color:red
	}
	14% {
		color:orange
	}
	28% {
		color:yellow
	}
	42% {
		color:green
	}
	56% {
		color:blue
	}
	70% {
		color:#4B0082
	}
	84% {
		color:purple
	}
}
@-moz-keyframes rainbow {
	0% {
		color:red
	}
	14% {
		color:orange
	}
	28% {
		color:yellow
	}
	42% {
		color:green
	}
	56% {
		color:blue
	}
	70% {
		color:#4B0082
	}
	84% {
		color:purple
	}
}
@-webkit-keyframes rainbow {
	0% {
		color:red
	}
	14% {
		color:orange
	}
	28% {
		color:yellow
	}
	42% {
		color:green
	}
	56% {
		color:blue
	}
	70% {
		color:#4B0082
	}
	84% {
		color:purple
	}
}
.linkflair-rainbownotice .linkflairlabel {
	background:black;
	color:red;
	-webkit-animation:rainbow 4s linear infinite;
	-moz-animation:rainbow 4s linear infinite;
	animation:rainbow 4s linear infinite
}
.linkflair-ladiesnite .linkflairlabel {
	background:PINK;
	color:red;
	-webkit-animation:rainbow 4s linear infinite;
	-moz-animation:rainbow 4s linear infinite;
	animation:rainbow 4s linear infinite
}
.res-nightmode .listing-page .linkflair-ttweet {
	background:linear-gradient(#001725,#000000)
}
.listing-page .linkflair-ttweet {
	background:-ms-linear-gradient(#ffffff,#dcf2ff);
	background:-webkit-linear-gradient(#ffffff,#dcf2ff);
	background:-o-linear-gradient(#ffffff,#dcf2ff);
	background:-moz-linear-gradient(#ffffff,#dcf2ff);
	background:linear-gradient(#ffffff,#dcf2ff)
}
.gilded-icon:before {
	background-image:url("/themes/res/i4sb5oZtTbJNO74rWdmXlsLYs_hqhu8gGA530BsdlTk.png");
	background-position:0;
	background-repeat:no-repeat;
	background-size:25px;
	height:25px;
	width:25px
}
.flair-moskies {
	border:0;
	padding:0;
	height:50px;
	width:50px;
	background:url("/themes/res/W4vT7GnS0EysPVig6G29FMR0pPq1DMeDLg1R20HzttE.png")!important;
	-webkit-animation:moskies 4s steps(35) infinite;
	animation:moskies 4s steps(35) infinite;
	text-indent:55px;
	font-size:85%
}
.flair-css-team {
	width:82px;
	height:25px;
	background-position:-767px -5px;
	background-repeat:no-repeat;
	color:transparent!important
}
.res-nightmode .flair,.res-nightmode .linkflairlabel {
	color:rgb(200,200,200);
	background-color:transparent!important;
	border-color:transparent!important
}
@-webkit-keyframes moskies {
	from {
		background-position:0 0
	}
	to {
		background-position:0 -1750px
	}
}
@keyframes moskies {
	from {
		background-position:0 0
	}
	to {
		background-position:0 -1750px
	}
	.nextprev a,.next-suggestions a {
		padding:5px 14px;
		background:#4644ab;
		border:1px solid #8c8c8c;
		border-radius:3px;
		font-weight:bold;
		text-transform:uppercase;
		color:#fff
	}
	.nextprev a:hover,.next-suggestions a:hover {
		padding:5px 14px;
		background:#fff;
		border:1px solid #97051d;
		border-radius:3px;
		font-weight:bold;
		text-transform:uppercase;
		color:#4644ab
	}
}