/*
	Original The_Donald CSS
	Copyright 2015-2020, The_Donald mods
*/
.link {
	margin-right:312px
}
.commentarea {
	margin-right:312px
}
.promoted {
	margin-right:0px!important
}
.comment {
	overflow:visible!important
}
.entry {
	overflow:hidden!important
}
.midcol {
	overflow:visible!important
}
.thing.comment .upmod:focus:after {
	content:"";
	width:60px;
	height:43px;
	font-size:9px;
	font-weight:normal;
	text-shadow:0px 0px 1px #333333;
	position:relative;
	pointer-events:none;
	color:#e50000;
	bottom:0px;
	opacity:0.0;
	animation-name:BattleCry;
	animation-duration:2s;
	animation-timing-function:ease-out;
	animation-delay:0.2s;
	animation-iteration-count:1;
	-webkit-animation-name:BattleCry;
	-webkit-animation-duration:2s;
	-webkit-animation-timing-function:ease-out;
	-webkit-animation-delay:0.2s;
	-webkit-animation-iteration-count:1;
	-moz-animation-name:BattleCry;
	-moz-animation-duration:2s;
	-moz-animation-timing-function:ease-out;
	-moz-animation-delay:0.2s;
	-moz-animation-iteration-count:1;
	-o-animation-name:BattleCry;
	-o-animation-duration:2s;
	-o-animation-timing-function:ease-out;
	-o-animation-delay:0.2s;
	-o-animation-iteration-count:1;
	-ms-animation-name:BattleCry;
	-ms-animation-duration:2s;
	-ms-animation-timing-function:ease-out;
	-ms-animation-delay:0.2s;
	-ms-animation-iteration-count:1
}
@keyframes BattleCry {
	8% {
		bottom:5px;
		opacity:1
	}
	15% {
		bottom:10px
	}
	40% {
		opacity:1
	}
	50% {
		bottom:15px
	}
	100% {
		bottom:20px;
		opacity:0
	}
}
@-webkit-keyframes BattleCry {
	8% {
		bottom:5px;
		opacity:1
	}
	15% {
		bottom:10px
	}
	40% {
		opacity:1
	}
	50% {
		bottom:15px
	}
	100% {
		bottom:20px;
		opacity:0
	}
}
@-moz-keyframes BattleCry {
	8% {
		bottom:5px;
		opacity:1
	}
	15% {
		bottom:10px
	}
	40% {
		opacity:1
	}
	50% {
		bottom:15px
	}
	100% {
		bottom:20px;
		opacity:0
	}
}
@-o-keyframes BattleCry {
	8% {
		bottom:5px;
		opacity:1
	}
	15% {
		bottom:10px
	}
	40% {
		opacity:1
	}
	50% {
		bottom:15px
	}
	100% {
		bottom:20px;
		opacity:0
	}
}
.thing[data-fullname$="a"].comment .upmod:focus:after {
	content:"MAGA!"
}
.thing[data-fullname$="b"].comment .upmod:focus:after {
	content:"America First!"
}
.thing[data-fullname$="c"].comment .upmod:focus:after {
	content:"10 Feet Taller!"
}
.thing[data-fullname$="d"].comment .upmod:focus:after {
	content:"Bring Back Jobs!"
}
.thing[data-fullname$="e"].comment .upmod:focus:after {
	content:"Yuge!"
}
.thing[data-fullname$="f"].comment .upmod:focus:after {
	content:"Winning!"
}
.thing[data-fullname$="g"].comment .upmod:focus:after {
	content:"High Energy!"
}
.thing[data-fullname$="h"].comment .upmod:focus:after {
	content:"Build the Wall!"
}
.thing[data-fullname$="i"].comment .upmod:focus:after {
	content:"Unstumpable!"
}
.thing[data-fullname$="j"].comment .upmod:focus:after {
	content:"Self-Funded!"
}
.thing[data-fullname$="k"].comment .upmod:focus:after {
	content:"No Brakes!"
}
.thing[data-fullname$="l"].comment .upmod:focus:after {
	content:"Strong Military!"
}
.thing[data-fullname$="m"].comment .upmod:focus:after {
	content:"MAGA!"
}
.thing[data-fullname$="n"].comment .upmod:focus:after {
	content:"America First!"
}
.thing[data-fullname$="o"].comment .upmod:focus:after {
	content:"10 Feet Taller!"
}
.thing[data-fullname$="p"].comment .upmod:focus:after {
	content:"Bring Back Jobs!"
}
.thing[data-fullname$="q"].comment .upmod:focus:after {
	content:"Yuge!"
}
.thing[data-fullname$="r"].comment .upmod:focus:after {
	content:"Winning!"
}
.thing[data-fullname$="s"].comment .upmod:focus:after {
	content:"High Energy!"
}
.thing[data-fullname$="t"].comment .upmod:focus:after {
	content:"Build the Wall!"
}
.thing[data-fullname$="u"].comment .upmod:focus:after {
	content:"Unstumpable!"
}
.thing[data-fullname$="v"].comment .upmod:focus:after {
	content:"Self-Funded!"
}
.thing[data-fullname$="w"].comment .upmod:focus:after {
	content:"No Brakes!"
}
.thing[data-fullname$="x"].comment .upmod:focus:after {
	content:"Strong Military!"
}
.thing[data-fullname$="y"].comment .upmod:focus:after {
	content:"MAGA!"
}
.thing[data-fullname$="z"].comment .upmod:focus:after {
	content:"America First!"
}
.thing[data-fullname$="1"].comment .upmod:focus:after {
	content:"10 Feet Taller!"
}
.thing[data-fullname$="2"].comment .upmod:focus:after {
	content:"Bring Back Jobs!"
}
.thing[data-fullname$="3"].comment .upmod:focus:after {
	content:"Yuge!"
}
.thing[data-fullname$="4"].comment .upmod:focus:after {
	content:"Winning!"
}
.thing[data-fullname$="5"].comment .upmod:focus:after {
	content:"High Energy!"
}
.thing[data-fullname$="6"].comment .upmod:focus:after {
	content:"Build the Wall!"
}
.thing[data-fullname$="7"].comment .upmod:focus:after {
	content:"Unstumpable!"
}
.thing[data-fullname$="8"].comment .upmod:focus:after {
	content:"Self-Funded!"
}
.thing[data-fullname$="9"].comment .upmod:focus:after {
	content:"No Brakes!"
}
.thing[data-fullname$="0"].comment .upmod:focus:after {
	content:"Strong Military!"
}
.thing.comment .upmod:focus:after {
	white-space:nowrap
}
.thing.comment .downmod:focus:after {
	content:"";
	width:60px;
	height:43px;
	font-size:9px;
	font-weight:normal;
	text-shadow:0px 0px 1px #333333;
	position:relative;
	color:#0000e5;
	top:0px;
	opacity:0;
	animation-name:DeathKnell;
	animation-duration:2s;
	animation-timing-function:ease-out;
	animation-delay:0.2s;
	animation-iteration-count:1;
	-webkit-animation-name:DeathKnell;
	-webkit-animation-duration:2s;
	-webkit-animation-timing-function:ease-out;
	-webkit-animation-delay:0.2s;
	-webkit-animation-iteration-count:1;
	-moz-animation-name:DeathKnell;
	-moz-animation-duration:2s;
	-moz-animation-timing-function:ease-out;
	-moz-animation-delay:0.2s;
	-moz-animation-iteration-count:1;
	-o-animation-name:DeathKnell;
	-o-animation-duration:2s;
	-o-animation-timing-function:ease-out;
	-o-animation-delay:0.2s;
	-o-animation-iteration-count:1;
	-ms-animation-name:DeathKnell;
	-ms-animation-duration:2s;
	-ms-animation-timing-function:ease-out;
	-ms-animation-delay:0.2s;
	-ms-animation-iteration-count:1
}
@keyframes DeathKnell {
	8% {
		top:5px;
		opacity:1
	}
	15% {
		top:10px
	}
	40% {
		opacity:1
	}
	50% {
		top:15px
	}
	100% {
		top:20px;
		opacity:0
	}
}
@-webkit-keyframes DeathKnell {
	8% {
		top:5px;
		opacity:1
	}
	15% {
		top:10px
	}
	40% {
		opacity:1
	}
	50% {
		top:15px
	}
	100% {
		top:20px;
		opacity:0
	}
}
@-moz-keyframes DeathKnell {
	8% {
		top:5px;
		opacity:1
	}
	15% {
		top:10px
	}
	40% {
		opacity:1
	}
	50% {
		top:15px
	}
	100% {
		top:20px;
		opacity:0
	}
}
@-o-keyframes DeathKnell {
	8% {
		top:5px;
		opacity:1
	}
	15% {
		top:10px
	}
	40% {
		opacity:1
	}
	50% {
		top:15px
	}
	100% {
		top:20px;
		opacity:0
	}
}
.thing[data-fullname$="a"].comment .downmod:focus:after {
	content:"Crooked!"
}
.thing[data-fullname$="b"].comment .downmod:focus:after {
	content:"Low Energy!"
}
.thing[data-fullname$="c"].comment .downmod:focus:after {
	content:"Sad!"
}
.thing[data-fullname$="d"].comment .downmod:focus:after {
	content:"Dishonest!"
}
.thing[data-fullname$="e"].comment .downmod:focus:after {
	content:"Biased!"
}
.thing[data-fullname$="f"].comment .downmod:focus:after {
	content:"Failure!"
}
.thing[data-fullname$="g"].comment .downmod:focus:after {
	content:"Desperate!"
}
.thing[data-fullname$="h"].comment .downmod:focus:after {
	content:"Rigged!"
}
.thing[data-fullname$="i"].comment .downmod:focus:after {
	content:"Loser!"
}
.thing[data-fullname$="j"].comment .downmod:focus:after {
	content:"Unhinged!"
}
.thing[data-fullname$="k"].comment .downmod:focus:after {
	content:"Heartless!"
}
.thing[data-fullname$="l"].comment .downmod:focus:after {
	content:"Corrupt!"
}
.thing[data-fullname$="m"].comment .downmod:focus:after {
	content:"Crooked!"
}
.thing[data-fullname$="n"].comment .downmod:focus:after {
	content:"Low Energy!"
}
.thing[data-fullname$="o"].comment .downmod:focus:after {
	content:"Sad!"
}
.thing[data-fullname$="p"].comment .downmod:focus:after {
	content:"Dishonest!"
}
.thing[data-fullname$="q"].comment .downmod:focus:after {
	content:"Biased!"
}
.thing[data-fullname$="r"].comment .downmod:focus:after {
	content:"Failure!"
}
.thing[data-fullname$="s"].comment .downmod:focus:after {
	content:"Desperate!"
}
.thing[data-fullname$="t"].comment .downmod:focus:after {
	content:"Rigged!"
}
.thing[data-fullname$="u"].comment .downmod:focus:after {
	content:"Loser!"
}
.thing[data-fullname$="v"].comment .downmod:focus:after {
	content:"Unhinged!"
}
.thing[data-fullname$="w"].comment .downmod:focus:after {
	content:"Heartless!"
}
.thing[data-fullname$="x"].comment .downmod:focus:after {
	content:"Corrupt!"
}
.thing[data-fullname$="y"].comment .downmod:focus:after {
	content:"Crooked!"
}
.thing[data-fullname$="z"].comment .downmod:focus:after {
	content:"Low Energy!"
}
.thing[data-fullname$="1"].comment .downmod:focus:after {
	content:"Sad!"
}
.thing[data-fullname$="2"].comment .downmod:focus:after {
	content:"Dishonest!"
}
.thing[data-fullname$="3"].comment .downmod:focus:after {
	content:"Biased!"
}
.thing[data-fullname$="4"].comment .downmod:focus:after {
	content:"Failure!"
}
.thing[data-fullname$="5"].comment .downmod:focus:after {
	content:"Desperate!"
}
.thing[data-fullname$="6"].comment .downmod:focus:after {
	content:"Rigged!"
}
.thing[data-fullname$="7"].comment .downmod:focus:after {
	content:"Loser!"
}
.thing[data-fullname$="8"].comment .downmod:focus:after {
	content:"Unhinged!"
}
.thing[data-fullname$="9"].comment .downmod:focus:after {
	content:"Heartless!"
}
.thing[data-fullname$="0"].comment .downmod:focus:after {
	content:"Corrupt!"
}
.thing.comment .downmod:focus:after {
	white-space:nowrap
}
.subscribers .word {
	display:none
}
.subscribers .number::after {
	content:" Centipedes"
}
.users-online .word {
	display:none
}
.users-online .number::after {
	content:" Winners online"
}
.content {
	margin-top:53px
}
::-webkit-scrollbar {
	width:12px;
	background:transparent
}
::-webkit-scrollbar-thumb {
	border-radius:1px;
	background:#b3b3b3
}
#sr-header-area {
	background:rgba(44,44,44,.5);
	border:none;
	z-index:200;
	transition:all .2s ease-out;
	box-shadow:0px 1px 1px rgba(00,00,00,.33)
}
#sr-header-area a,#sr-header-area .srdrop.dropdown .selected {
	font-family:Arial,Helvetica,sans-serif letter-spacing:1px;
	color:#000;
	text-shadow:-1px 1px 3px #555;
	transition:all .2s ease-out;
	color:#eee
}
.drop-choices.inuse {
	background-color:#283681;
	border:none
}
#sr-header-area a:hover {
	color:orangered;
	text-decoration:none
}
#sr-header-area .dropdown.srdrop .selected.title:hover {
	color:orangered
}
#sr-more-link {
	display:none
}
#RESShortcutsEditContainer,#RESShortcutsRight,#RESShortcutsAdd,#RESShortcutsTrash,#RESShortcutsLeft,#sr-more-link,#RESShortcutsSort {
	color:#ddd!important;
	background-color:transparent!important
}
.sr-header .drop-choices {
	background-color:#777
}
.sr-header .flat-list .drop-choices {
	background-color:##E3E3E3!important
}
.link .flat-list {
	display:inline;
	padding:0 0
}
#header {
	position:relative;
	height:222px;
	background-color:transparent!important;
	border-bottom:0px
}
#header:after {
	content:"";
	position:absolute;
	height:222px;
	background-color:transparent!important;
	box-shadow:inset 0px 0px 60px #000;
	-moz-box-shadow:inset 0px 0px 60px #000;
	-webkit-box-shadow:inset 0px 0px 60px #000;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	z-index:-1
}
#header-bottom-left {
	position:relative;
	height:222px;
	overflow-x:hidden;
	top:-18px;
	pointer-events:none
}
#header-bottom-left a {
	pointer-events:auto
}
#header-bottom-left:before {
	content:"";
	position:absolute;
	background:#000 url("/themes/res/zUopqrS_Yb5VgME5Guz_87Z9uxFAHQT_Ox5lF2nlIPE.png") repeat-x center 15px;
	height:222px;
	width:300%;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	z-index:-1;
	background-color:#0A3DBD;
	border-bottom:0px;
	animation:Slider 55s linear infinite;
	-moz-animation:Slider 55s linear infinite;
	-ms-animation:Slider 55s linear infinite;
	-o-animation:Slider 55s linear infinite;
	-webkit-animation:Slider 55s linear infinite
}
@keyframes Slider {
	0% {
		transform:translateX(0px)
	}
	100% {
		transform:translateX(-1537px)
	}
}
@-moz-keyframes Slider {
	0% {
		-moz-transform:translateX(0px)
	}
	100% {
		-moz-transform:translateX(-1537px)
	}
}
@-ms-keyframes Slider {
	0% {
		-ms-transform:translateX(0px)
	}
	100% {
		-ms-transform:translateX(-1537px)
	}
}
@-o-keyframes Slider {
	0% {
		-o-transform:translateX(0px)
	}
	100% {
		-o-transform:translateX(-1537px)
	}
}
@-webkit-keyframes Slider {
	0% {
		-webkit-transform:translateX(0px)
	}
	100% {
		-webkit-transform:translateX(-1537px)
	}
}
.pagename {
	font-size:0
}
.pagename a {
	display:block;
	width:332px;
	height:125px;
	background:url("/themes/res/lDxaaA69RYpqJ0U6F0aOPMPubsdpWnRiDDwWF0qkQLA.png") no-repeat center center;
	position:absolute;
	left:50%;
	margin-left:-167px;
	top:50%;
	margin-top:-67px;
	box-shadow:0px 0px 15px #000;
	-moz-box-shadow:0px 0px 15px #000;
	-webkit-box-shadow:0px 0px 15px #000
}
#header-img {
	position:absolute;
	top:114px;
	left:8px
}
#header-bottom-right a,.user .userkarma,.user {
	color:#e9e9e9;
	text-shadow:0px 0px 4px #111
}
#RESMainGearOverlay .gearIcon {
	display:none
}
#userbarToggle {
	color:#fff!important;
	background-color:transparent!important;
	border-right:none!important;
	line-height:26px!important;
	bottom:-1px;
	top:-3px!important
}
.res #header-bottom-right {
	background:transparent;
	color:#eee!important;
	line-height:0em!important;
	margin:-1px 0px 0px 0px;
	top:199px
}
body:not(.res) #header-bottom-right {
	position:absolute;
	background-color:transparent
}
#header .tabmenu {
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	text-align:center
}
#header .tabmenu li {
	margin:0
}
#header .tabmenu li a {
	color:#111;
	background:-ms-linear-gradient(#fefefe,#e5e5e5);
	background:-webkit-linear-gradient(#fefefe,#e5e5e5);
	background:-o-linear-gradient(#fefefe,#e5e5e5);
	background:-moz-linear-gradient(#fefefe,#e5e5e5);
	background:linear-gradient(#fefefe,#e5e5e5);
	margin:0px 5px 0px 5px;
	border:none!important;
	display:inline-block;
	padding:0px 7px;
	line-height:2.1em;
	text-align:center;
	font-size:10px;
	letter-spacing:.5px;
	text-transform:capitalize;
	position:relative;
	transition:all .3s ease-out;
	-webkit-border-top-right-radius:3px!important;
	-moz-border-radius-topright:3px!important;
	-o-border-radius-topright:3px!important;
	border-top-right-radius:3px!important;
	-webkit-border-top-left-radius:3px!important;
	-moz-border-radius-topleft:3px!important;
	-o-border-radius-topleft:3px!important;
	border-top-left-radius:3px!important;
	-moz-box-shadow:inset 0px -8px 9px -6px #aaa,3px -2px 3px 0px rgba(00,00,00,0.2),-3px -2px 3px 0px rgba(00,00,00,0.2),0px -3px 3px 0px rgba(00,00,00,0.2);
	-webkit-box-shadow:inset 0px -8px 9px -6px #aaa,3px -2px 3px 0px rgba(00,00,00,0.2),-3px -2px 3px 0px rgba(00,00,00,0.2),0px -3px 3px 0px rgba(00,00,00,0.2);
	-o-box-shadow:inset 0px -8px 9px -6px #aaa,3px -2px 3px 0px rgba(00,00,00,0.2),-3px -2px 3px 0px rgba(00,00,00,0.2),0px -3px 3px 0px rgba(00,00,00,0.2);
	box-shadow:inset 0px -8px 9px -6px #aaa,3px -2px 3px 0px rgba(00,00,00,0.2),-3px -2px 3px 0px rgba(00,00,00,0.2),0px -3px 3px 0px rgba(00,00,00,0.2)
}
#header .tabmenu li a:hover {
	color:orangered
}
#header .tabmenu li a[href*="ads"],#header .tabmenu li a[href*="controversial"],#header .tabmenu li a[href*="javascript:;"] {
	display:none!important
}
#header .tabmenu li.selected a {
	color:orangered;
	z-index:0;
	-moz-box-shadow:3px -2px 3px 0px rgba(00,00,00,0.2),-3px -2px 3px 0px rgba(00,00,00,0.2),0px -3px 3px 0px rgba(00,00,00,0.2);
	-webkit-box-shadow:3px -2px 3px 0px rgba(00,00,00,0.2),-3px -2px 3px 0px rgba(00,00,00,0.2),0px -3px 3px 0px rgba(00,00,00,0.2);
	-o-box-shadow:3px -2px 3px 0px rgba(00,00,00,0.2),-3px -2px 3px 0px rgba(00,00,00,0.2),0px -3px 3px 0px rgba(00,00,00,0.2);
	box-shadow:3px -2px 3px 0px rgba(00,00,00,0.2),-3px -2px 3px 0px rgba(00,00,00,0.2),0px -3px 3px 0px rgba(00,00,00,0.2);
	background:white
}
.reportbtn {
	font-size:0;
	content:""
}
.reportbtn::after {
	content:"deport";
	font-size:x-small
}
.report-header {
	font-size:0;
	content:""
}
.reason-prompt.report-header::after {
	content:"What law is this person breaking?";
	font-size:medium
}
.reason-prompt.report-header::after {
	content:"What law is this person breaking?";
	visibility:visible;
	word-spacing:normal;
	letter-spacing:normal
}
.link .rank {
	display:none
}
.comment .arrow.upmod {
	background-image:url("/themes/res/9v5xW9A00h_M3pmmF_qL9ghdGV-1drj6EQBAGJwxhvA.png");
	background-position:0px 0px;
	height:24px;
	width:25px;
	margin-top:5px;
	margin-left:10px
}
.comment .arrow.up {
	margin-top:15px
}
.comment .arrow.down {
	margin-bottom:11px;
	margin-top:2px
}
.comment .arrow.downmod {
	background-image:url("/themes/res/4lPV4NMk51pTNbsEXNpZq5BIvnddBGOSpbwNazfusWQ.png");
	background-position:0px 0px;
	height:24px;
	width:25px;
	margin-left:10px
}
.comment .midcol {
	margin-right:0px;
	width:45px
}
.link .midcol {
	width:45px!important;
	margin-left:0px
}
.link .arrow.down {
	display:none
}
.link .arrow.downmod {
	display:none
}
.link .arrow.up {
	background-image:url("/themes/res/FOccQmeyFLgl0wMyiGoHU-PqALU--iSGWZ3Dc6VXiVQ.png");
	background-position:-225px -172px;
	width:45px;
	height:43px;
	margin-top:5px
}
.link .arrow.upmod {
	background:url("/themes/res/FOccQmeyFLgl0wMyiGoHU-PqALU--iSGWZ3Dc6VXiVQ.png");
	background-position:-270px -172px;
	width:45px;
	height:43px;
	margin-top:5px
}
.link .arrow.upmod:focus {
	animation:upTrump ease 2s;
	animation-delay:0.2s;
	animation-iteration-count:1;
	-webkit-animation:upTrump ease 2s;
	-webkit-animation-delay:0.2s;
	-webkit-animation-iteration-count:1;
	-moz-animation:upTrump ease 2s;
	-moz-animation-delay:0.2s;
	-moz-animation-iteration-count:1;
	-o-animation:upTrump ease 2s;
	-o-animation-delay:0.2s;
	-o-animation-iteration-count:1;
	-ms-animation:upTrump ease 2s;
	-ms-animation-delay:0.2s;
	-ms-animation-iteration-count:1
}
@keyframes upTrump {
	0% {
		background-position:0px 0px
	}
	0.001% {
		background-position:-45px 0px
	}
	2.5% {
		background-position:-45px 0px
	}
	2.501% {
		background-position:-90px 0px
	}
	5% {
		background-position:-90px 0px
	}
	5.001% {
		background-position:-135px 0px
	}
	7.5% {
		background-position:-135px 0px
	}
	7.501% {
		background-position:-180px 0px
	}
	10% {
		background-position:-180px 0px
	}
	10.001% {
		background-position:-225px 0px
	}
	12.5% {
		background-position:-225px 0px
	}
	12.501% {
		background-position:-270px 0px
	}
	15% {
		background-position:-270px 0px
	}
	15.001% {
		background-position:0px -43px
	}
	17.5% {
		background-position:0px -43px
	}
	17.501% {
		background-position:-45px -43px
	}
	20% {
		background-position:-45px -43px
	}
	20.001% {
		background-position:-90px -43px
	}
	22.5% {
		background-position:-90px -43px
	}
	22.501% {
		background-position:-135px -43px
	}
	25% {
		background-position:-135px -43px
	}
	25.001% {
		background-position:-180px -43px
	}
	27.5% {
		background-position:-180px -43px
	}
	27.501% {
		background-position:-225px -43px
	}
	30% {
		background-position:-225px -43px
	}
	30.001% {
		background-position:-270px -43px
	}
	32.5% {
		background-position:-270px -43px
	}
	32.501% {
		background-position:0px -86px
	}
	35% {
		background-position:0px -86px
	}
	35.001% {
		background-position:-45px -86px
	}
	37.5% {
		background-position:-45px -86px
	}
	37.501% {
		background-position:-90px -86px
	}
	40% {
		background-position:-90px -86px
	}
	40.001% {
		background-position:-135px -86px
	}
	42.5% {
		background-position:-135px -86px
	}
	42.501% {
		background-position:-180px -86px
	}
	45% {
		background-position:-180px -86px
	}
	45.001% {
		background-position:-225px -86px
	}
	47.5% {
		background-position:-225px -86px
	}
	47.501% {
		background-position:-270px -86px
	}
	50% {
		background-position:-270px -86px
	}
	50.001% {
		background-position:0px -129px
	}
	52.5% {
		background-position:0px -129px
	}
	52.501% {
		background-position:-45px -129px
	}
	55% {
		background-position:-45px -129px
	}
	55.001% {
		background-position:-90px -129px
	}
	57.5% {
		background-position:-90px -129px
	}
	57.501% {
		background-position:-135px -129px
	}
	60% {
		background-position:-135px -129px
	}
	60.001% {
		background-position:-180px -129px
	}
	62.5% {
		background-position:-180px -129px
	}
	62.501% {
		background-position:-225px -129px
	}
	65% {
		background-position:-225px -129px
	}
	65.001% {
		background-position:-270px -129px
	}
	67.5% {
		background-position:-270px -129px
	}
	67.501% {
		background-position:0px -172px
	}
	70% {
		background-position:0px -172px
	}
	70.001% {
		background-position:-45px -172px
	}
	72.5% {
		background-position:-45px -172px
	}
	72.501% {
		background-position:-90px -172px
	}
	75% {
		background-position:-90px -172px
	}
	75.001% {
		background-position:-135px -172px
	}
	77.5% {
		background-position:-135px -172px
	}
	77.501% {
		background-position:-180px -172px
	}
	80% {
		opacity:1;
		background-position:-180px -172px
	}
	90% {
		opacity:1;
		background-position:-180px -172px
	}
	95% {
		opacity:0;
		background-position:-180px -172px
	}
	95.001% {
		opacity:0;
		background-position:-270px -172px
	}
	100% {
		opacity:1;
		background-position:-270px -172px
	}
}
@-webkit-keyframes upTrump {
	0% {
		background-position:0px 0px
	}
	0.001% {
		background-position:-45px 0px
	}
	2.5% {
		background-position:-45px 0px
	}
	2.501% {
		background-position:-90px 0px
	}
	5% {
		background-position:-90px 0px
	}
	5.001% {
		background-position:-135px 0px
	}
	7.5% {
		background-position:-135px 0px
	}
	7.501% {
		background-position:-180px 0px
	}
	10% {
		background-position:-180px 0px
	}
	10.001% {
		background-position:-225px 0px
	}
	12.5% {
		background-position:-225px 0px
	}
	12.501% {
		background-position:-270px 0px
	}
	15% {
		background-position:-270px 0px
	}
	15.001% {
		background-position:0px -43px
	}
	17.5% {
		background-position:0px -43px
	}
	17.501% {
		background-position:-45px -43px
	}
	20% {
		background-position:-45px -43px
	}
	20.001% {
		background-position:-90px -43px
	}
	22.5% {
		background-position:-90px -43px
	}
	22.501% {
		background-position:-135px -43px
	}
	25% {
		background-position:-135px -43px
	}
	25.001% {
		background-position:-180px -43px
	}
	27.5% {
		background-position:-180px -43px
	}
	27.501% {
		background-position:-225px -43px
	}
	30% {
		background-position:-225px -43px
	}
	30.001% {
		background-position:-270px -43px
	}
	32.5% {
		background-position:-270px -43px
	}
	32.501% {
		background-position:0px -86px
	}
	35% {
		background-position:0px -86px
	}
	35.001% {
		background-position:-45px -86px
	}
	37.5% {
		background-position:-45px -86px
	}
	37.501% {
		background-position:-90px -86px
	}
	40% {
		background-position:-90px -86px
	}
	40.001% {
		background-position:-135px -86px
	}
	42.5% {
		background-position:-135px -86px
	}
	42.501% {
		background-position:-180px -86px
	}
	45% {
		background-position:-180px -86px
	}
	45.001% {
		background-position:-225px -86px
	}
	47.5% {
		background-position:-225px -86px
	}
	47.501% {
		background-position:-270px -86px
	}
	50% {
		background-position:-270px -86px
	}
	50.001% {
		background-position:0px -129px
	}
	52.5% {
		background-position:0px -129px
	}
	52.501% {
		background-position:-45px -129px
	}
	55% {
		background-position:-45px -129px
	}
	55.001% {
		background-position:-90px -129px
	}
	57.5% {
		background-position:-90px -129px
	}
	57.501% {
		background-position:-135px -129px
	}
	60% {
		background-position:-135px -129px
	}
	60.001% {
		background-position:-180px -129px
	}
	62.5% {
		background-position:-180px -129px
	}
	62.501% {
		background-position:-225px -129px
	}
	65% {
		background-position:-225px -129px
	}
	65.001% {
		background-position:-270px -129px
	}
	67.5% {
		background-position:-270px -129px
	}
	67.501% {
		background-position:0px -172px
	}
	70% {
		background-position:0px -172px
	}
	70.001% {
		background-position:-45px -172px
	}
	72.5% {
		background-position:-45px -172px
	}
	72.501% {
		background-position:-90px -172px
	}
	75% {
		background-position:-90px -172px
	}
	75.001% {
		background-position:-135px -172px
	}
	77.5% {
		background-position:-135px -172px
	}
	77.501% {
		background-position:-180px -172px
	}
	80% {
		opacity:1;
		background-position:-180px -172px
	}
	90% {
		opacity:1;
		background-position:-180px -172px
	}
	95% {
		opacity:0;
		background-position:-180px -172px
	}
	95.001% {
		opacity:0;
		background-position:-270px -172px
	}
	100% {
		opacity:1;
		background-position:-270px -172px
	}
}
@-moz-keyframes upTrump {
	0% {
		background-position:0px 0px
	}
	0.001% {
		background-position:-45px 0px
	}
	2.5% {
		background-position:-45px 0px
	}
	2.501% {
		background-position:-90px 0px
	}
	5% {
		background-position:-90px 0px
	}
	5.001% {
		background-position:-135px 0px
	}
	7.5% {
		background-position:-135px 0px
	}
	7.501% {
		background-position:-180px 0px
	}
	10% {
		background-position:-180px 0px
	}
	10.001% {
		background-position:-225px 0px
	}
	12.5% {
		background-position:-225px 0px
	}
	12.501% {
		background-position:-270px 0px
	}
	15% {
		background-position:-270px 0px
	}
	15.001% {
		background-position:0px -43px
	}
	17.5% {
		background-position:0px -43px
	}
	17.501% {
		background-position:-45px -43px
	}
	20% {
		background-position:-45px -43px
	}
	20.001% {
		background-position:-90px -43px
	}
	22.5% {
		background-position:-90px -43px
	}
	22.501% {
		background-position:-135px -43px
	}
	25% {
		background-position:-135px -43px
	}
	25.001% {
		background-position:-180px -43px
	}
	27.5% {
		background-position:-180px -43px
	}
	27.501% {
		background-position:-225px -43px
	}
	30% {
		background-position:-225px -43px
	}
	30.001% {
		background-position:-270px -43px
	}
	32.5% {
		background-position:-270px -43px
	}
	32.501% {
		background-position:0px -86px
	}
	35% {
		background-position:0px -86px
	}
	35.001% {
		background-position:-45px -86px
	}
	37.5% {
		background-position:-45px -86px
	}
	37.501% {
		background-position:-90px -86px
	}
	40% {
		background-position:-90px -86px
	}
	40.001% {
		background-position:-135px -86px
	}
	42.5% {
		background-position:-135px -86px
	}
	42.501% {
		background-position:-180px -86px
	}
	45% {
		background-position:-180px -86px
	}
	45.001% {
		background-position:-225px -86px
	}
	47.5% {
		background-position:-225px -86px
	}
	47.501% {
		background-position:-270px -86px
	}
	50% {
		background-position:-270px -86px
	}
	50.001% {
		background-position:0px -129px
	}
	52.5% {
		background-position:0px -129px
	}
	52.501% {
		background-position:-45px -129px
	}
	55% {
		background-position:-45px -129px
	}
	55.001% {
		background-position:-90px -129px
	}
	57.5% {
		background-position:-90px -129px
	}
	57.501% {
		background-position:-135px -129px
	}
	60% {
		background-position:-135px -129px
	}
	60.001% {
		background-position:-180px -129px
	}
	62.5% {
		background-position:-180px -129px
	}
	62.501% {
		background-position:-225px -129px
	}
	65% {
		background-position:-225px -129px
	}
	65.001% {
		background-position:-270px -129px
	}
	67.5% {
		background-position:-270px -129px
	}
	67.501% {
		background-position:0px -172px
	}
	70% {
		background-position:0px -172px
	}
	70.001% {
		background-position:-45px -172px
	}
	72.5% {
		background-position:-45px -172px
	}
	72.501% {
		background-position:-90px -172px
	}
	75% {
		background-position:-90px -172px
	}
	75.001% {
		background-position:-135px -172px
	}
	77.5% {
		background-position:-135px -172px
	}
	77.501% {
		background-position:-180px -172px
	}
	80% {
		opacity:1;
		background-position:-180px -172px
	}
	90% {
		opacity:1;
		background-position:-180px -172px
	}
	95% {
		opacity:0;
		background-position:-180px -172px
	}
	95.001% {
		opacity:0;
		background-position:-270px -172px
	}
	100% {
		opacity:1;
		background-position:-270px -172px
	}
}
@-o-keyframes upTrump {
	0% {
		background-position:0px 0px
	}
	0.001% {
		background-position:-45px 0px
	}
	2.5% {
		background-position:-45px 0px
	}
	2.501% {
		background-position:-90px 0px
	}
	5% {
		background-position:-90px 0px
	}
	5.001% {
		background-position:-135px 0px
	}
	7.5% {
		background-position:-135px 0px
	}
	7.501% {
		background-position:-180px 0px
	}
	10% {
		background-position:-180px 0px
	}
	10.001% {
		background-position:-225px 0px
	}
	12.5% {
		background-position:-225px 0px
	}
	12.501% {
		background-position:-270px 0px
	}
	15% {
		background-position:-270px 0px
	}
	15.001% {
		background-position:0px -43px
	}
	17.5% {
		background-position:0px -43px
	}
	17.501% {
		background-position:-45px -43px
	}
	20% {
		background-position:-45px -43px
	}
	20.001% {
		background-position:-90px -43px
	}
	22.5% {
		background-position:-90px -43px
	}
	22.501% {
		background-position:-135px -43px
	}
	25% {
		background-position:-135px -43px
	}
	25.001% {
		background-position:-180px -43px
	}
	27.5% {
		background-position:-180px -43px
	}
	27.501% {
		background-position:-225px -43px
	}
	30% {
		background-position:-225px -43px
	}
	30.001% {
		background-position:-270px -43px
	}
	32.5% {
		background-position:-270px -43px
	}
	32.501% {
		background-position:0px -86px
	}
	35% {
		background-position:0px -86px
	}
	35.001% {
		background-position:-45px -86px
	}
	37.5% {
		background-position:-45px -86px
	}
	37.501% {
		background-position:-90px -86px
	}
	40% {
		background-position:-90px -86px
	}
	40.001% {
		background-position:-135px -86px
	}
	42.5% {
		background-position:-135px -86px
	}
	42.501% {
		background-position:-180px -86px
	}
	45% {
		background-position:-180px -86px
	}
	45.001% {
		background-position:-225px -86px
	}
	47.5% {
		background-position:-225px -86px
	}
	47.501% {
		background-position:-270px -86px
	}
	50% {
		background-position:-270px -86px
	}
	50.001% {
		background-position:0px -129px
	}
	52.5% {
		background-position:0px -129px
	}
	52.501% {
		background-position:-45px -129px
	}
	55% {
		background-position:-45px -129px
	}
	55.001% {
		background-position:-90px -129px
	}
	57.5% {
		background-position:-90px -129px
	}
	57.501% {
		background-position:-135px -129px
	}
	60% {
		background-position:-135px -129px
	}
	60.001% {
		background-position:-180px -129px
	}
	62.5% {
		background-position:-180px -129px
	}
	62.501% {
		background-position:-225px -129px
	}
	65% {
		background-position:-225px -129px
	}
	65.001% {
		background-position:-270px -129px
	}
	67.5% {
		background-position:-270px -129px
	}
	67.501% {
		background-position:0px -172px
	}
	70% {
		background-position:0px -172px
	}
	70.001% {
		background-position:-45px -172px
	}
	72.5% {
		background-position:-45px -172px
	}
	72.501% {
		background-position:-90px -172px
	}
	75% {
		background-position:-90px -172px
	}
	75.001% {
		background-position:-135px -172px
	}
	77.5% {
		background-position:-135px -172px
	}
	77.501% {
		background-position:-180px -172px
	}
	80% {
		opacity:1;
		background-position:-180px -172px
	}
	90% {
		opacity:1;
		background-position:-180px -172px
	}
	95% {
		opacity:0;
		background-position:-180px -172px
	}
	95.001% {
		opacity:0;
		background-position:-270px -172px
	}
	100% {
		opacity:1;
		background-position:-270px -172px
	}
}
.entry {
	padding-top:7px
}
.thing.stickied a.title,.thing.stickied a.title:visited,.thing.stickied a.title.visited {
	font-weight:normal;
	padding:0 8px 0 8px;
	background-image:-webkit-linear-gradient(top,#0000ff,#000080);
	background-image:-moz-linear-gradient(top,#000080,#000080);
	background-image:-ms-linear-gradient(top,#000080,#000080);
	background-image:-o-linear-gradient(top,#000080,#000080);
	color:#ffffff
}
.stickied .title {
	color:white!important
}
.stickied-tagline {
	color:orange!important
}
.link .thumbnail {
	height:59px;
	width:55px;
	margin:5px 5px 0px 0px!important;
	border-radius:2px;
	background:url("/themes/res/OVlgyM4l2wBFN_7o3CpXtYDZc2EUmPzk3tEB53WUJXQ.png") no-repeat
}
.link .thumbnail img {
	height:100%
}
.commentarea .usertext .usertext-edit .bottom-area:before {
	margin-top:3px;
	content:"Posts supporting other candidates will be removed. Please ask questions about Trump on /r/AskThe_Donald.";
	display:block;
	padding:5px;
	background-color:#263982;
	border-bottom:3px solid #8B181D!important;
	color:#fff;
	font-size:12px;
	font-weight:bold;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	border-radius:0px
}
.link .entry li .comments {
	visibility:visible;
	color:#5a78c4;
	font-weight:bold;
	font-size:11px
}
.entry .buttons a[onclick*="reply"] {
	color:#5a78c4;
	font-size:11px
}
.res-commentBoxes .comment {
	padding-left:0px!important;
	border-bottom:0px solid #ddd!important;
	border-right:0px solid #ddd!important;
	border-top:1px solid #f5f5f5!important;
	border-left:2px solid #ddd!important;
	border-radius:0px!important;
	margin-bottom:5px!important
}
.comment,.comment .showreplies {
	padding-left:0px!important;
	border-bottom:0px solid #ddd!important;
	border-right:0px solid #ddd!important;
	border-top:1px solid #f5f5f5!important;
	border-left:2px solid #ddd!important;
	border-radius:0px!important;
	margin-bottom:5px!important
}
.comment .child,.comment .showreplies {
	border:none
}
.side {
	padding-right:9px;
	width:300px;
	margin:0px;
	border:none;
	padding-top:400px;
	background:url("/themes/res/Od7gCbviWUX_ZyLzY5E73IuxSLzPFOk79pqX5jDM9I0.png") top 10px left no-repeat
}
.side a[href=""] {
	position:absolute;
	width:300px;
	height:400px;
	top:232px;
	right:9px;
	content:".";
	z-index:100!important
}
.side #search input[type=text] {
	box-shadow:0px 1px 1px rgba(88,88,88,.84);
	border-style:none;
	width:299px;
	margin-top:13px;
	border-bottom:#aaa solid 1px
}
#search input[type=submit] {
	margin-top:13px
}
.login-form-side {
	border:none
}
.side .submit-link .morelink {
	background-image:none;
	background:#314aa9!important;
	border:none;
	font-size:0;
	padding-top:2px;
	border-bottom:3px solid #263982!important;
	border-radius:1.5px;
	box-shadow:0px 1px 1px rgba(88,88,88,.84)
}
.side .submit-link .morelink:hover {
	background:#4560c9!important;
	border-bottom:3px solid #2c4295!important
}
.side .submit-link .morelink a:after {
	content:"Submit a Link";
	font-size:15px;
	color:#ddd;
	transition:all .3s ease
}
.side .submit-link .morelink a:hover:after {
	color:#fff
}
.side .submit-text .morelink {
	background-image:none;
	background-color:#b62026!important;
	border:none;
	font-size:0;
	padding-top:2px;
	border-bottom:3px solid #8b181d!important;
	border-radius:1.5px;
	box-shadow:0px 1px 1px rgba(88,88,88,.84)
}
.side .submit-text .morelink:hover {
	background-color:#cc232b!important;
	border-bottom:3px solid #a11c22!important
}
.side .submit-text .morelink a:after {
	content:"Submit a Text Post";
	font-size:15px;
	color:#ddd;
	transition:all .3s ease
}
.side .submit-text .morelink a:hover:after {
	color:#fff
}
.morelink .nub {
	display:none
}
.morelink::after {
	content:"Post only if you support Trump!";
	padding:10px;
	position:absolute;
	display:block;
	background-color:#087ED7;
	color:#FFF;
	z-index:200;
	transition:200ms;
	border-radius:2px;
	pointer-events:none;
	font-size:17px;
	width:269px;
	top:0px;
	margin-right:300px;
	opacity:0;
	right:0px;
	background:#263982!important;
	border-bottom:3px solid #8B181D!important
}
.morelink:hover:after {
	margin-right:310px;
	opacity:100
}
.side .redditname,.side .leavemoderator {
	display:none
}
body:not(.subscriber) .arrow {
	visibility:hidden
}
body:not(.loggedin) .arrow {
	visibility:visible!important
}
#tb-bottombar {
	z-index:214748364!important
}
.listing-page.loggedin .option.add.login-required.active:after,.comments-page.loggedin .option.add.login-required.active:after {
	position:fixed;
	display:block;
	padding:15px;
	content:"Click here to subscribe and enable voting!";
	text-align:center;
	bottom:0px;
	font-size:39px;
	left:0;
	width:100%;
	background-color:#000144;
	font-weight:bold;
	z-index:2147483647!important
}
.side .md h4 {
	position:absolute;
	font-size:19px;
	display:block;
	top:228px;
	left:6px;
	margin:0;
	background:url("/themes/res/BAsWAApRWI6APCI8ECZYsBvOjryFhiZJ_joSwszPntk.jpg");
	text-indent:32px;
	border:none;
	border-top:3px solid #3C3B6E!important;
	border-bottom:3px solid #B22234!important;
	box-shadow:0 5px 5px -5px black;
	width:auto;
	padding:6px 10px 6px 15px;
	white-space:nowrap;
	overflow:hidden
}
.side .md h4:before {
	content:"";
	background-image:url("/themes/res/iHV4BZ5C6qMvmSQoL0dVP-uh0fmUGOiofylClM7mtl8.png");
	position:absolute;
	top:50%;
	left:0;
	width:37px;
	height:23px;
	margin-top:-12px;
	margin-left:5px
}
.side .usertext-body ol {
	list-style-type:lower-roman!important
}
.side .md h3 {
	position:relative;
	color:white;
	background:#263982!important;
	border:none;
	text-align:center;
	padding:7px 40px;
	border-bottom:3px solid #8B181D!important;
	border-radius:1.5px;
	box-shadow:0px 1px 1px rgba(88,88,88,.84)
}
.side .md h3+blockquote {
	background:url("/themes/res/BAsWAApRWI6APCI8ECZYsBvOjryFhiZJ_joSwszPntk.jpg") repeat transparent!important;
	background-color:transparent;
	border-style:none;
	box-shadow:0 5px 5px -5px black;
	color:#000;
	margin-top:-9px;
	margin-right:6px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
	padding-top:5px;
	padding-bottom:5px;
	margin-left:6px
}
.side .md h3 a {
	color:white!important
}
.side .md table {
	margin-left:29px!important
}
.side .md h3:before {
	content:"";
	position:absolute;
	top:50%;
	left:0;
	width:30px;
	height:28px;
	margin-top:-10px;
	margin-left:13px;
	background:url("/themes/res/S2tV972B0rg7MkXrwSziKHsQj8gxWV20tPwOWAh2E60.png") left top no-repeat
}
.side .md h3:after {
	content:"";
	position:absolute;
	top:50%;
	right:0;
	width:30px;
	height:28px;
	margin-top:-10px;
	margin-right:3px;
	background:url("/themes/res/S2tV972B0rg7MkXrwSziKHsQj8gxWV20tPwOWAh2E60.png") left top no-repeat
}
.side .bottom {
	border:0
}
.sidebox.create .morelink {
	display:none
}
.sidebox.create .morelink {
	display:none
}
.sidebox.submit .spacer a,.sidebox.create .spacer a {
	display:none
}
.sidebox.create .morelink {
	display:none
}
.sidebox.submit .spacer {
	display:none
}
.sidebox.create .spacer {
	display:none
}
.side .sidecontentbox .content {
	pointer-events:none
}
.side .sidecontentbox .content .more {
	pointer-events:auto
}
.side .sidecontentbox#moderation_tools .content {
	pointer-events:auto
}
ul.content:nth-child(2),div.title:nth-child(1)>h1:nth-child(1),.account-activity-box>p:nth-child(1) {
	display:none
}
.side .bottom {
	font-size:0;
	content:"";
	position:relative
}
.side .bottom .age {
	font-size:x-small
}
.side .bottom .age:before {
	content:"MAGA";
	position:absolute;
	left:0
}
.linkflairlabel[title="HIGH ENERGY"] {
	background-color:#FF0000;
	color:white
}
.linkflairlabel[title="FRESH"] {
	background-color:#66a3ff;
	color:white
}
.linkflairlabel[title="LIVE"] {
	background-color:#FF0000;
	color:white;
	font-size:15px;
	font-weight:bold;
	border-color:red;
	border-width:1px;
	border-radius:12px
}
.linkflairlabel[title="200k STRONG!"] {
	background-color:#b60101;
	color:white;
	font-size:15px;
	font-weight:bold;
	border-color:#b60101;
	border-width:1px;
	border-radius:7px
}
.flair {
	border:none!important;
	padding:0px;
	background:url("/themes/res/mkojYy4TA26-hmAK-buBmcualqlg3tkLr8XNTOE3RRk.png")no-repeat -9999px -9999px;
	display:inline-block;
	font-weight:bold;
	color:#0000ff
}
.flair-alabama {
	width:40px;
	height:20px;
	background-position:-5px -5px;
	text-indent:32px;
	font-size:85%
}
.flair-alaska {
	width:40px;
	height:20px;
	background-position:-45px -5px;
	text-indent:32px;
	font-size:85%
}
.flair-arizona {
	width:40px;
	height:20px;
	background-position:-85px -5px;
	text-indent:32px;
	font-size:85%
}
.flair-arkansas {
	width:40px;
	height:20px;
	background-position:-125px -5px;
	text-indent:32px;
	font-size:85%
}
.flair-california {
	width:40px;
	height:20px;
	background-position:-165px -5px;
	text-indent:32px;
	font-size:85%
}
.flair-colorado {
	width:40px;
	height:20px;
	background-position:-205px -5px;
	text-indent:32px;
	font-size:85%
}
.flair-connecticut {
	width:40px;
	height:20px;
	background-position:-5px -35px;
	text-indent:32px;
	font-size:85%
}
.flair-delaware {
	width:40px;
	height:20px;
	background-position:-45px -35px;
	text-indent:32px;
	font-size:85%
}
.flair-florida {
	width:40px;
	height:20px;
	background-position:-85px -35px;
	text-indent:32px;
	font-size:85%
}
.flair-georgia-us-state {
	width:40px;
	height:20px;
	background-position:-125px -35px;
	text-indent:32px;
	font-size:85%
}
.flair-hawaii {
	width:40px;
	height:20px;
	background-position:-165px -35px;
	text-indent:32px;
	font-size:85%
}
.flair-idaho {
	width:40px;
	height:20px;
	background-position:-205px -35px;
	text-indent:32px;
	font-size:85%
}
.flair-illinois {
	width:40px;
	height:20px;
	background-position:-5px -65px;
	text-indent:32px;
	font-size:85%
}
.flair-indiana {
	width:40px;
	height:20px;
	background-position:-45px -65px;
	text-indent:32px;
	font-size:85%
}
.flair-iowa {
	width:40px;
	height:20px;
	background-position:-85px -65px;
	text-indent:32px;
	font-size:85%
}
.flair-kansas {
	width:40px;
	height:20px;
	background-position:-125px -65px;
	text-indent:32px;
	font-size:85%
}
.flair-kentucky {
	width:40px;
	height:20px;
	background-position:-165px -65px;
	text-indent:32px;
	font-size:85%
}
.flair-louisiana {
	width:40px;
	height:20px;
	background-position:-205px -65px;
	text-indent:32px;
	font-size:85%
}
.flair-maine {
	width:40px;
	height:20px;
	background-position:-5px -95px;
	text-indent:32px;
	font-size:85%
}
.flair-maryland {
	width:40px;
	height:20px;
	background-position:-45px -95px;
	text-indent:32px;
	font-size:85%
}
.flair-massachusetts {
	width:40px;
	height:20px;
	background-position:-85px -95px;
	text-indent:32px;
	font-size:85%
}
.flair-michigan {
	width:38px;
	height:20px;
	background-position:-125px -95px;
	text-indent:32px;
	font-size:85%
}
.flair-minnesota {
	width:40px;
	height:20px;
	background-position:-165px -95px;
	text-indent:32px;
	font-size:85%
}
.flair-mississippi {
	width:40px;
	height:20px;
	background-position:-205px -95px;
	text-indent:32px;
	font-size:85%
}
.flair-missouri {
	width:40px;
	height:20px;
	background-position:-5px -125px;
	text-indent:32px;
	font-size:85%
}
.flair-montana {
	width:40px;
	height:20px;
	background-position:-45px -125px;
	text-indent:32px;
	font-size:85%
}
.flair-nebraska {
	width:40px;
	height:20px;
	background-position:-85px -125px;
	text-indent:32px;
	font-size:85%
}
.flair-nevada {
	width:40px;
	height:20px;
	background-position:-125px -125px;
	text-indent:32px;
	font-size:85%
}
.flair-new-hampshire {
	width:40px;
	height:20px;
	background-position:-165px -125px;
	text-indent:32px;
	font-size:85%
}
.flair-new-jersey {
	width:40px;
	height:20px;
	background-position:-205px -125px;
	text-indent:32px;
	font-size:85%
}
.flair-new-mexico {
	width:40px;
	height:20px;
	background-position:-5px -155px;
	text-indent:32px;
	font-size:85%
}
.flair-new-york {
	width:40px;
	height:20px;
	background-position:-45px -155px;
	text-indent:32px;
	font-size:85%
}
.flair-north-carolina {
	width:40px;
	height:20px;
	background-position:-85px -155px;
	text-indent:32px;
	font-size:85%
}
.flair-north-dakota {
	width:40px;
	height:20px;
	background-position:-125px -155px;
	text-indent:32px;
	font-size:85%
}
.flair-ohio {
	width:40px;
	height:20px;
	background-position:-165px -155px;
	text-indent:32px;
	font-size:85%
}
.flair-oklahoma {
	width:40px;
	height:20px;
	background-position:-205px -155px;
	text-indent:32px;
	font-size:85%
}
.flair-oregon {
	width:40px;
	height:20px;
	background-position:-5px -185px;
	text-indent:32px;
	font-size:85%
}
.flair-oregon-reverse {
	width:40px;
	height:20px;
	background-position:-45px -185px;
	text-indent:32px;
	font-size:85%
}
.flair-pennsylvania {
	width:40px;
	height:20px;
	background-position:-85px -185px;
	text-indent:32px;
	font-size:85%
}
.flair-puerto-rico {
	width:40px;
	height:20px;
	background-position:-125px -185px;
	text-indent:32px;
	font-size:85%
}
.flair-rhode-island {
	width:40px;
	height:20px;
	background-position:-165px -185px;
	text-indent:32px;
	font-size:85%
}
.flair-south-carolina {
	width:40px;
	height:20px;
	background-position:-205px -185px;
	text-indent:32px;
	font-size:85%
}
.flair-south-dakota {
	width:40px;
	height:20px;
	background-position:-5px -215px;
	text-indent:32px;
	font-size:85%
}
.flair-tennessee {
	width:40px;
	height:20px;
	background-position:-45px -215px;
	text-indent:32px;
	font-size:85%
}
.flair-texas {
	width:40px;
	height:20px;
	background-position:-85px -215px;
	text-indent:32px;
	font-size:85%
}
.flair-utah-enhanced-variant {
	width:30px;
	height:20px;
	background-position:-125px -215px;
	text-indent:35px;
	font-size:85%
}
.flair-vermont {
	width:40px;
	height:20px;
	background-position:-165px -215px;
	text-indent:32px;
	font-size:85%
}
.flair-virginia {
	width:40px;
	height:20px;
	background-position:-205px -215px;
	text-indent:32px;
	font-size:85%
}
.flair-washington {
	width:40px;
	height:20px;
	background-position:-245px -5px;
	text-indent:32px;
	font-size:85%
}
.flair-west-virginia {
	width:30px;
	height:20px;
	background-position:-245px -35px;
	text-indent:35px;
	font-size:85%
}
.flair-wisconsin {
	width:40px;
	height:20px;
	background-position:-245px -65px;
	text-indent:32px;
	font-size:85%
}
.flair-wyoming {
	width:40px;
	height:20px;
	background-position:-245px -95px;
	text-indent:32px;
	font-size:85%
}
.flair-washingtonDC {
	width:40px;
	height:20px;
	background-position:-245px -125px;
	text-indent:32px;
	font-size:85%
}
.flair-australia {
	width:25px;
	height:15px;
	background-position:-351px -5px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-belgium {
	width:25px;
	height:15px;
	background-position:-384px -5px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-brazil {
	width:25px;
	height:15px;
	background-position:-285px -30px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-canada {
	width:25px;
	height:15px;
	background-position:-317px -30px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-check {
	width:40px;
	height:20px;
	background-position:-525px -215px;
	text-indent:32px;
	font-size:85%
}
.flair-china {
	width:25px;
	height:15px;
	background-position:-350px -30px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-denmark {
	width:25px;
	height:15px;
	background-position:-383px -30px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-egypt {
	width:25px;
	height:15px;
	background-position:-285px -55px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-finland {
	width:25px;
	height:15px;
	background-position:-318px -55px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-france {
	width:25px;
	height:15px;
	background-position:-351px -55px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-germany {
	width:25px;
	height:15px;
	background-position:-384px -55px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-india {
	width:25px;
	height:15px;
	background-position:-318px -79px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-indonesia {
	width:25px;
	height:15px;
	background-position:-384px -79px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-iran {
	width:25px;
	height:15px;
	background-position:-285px -104px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-ireland {
	width:25px;
	height:15px;
	background-position:-318px -104px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-italy {
	width:25px;
	height:15px;
	background-position:-350px -104px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-jamaica {
	width:25px;
	height:15px;
	background-position:-525px -160px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-japan {
	width:25px;
	height:15px;
	background-position:-384px -104px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-mexico {
	width:25px;
	height:15px;
	background-position:-285px -129px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-netherlands {
	width:25px;
	height:15px;
	background-position:-285px -5px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-norway {
	width:25px;
	height:15px;
	background-position:-318px -129px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-pakistan {
	width:25px;
	height:15px;
	background-position:-349px -129px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-philippines {
	width:25px;
	height:15px;
	background-position:-318px -5px;
	text-indent:32px;
	font-size:85%;
	margin-right:20px
}
.flair-poland {
	width:25px;
	height:15px;
	background-position:-382px -129px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-russia {
	width:25px;
	height:15px;
	background-position:-417px -5px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-southAfrica {
	width:25px;
	height:15px;
	background-position:-417px -55px;
	text-indent:32px;
	font-size:85%;
	margin-right:20px
}
.flair-southKorea {
	width:25px;
	height:15px;
	background-position:-413px -30px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-spain {
	width:25px;
	height:15px;
	background-position:-417px -80px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-sweden {
	width:25px;
	height:15px;
	background-position:-285px -80px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-turkey {
	width:25px;
	height:15px;
	background-position:-417px -105px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-uk {
	width:25px;
	height:15px;
	background-position:-351px -80px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-ukraine {
	width:25px;
	height:15px;
	background-position:-415px -130px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-vietnam {
	width:25px;
	height:15px;
	background-position:-285px -155px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-EU {
	width:25px;
	height:15px;
	background-position:-450px -5px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-argentina {
	width:25px;
	height:15px;
	background-position:-450px -51px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-hungary {
	width:25px;
	height:15px;
	background-position:-450px -98px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-serbia {
	width:25px;
	height:15px;
	background-position:-450px -120px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-slovakia {
	width:25px;
	height:15px;
	background-position:-484px -5px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-bolivia {
	width:25px;
	height:15px;
	background-position:-483px -51px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-iraq {
	width:25px;
	height:15px;
	background-position:-483px -98px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-MURICA {
	width:25px;
	height:15px;
	background-position:-517px -5px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-vanuatu {
	width:25px;
	height:15px;
	background-position:-517px -27px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-croatia {
	width:25px;
	height:15px;
	background-position:-515px -51px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-greece {
	width:25px;
	height:15px;
	background-position:-515px -73px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-israel {
	width:25px;
	height:15px;
	background-position:-516px -98px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-jordan {
	width:25px;
	height:15px;
	background-position:-550px -5px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-libya {
	width:25px;
	height:15px;
	background-position:-550px -27px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-newzealand {
	width:25px;
	height:15px;
	background-position:-550px -49px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-romania {
	width:25px;
	height:15px;
	background-position:-548px -71px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-scotland {
	width:25px;
	height:15px;
	background-position:-548px -96px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-singapore {
	width:25px;
	height:15px;
	background-position:-547px -120px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-slovenia {
	width:25px;
	height:15px;
	background-position:-583px -5px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-venezuela {
	width:25px;
	height:15px;
	background-position:-583px -27px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-switzerland {
	width:16px;
	height:16px;
	background-position:-616px -5px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-airforce {
	width:40px;
	height:20px;
	background-position:-245px -155px;
	text-indent:32px;
	font-size:85%
}
.flair-army {
	width:40px;
	height:20px;
	background-position:-245px -185px;
	text-indent:32px;
	font-size:85%
}
.flair-coastguard {
	width:40px;
	height:20px;
	background-position:-245px -215px;
	text-indent:32px;
	font-size:85%
}
.flair-marinecorps {
	width:40px;
	height:20px;
	background-position:-285px -185px;
	text-indent:32px;
	font-size:85%
}
.flair-usnavy {
	width:40px;
	height:20px;
	background-position:-285px -215px;
	text-indent:32px;
	font-size:85%
}
.flair-cap {
	width:40px;
	height:20px;
	background-position:-325px -215px;
	text-indent:32px;
	font-size:85%
}
.flair-emt {
	width:40px;
	height:20px;
	background-position:-365px -185px;
	text-indent:32px;
	font-size:85%
}
.flair-fire {
	width:40px;
	height:20px;
	background-position:-365px -215px;
	text-indent:32px;
	font-size:85%
}
.flair-pow {
	width:40px;
	height:20px;
	background-position:-405px -215px;
	text-indent:32px;
	font-size:85%
}
.flair-ng {
	width:40px;
	height:20px;
	background-position:-445px -185px;
	text-indent:32px;
	font-size:85%
}
.flair-police {
	width:40px;
	height:20px;
	background-position:-405px -185px;
	text-indent:32px;
	font-size:85%
}
.flair-bp {
	width:40px;
	height:20px;
	background-position:-485px -135px;
	text-indent:32px;
	font-size:85%
}
.flair-gay {
	width:40px;
	height:20px;
	background-position:-445px -215px;
	text-indent:32px;
	font-size:85%
}
.flair-les {
	width:40px;
	height:20px;
	background-position:-485px -215px;
	text-indent:32px;
	font-size:85%
}
.flair-tg {
	width:40px;
	height:20px;
	background-position:-485px -185px;
	text-indent:32px;
	font-size:85%
}
.flair-rainbow {
	width:40px;
	height:20px;
	background-position:-525px -185px;
	text-indent:32px;
	font-size:85%
}
.flair-coal {
	width:40px;
	height:20px;
	background-position:-565px -160px;
	text-indent:32px;
	font-size:85%
}
.flair-money {
	width:37px;
	height:20px;
	background-position:-565px -185px;
	text-indent:32px;
	font-size:85%
}
.flair-lion {
	width:40px;
	height:20px;
	background-position:-565px -215px;
	text-indent:32px;
	font-size:85%
}
.flair-los {
	width:40px;
	height:20px;
	background-position:-485px -160px;
	text-indent:32px;
	font-size:85%
}
.flair-centi {
	width:38px;
	height:20px;
	background-position:-445px -160px;
	text-indent:32px;
	font-size:85%
}
.flair-rare {
	width:40px;
	height:20px;
	background-position:-405px -160px;
	text-indent:32px;
	font-size:85%
}
.flair-raretrump {
	width:30px;
	height:30px;
	background-position:-365px -150px;
	text-indent:32px;
	font-size:85%
}
.flair-rare3 {
	width:28px;
	height:27px;
	background-position:-327px -150px;
	text-indent:30px;
	font-size:85%
}
.flair-rare4 {
	width:33px;
	height:30px;
	background-position:-772px -241px;
	text-indent:36px;
	font-size:85%
}
.flair-rarehunter {
	width:30px;
	height:25px;
	background-position:-603px -210px;
	text-indent:32px;
	font-size:85%
}
.flair-tusta567 {
	width:30px;
	height:30px;
	background-position:-5px -241px;
	text-indent:32px;
	font-size:85%
}
.flair-getstumpedbytrump {
	width:32px;
	height:30px;
	background-position:-43px -241px;
	text-indent:32px;
	font-size:85%
}
.flair-byrdkissing {
	width:52px;
	height:30px;
	background-position:-85px -241px;
	text-indent:54px;
	font-size:85%
}
.flair-delegate {
	width:30px;
	height:30px;
	background-position:-245px -241px;
	text-indent:31px;
	font-size:85%
}
.flair-awoo {
	width:30px;
	height:30px;
	background-position:-139px -241px;
	text-indent:32px;
	font-size:85%
}
.flair-viking83 {
	width:28px;
	height:30px;
	background-position:-172px -241px;
	text-indent:30px;
	font-size:85%
}
.flair-georgia-nation {
	width:30px;
	height:21px;
	background-position:-205px -241px;
	text-indent:32px;
	font-size:85%
}
.flair-nickedavis {
	width:30px;
	height:20px;
	background-position:-285px -241px;
	text-indent:32px;
	font-size:85%
}
.flair-virginislands {
	width:32px;
	height:20px;
	background-position:-327px -241px;
	text-indent:34px;
	font-size:85%
}
.flair-taiwan {
	width:30px;
	height:20px;
	background-position:-365px -241px;
	text-indent:32px;
	font-size:85%
}
.flair-gun {
	width:37px;
	height:22px;
	background-position:-405px -241px;
	text-indent:38px;
	font-size:85%
}
.flair-ohsnap {
	width:31px;
	height:29px;
	background-position:-445px -241px;
	text-indent:32px;
	font-size:85%
}
.flair-folkchild {
	width:40px;
	height:23px;
	background-position:-600px -178px;
	text-indent:41px;
	font-size:85%
}
.flair-whiteymcprivilege {
	width:30px;
	height:30px;
	background-position:-485px -241px;
	text-indent:32px;
	font-size:85%
}
.flair-trumpforlife {
	width:33px;
	height:30px;
	background-position:-525px -241px;
	text-indent:32px;
	font-size:85%
}
.flair-hamgeck {
	width:30px;
	height:30px;
	background-position:-565px -241px;
	text-indent:31px;
	font-size:85%
}
.flair-gracejonestown {
	width:35px;
	height:30px;
	background-position:-603px -241px;
	text-indent:31px;
	font-size:85%
}
.flair-talktoberryfin {
	width:35px;
	height:28px;
	background-position:-638px -241px;
	text-indent:31px;
	font-size:85%
}
.flair-christchancansaveyou {
	width:35px;
	height:25px;
	background-position:-701px -241px;
	text-indent:27px;
	font-size:85%
}
.flair-getstumped {
	width:36px;
	height:27px;
	background-position:-736px -241px;
	text-indent:36px;
	font-size:85%
}
.flair-taiwan {
	width:30px;
	height:20px;
	background-position:-5px -274px;
	text-indent:32px;
	font-size:85%
}
.flair-wales {
	width:33px;
	height:24px;
	background-position:-41px -274px;
	text-indent:34px;
	font-size:85%
}
.flair-microphone {
	width:21px;
	height:30px;
	background-position:-82px -274px;
	text-indent:24px;
	font-size:85%
}
.flair-ivanka {
	width:27px;
	height:30px;
	background-position:-120px -278px;
	text-indent:29px;
	font-size:85%
}
.flair-comfypepe {
	width:35px;
	height:30px;
	background-position:-150px -278px;
	text-indent:37px;
	font-size:85%
}
.flair-webkinz {
	width:26px;
	height:30px;
	background-position:-188px -278px;
	text-indent:28px;
	font-size:85%
}
.flair-trumpgeneral {
	width:41px;
	height:30px;
	background-position:-215px -278px;
	text-indent:43px;
	font-size:85%
}
.flair-diamondpepe {
	width:36px;
	height:32px;
	background-position:-285px -278px;
	text-indent:38px;
	font-size:85%
}
.flair-goldenpepe {
	width:31px;
	height:32px;
	background-position:-325px -278px;
	text-indent:33px;
	font-size:85%
}
.flair-estonia {
	width:30px;
	height:20px;
	background-position:-364px -278px;
	text-indent:33px;
	font-size:85%
}
.flair-lithuania {
	width:33px;
	height:20px;
	background-position:-400px -278px;
	text-indent:35px;
	font-size:85%
}
.flair-england {
	width:33px;
	height:20px;
	background-position:-440px -278px;
	text-indent:35px;
	font-size:85%
}
.flair-northernireland {
	width:33px;
	height:20px;
	background-position:-480px -278px;
	text-indent:35px;
	font-size:85%
}
.flair-colombia {
	width:33px;
	height:20px;
	background-position:-522px -278px;
	text-indent:35px;
	font-size:85%
}
.flair-iceland {
	width:33px;
	height:20px;
	background-position:-565px -277px;
	text-indent:35px;
	font-size:85%
}
.flair-austria {
	width:33px;
	height:20px;
	background-position:-583px -48px;
	text-indent:35px;
	font-size:85%
}
.flair-FutureN {
	width:26px;
	height:26px;
	background-position:-806px -242px;
	text-indent:30px;
	font-size:85%
}
.flairselector {
	position:fixed;
	top:10px!important;
	left:50%!important;
	margin-left:-225px;
	padding:32px!important;
	max-height:500px;
	width:540px!important;
	z-index:9999999;
	border:none;
	border-radius:2px;
	box-shadow:0 0 16px rgba(0,0,0,0.64)
}
.flairselector.drop-choices.active {
	border:1px solid #e2e2e2
}
.flairselector h2 {
	margin-bottom:4px;
	background-color:transparent;
	color:#3F7CCB;
	text-align:left;
	text-transform:capitalize;
	font-weight:400;
	font-size:18px
}
.flairoptionpane {
	max-height:300px;
	text-align:left
}
.flairselector .flairoptionpane ul li {
	padding:0!important
}
.flair {
	margin-right:30px
}
body:lang(np):not(.subscriber) .arrow {
	visibility:hidden!important
}
body:lang(np):not(.subscriber) .usertext-edit,body:lang(np):not(.subscriber) .sidebox.submit,body:lang(np):not(.subscriber) .commentingAs,body:lang(np):not(.subscriber) .markdownEditor,body:lang(np):not(.subscriber) a[onclick*="return reply(this)"],body:lang(np):not(.subscriber) .subButtons,body:lang(np):not(.subscriber) .helplink,body:lang(np):not(.subscriber) .titlebox .fancy-toggle-button.toggle>.option.add {
	display:none!important
}
body:lang(np):not(.subscriber) #siteTable:before {
	content:"You have been linked to a read-only version of this subreddit. Please respect the community by not voting.";
	display:block;
	max-width:800px;
	background-color:#F6E69F;
	padding:5px 10px;
	margin:5px 305px 5px 0px;
	border:1px solid orange;
	font-size:small
}
body:lang(np):not(.subscriber) .entry.likes:not(.reddit-entry):before,body:lang(np):not(.subscriber) .entry.dislikes:not(.reddit-entry):before {
	content:"Please do not vote or comment when you come from external subreddits.";
	color:red;
	font-size:large;
	font-weight:bold
}
body.wiki-page:lang(np):not(.subscriber) span.pageactions a.wikiaction-edit:not(.wikiaction-current),body.wiki-page:lang(np):not(.subscriber) div.wiki-page-content form#editform label[for="reason"],body.wiki-page:lang(np):not(.subscriber) div.wiki-page-content form#editform input#wiki_revision_reason,body.wiki-page:lang(np):not(.subscriber) div.wiki-page-content form#editform input[type="submit"] {
	display:none!important
}
.author[href$="/yiannopoulos_m"] ~ .flair {
	color:pink
}
.author[href$="/annhcoulter"] ~ .flair {
	color:red
}
.thing .md blockquote {
	display:block;
	background:#fff;
	padding:10px 20px 10px 35px;
	margin:20px 10px;
	position:relative;
	line-height:1.2;
	color:#444;
	text-align:justify;
	border-left:5px solid #586698;
	border-radius:3px
}
.thing .md blockquote::before {
	content:"“";
	font-family:Georgia,serif;
	font-size:40px;
	font-weight:bold;
	color:#B93A43;
	position:absolute;
	left:10px;
	top:5px
}
.thing .md blockquote::after {
	content:""
}
.thing .md blockquote a {
	text-decoration:none;
	background:#eee;
	cursor:pointer;
	padding:0 3px;
	color:#c76c0c
}
.thing .md blockquote a:hover {
	color:#666
}
.thing .md blockquote em {
	font-style:italic
}
.commentarea .thing .md blockquote {
	margin:10px;
	background:#f3f9fe
}
.flair-OrbText {
	color:#a3a598
}
.flair-OrbBG {
	background-color:#e8f1e0
}