/*
	Original The_Donald CSS
	Copyright 2015-2020, The_Donald mods
*/
.subscribers .word {
	display:none
}
.subscribers .number::after {
	content:" Centipedes"
}
.users-online .word {
	display:none
}
.users-online .number::after {
	content:" Nimble Navigators here now."
}
.content {
	margin-top:53px
}
::-webkit-scrollbar {
	width:12px;
	background:transparent
}
::-webkit-scrollbar-thumb {
	border-radius:1px;
	background:#b3b3b3
}
.author[href$="/Peetrius"] {
	font-size:0px!important
}
.author[href$="/Peetrius"]:after {
	font-size:12px!important;
	content:"bernie-sanders"
}
#sr-header-area {
	background:rgba(44,44,44,.5);
	border:none;
	z-index:200;
	transition:all .2s ease-out;
	box-shadow:0px 1px 1px rgba(00,00,00,.33)
}
#sr-header-area:hover {
}
#sr-header-area a,#sr-header-area .srdrop.dropdown .selected {
	font-family:Arial,Helvetica,sans-serif letter-spacing:1px;
	color:#000;
	text-shadow:-1px 1px 3px #555;
	transition:all .2s ease-out;
	color:#eee
}
.drop-choices.inuse {
	background-color:#283681;
	border:none
}
#sr-header-area a:hover {
	color:orangered
}
#sr-more-link {
	display:none
}
#RESShortcutsEditContainer,#RESShortcutsRight,#RESShortcutsAdd,#RESShortcutsTrash,#RESShortcutsLeft,#sr-more-link,#RESShortcutsSort {
	color:#ddd!important;
	background-color:transparent!important
}
.sr-header .drop-choices {
	background-color:#777
}
.sr-header .flat-list .drop-choices {
	background-color:##E3E3E3!important
}
.link .flat-list {
	display:inline;
	padding:0 0
}
#header {
	position:relative;
	background:#000 url("/themes/res/i_xwRiqyoltTGOpJeHlvt-kNlbEaSdzxhGWLitvDF_0.jpg") repeat-x center 15px;
	height:222px;
	-moz-box-shadow:inset 0 0 60px #000;
	-webkit-box-shadow:inset 0 0 60px #000;
	-o-box-shadow:inset 0 0 60px #000;
	box-shadow:inset 0 0 60px #000;
	background-color:#0A3DBD;
	border-bottom:0px;
	-webkit-animation:slide 90s linear infinite;
	animation:slide 90s linear infinite
}
@-webkit-keyframes slide {
	from {
		background-position:1537px 16px
	}
	to {
		background-position:0px 16px
	}
}
@keyframes slide {
	from {
		background-position:1537px 16px
	}
	to {
		background-position:0px 16px
	}
}
.pagename {
	font-size:0
}
.pagename a {
	display:block;
	width:332px;
	height:125px;
	background:url("/themes/res/o2vBZ52al1XVIqsIcUeDCrdp5tlHWJWlw0Kbr8fL5qw.png") no-repeat center center;
	position:absolute;
	left:50%;
	margin-left:-167px;
	top:50%;
	margin-top:-60px
}
#header-img {
	position:absolute;
	top:114px;
	left:8px
}
#header-bottom-right a,.user .userkarma,.user {
	color:#e9e9e9;
	text-shadow:0px 0px 4px #111
}
#RESMainGearOverlay .gearIcon {
	display:none
}
#userbarToggle {
	color:#fff!important;
	background-color:transparent!important;
	border-right:none!important;
	line-height:26px!important;
	bottom:-1px;
	top:-3px!important
}
.res #header-bottom-right {
	background:transparent;
	color:#eee!important;
	line-height:0em!important;
	margin:-1px 0px 0px 0px;
	top:199px
}
body:not(.res) #header-bottom-right {
	position:absolute;
	background-color:transparent
}
#header .tabmenu {
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	text-align:center
}
#header .tabmenu li {
	margin:0
}
#header .tabmenu li a {
	color:#111;
	background:-ms-linear-gradient(#fefefe,#e5e5e5);
	background:-webkit-linear-gradient(#fefefe,#e5e5e5);
	background:-o-linear-gradient(#fefefe,#e5e5e5);
	background:-moz-linear-gradient(#fefefe,#e5e5e5);
	background:linear-gradient(#fefefe,#e5e5e5);
	margin:0px 5px 0px 5px;
	border:none!important;
	display:inline-block;
	padding:0px 7px;
	line-height:2.1em;
	text-align:center;
	font-size:10px;
	letter-spacing:.5px;
	text-transform:capitalize;
	position:relative;
	transition:all .3s ease-out;
	-webkit-border-top-right-radius:3px!important;
	-moz-border-radius-topright:3px!important;
	-o-border-radius-topright:3px!important;
	border-top-right-radius:3px!important;
	-webkit-border-top-left-radius:3px!important;
	-moz-border-radius-topleft:3px!important;
	-o-border-radius-topleft:3px!important;
	border-top-left-radius:3px!important;
	-moz-box-shadow:inset 0px -8px 9px -6px #aaa,3px -2px 3px 0px rgba(00,00,00,0.2),-3px -2px 3px 0px rgba(00,00,00,0.2),0px -3px 3px 0px rgba(00,00,00,0.2);
	-webkit-box-shadow:inset 0px -8px 9px -6px #aaa,3px -2px 3px 0px rgba(00,00,00,0.2),-3px -2px 3px 0px rgba(00,00,00,0.2),0px -3px 3px 0px rgba(00,00,00,0.2);
	-o-box-shadow:inset 0px -8px 9px -6px #aaa,3px -2px 3px 0px rgba(00,00,00,0.2),-3px -2px 3px 0px rgba(00,00,00,0.2),0px -3px 3px 0px rgba(00,00,00,0.2);
	box-shadow:inset 0px -8px 9px -6px #aaa,3px -2px 3px 0px rgba(00,00,00,0.2),-3px -2px 3px 0px rgba(00,00,00,0.2),0px -3px 3px 0px rgba(00,00,00,0.2)
}
#header .tabmenu li a:hover {
	color:orangered
}
#header .tabmenu li a[href*="ads"],#header .tabmenu li a[href*="controversial"],#header .tabmenu li a[href*="javascript:;"] {
	display:none!important
}
#header .tabmenu li.selected a {
	color:orangered;
	z-index:0;
	-moz-box-shadow:3px -2px 3px 0px rgba(00,00,00,0.2),-3px -2px 3px 0px rgba(00,00,00,0.2),0px -3px 3px 0px rgba(00,00,00,0.2);
	-webkit-box-shadow:3px -2px 3px 0px rgba(00,00,00,0.2),-3px -2px 3px 0px rgba(00,00,00,0.2),0px -3px 3px 0px rgba(00,00,00,0.2);
	-o-box-shadow:3px -2px 3px 0px rgba(00,00,00,0.2),-3px -2px 3px 0px rgba(00,00,00,0.2),0px -3px 3px 0px rgba(00,00,00,0.2);
	box-shadow:3px -2px 3px 0px rgba(00,00,00,0.2),-3px -2px 3px 0px rgba(00,00,00,0.2),0px -3px 3px 0px rgba(00,00,00,0.2);
	background:white
}
.reportbtn {
	font-size:0;
	content:""
}
.reportbtn::after {
	content:"deport";
	font-size:x-small
}
.report-header {
	font-size:0;
	content:""
}
.reason-prompt.report-header::after {
	content:"What law is this person breaking?";
	font-size:medium
}
.reason-prompt.report-header::after {
	content:"What law is this person breaking?";
	visibility:visible;
	word-spacing:normal;
	letter-spacing:normal
}
.comment {
	overflow:hidden;
	margin-right:5px
}
.link .rank {
	display:none
}
.arrow.upmod {
	background-image:url("/themes/res/Soy3SlbOa9LS_cpxcWYJmfPFs3ogw0gCD1DwCvm1XHg.png");
	background-position:0px 0px;
	height:25px;
	width:32px
}
.arrow.up {
	margin-top:13px
}
.arrow.down {
	margin-bottom:11px
}
.arrow.downmod {
	background-image:url("/themes/res/cf_5K-JJoGhoPlOnRA6AIebHsxuDWBzWRMCpWEvXwnc.png");
	background-position:0px 0px;
	height:25px;
	width:34px;
	margin-left:5px
}
.midcol {
	width:39px!important;
	margin-left:0px
}
.comment .midcol {
	margin-right:0px
}
.entry {
	padding-top:7px
}
.thing.stickied a.title,.thing.stickied a.title:visited,.thing.stickied a.title.visited {
	font-weight:normal;
	padding:0 8px 0 8px;
	background-image:-webkit-linear-gradient(top,#0000ff,#000080);
	background-image:-moz-linear-gradient(top,#000080,#000080);
	background-image:-ms-linear-gradient(top,#000080,#000080);
	background-image:-o-linear-gradient(top,#000080,#000080);
	color:#ffffff
}
.stickied .title {
	color:white!important
}
.stickied-tagline {
	color:orange!important
}
.link .thumbnail {
	height:59px;
	width:55px;
	margin:5px 5px 0px 0px!important;
	border-radius:2px;
	background:url("/themes/res/OVlgyM4l2wBFN_7o3CpXtYDZc2EUmPzk3tEB53WUJXQ.png") no-repeat
}
.link .thumbnail img {
	height:100%
}
.commentarea .usertext .usertext-edit .bottom-area:before {
	margin-top:3px;
	content:"Posts supporting other candidates will be removed. Please ask questions about Trump on /r/AskTrumpSupporters.";
	display:block;
	padding:5px;
	background-color:#263982;
	border-bottom:3px solid #8B181D!important;
	color:#fff;
	font-size:12px;
	font-weight:bold;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	border-radius:0px
}
.link .entry li .comments {
	visibility:visible;
	color:#5a78c4;
	font-weight:bold;
	font-size:11px
}
.entry .buttons a[onclick*="reply"] {
	color:#5a78c4;
	font-size:11px
}
.res-commentBoxes .comment {
	padding-left:0px!important;
	border-bottom:0px solid #ddd!important;
	border-right:0px solid #ddd!important;
	border-top:1px solid #f5f5f5!important;
	border-left:2px solid #ddd!important;
	border-radius:0px!important;
	margin-bottom:5px!important
}
.comment,.comment .showreplies {
	padding-left:0px!important;
	border-bottom:0px solid #ddd!important;
	border-right:0px solid #ddd!important;
	border-top:1px solid #f5f5f5!important;
	border-left:2px solid #ddd!important;
	border-radius:0px!important;
	margin-bottom:5px!important
}
.comment .child,.comment .showreplies {
	border:none
}
.side {
	padding-right:9px;
	width:300px;
	margin:0px;
	border:none;
	padding-top:400px;
	background:url("/themes/res/IWmybinoKmzf4krUDtblEHb8YIxK77FR8ybpZZiX3hg.png") top 10px left no-repeat
}
.side #search input[type=text] {
	box-shadow:0px 1px 1px rgba(88,88,88,.84);
	border-style:none;
	width:299px;
	margin-top:13px;
	border-bottom:#aaa solid 1px
}
#search input[type=submit] {
	margin-top:13px
}
.login-form-side {
	border:none
}
.side .submit-link .morelink {
	background-image:none;
	background:#314aa9!important;
	border:none;
	font-size:0;
	padding-top:2px;
	border-bottom:3px solid #263982!important;
	border-radius:1.5px;
	box-shadow:0px 1px 1px rgba(88,88,88,.84)
}
.side .submit-link .morelink:hover {
	background:#4560c9!important;
	border-bottom:3px solid #2c4295!important
}
.side .submit-link .morelink a:after {
	content:"Submit a Link";
	font-size:15px;
	color:#ddd;
	transition:all .3s ease
}
.side .submit-link .morelink a:hover:after {
	color:#fff
}
.side .submit-text .morelink {
	background-image:none;
	background-color:#b62026!important;
	border:none;
	font-size:0;
	padding-top:2px;
	border-bottom:3px solid #8b181d!important;
	border-radius:1.5px;
	box-shadow:0px 1px 1px rgba(88,88,88,.84)
}
.side .submit-text .morelink:hover {
	background-color:#cc232b!important;
	border-bottom:3px solid #a11c22!important
}
.side .submit-text .morelink a:after {
	content:"Submit a Text Post";
	font-size:15px;
	color:#ddd;
	transition:all .3s ease
}
.side .submit-text .morelink a:hover:after {
	color:#fff
}
.morelink .nub {
	display:none
}
.morelink::after {
	content:"Post only if you support Trump!";
	padding:10px;
	position:absolute;
	display:block;
	background-color:#087ED7;
	color:#FFF;
	z-index:200;
	transition:200ms;
	border-radius:2px;
	pointer-events:none;
	font-size:17px;
	width:269px;
	top:0px;
	margin-right:300px;
	opacity:0;
	right:0px;
	background:#263982!important;
	border-bottom:3px solid #8B181D!important
}
.morelink:hover:after {
	margin-right:310px;
	opacity:100
}
.side .redditname,.side .leavemoderator {
	display:none
}
body:not(.subscriber) .arrow {
	visibility:hidden!important
}
#tb-bottombar {
	z-index:214748364!important
}
.listing-page.loggedin .option.add.login-required.active:after,.comments-page.loggedin .option.add.login-required.active:after {
	position:fixed;
	display:block;
	padding:5px;
	content:"Click here to subscribe and enable voting!";
	text-align:center;
	bottom:0px;
	font-size:24px;
	left:0;
	width:100%;
	background-color:#000144;
	font-weight:bold;
	border-bottom:yellow 1px solid;
	z-index:2147483647!important
}
.side .md h4 {
	position:absolute;
	font-size:19px;
	display:block;
	top:228px;
	left:6px;
	margin:0;
	background:url("/themes/res/BAsWAApRWI6APCI8ECZYsBvOjryFhiZJ_joSwszPntk.jpg");
	text-indent:32px;
	border:none;
	border-top:3px solid #3C3B6E!important;
	border-bottom:3px solid #B22234!important;
	box-shadow:0 5px 5px -5px black;
	width:auto;
	padding:6px 10px 6px 15px;
	white-space:nowrap;
	overflow:hidden
}
.side .md h4:before {
	content:"";
	background-image:url("/themes/res/iHV4BZ5C6qMvmSQoL0dVP-uh0fmUGOiofylClM7mtl8.png");
	position:absolute;
	top:50%;
	left:0;
	width:37px;
	height:23px;
	margin-top:-12px;
	margin-left:5px
}
.side .usertext-body ol {
	list-style-type:lower-roman!important
}
.side .md h3 {
	position:relative;
	color:white;
	background:#263982!important;
	border:none;
	text-align:center;
	padding:7px 40px;
	border-bottom:3px solid #8B181D!important;
	border-radius:1.5px;
	box-shadow:0px 1px 1px rgba(88,88,88,.84)
}
.side .md h3+blockquote {
	background:url("/themes/res/BAsWAApRWI6APCI8ECZYsBvOjryFhiZJ_joSwszPntk.jpg") repeat transparent!important;
	background-color:transparent;
	border-style:none;
	box-shadow:0 5px 5px -5px black;
	color:#000;
	margin-top:-9px;
	margin-right:6px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
	padding-top:5px;
	padding-bottom:5px;
	margin-left:6px
}
.side .md h3 a {
	color:white!important
}
.side .md h3+blockquote:nth-of-type(4) {
	padding-left:48px
}
.side .md h3:before {
	content:"";
	position:absolute;
	top:50%;
	left:0;
	width:30px;
	height:28px;
	margin-top:-10px;
	margin-left:13px;
	background:url("/themes/res/S2tV972B0rg7MkXrwSziKHsQj8gxWV20tPwOWAh2E60.png") left top no-repeat
}
.side .md h3:after {
	content:"";
	position:absolute;
	top:50%;
	right:0;
	width:30px;
	height:28px;
	margin-top:-10px;
	margin-right:3px;
	background:url("/themes/res/S2tV972B0rg7MkXrwSziKHsQj8gxWV20tPwOWAh2E60.png") left top no-repeat
}
.side .bottom {
	border:0
}
.sidebox.create .morelink {
	display:none
}
.sidebox.create .morelink {
	display:none
}
.sidebox.submit .spacer a,.sidebox.create .spacer a {
	display:none
}
.sidebox.create .morelink {
	display:none
}
.sidebox.submit .spacer {
	display:none
}
.sidebox.create .spacer {
	display:none
}
.side .bottom {
	font-size:0;
	content:"";
	position:relative
}
.side .bottom .age {
	font-size:x-small
}
.side .bottom .age:before {
	content:"CSS by Phinaeus";
	position:absolute;
	left:0
}
.linkflairlabel[title="HIGH ENERGY"] {
	background-color:#FF0000;
	color:white
}
.flair {
	border:none!important;
	padding:0px;
	background:url("/themes/res/VztqtTLJxcQJcvBkPbrZQt3qe37BWB8DKXOjfjp6rxg.png")no-repeat -9999px -9999px;
	display:inline-block;
	font-weight:bold;
	color:#0000ff
}
.flair-alabama {
	width:40px;
	height:20px;
	background-position:-5px -5px;
	text-indent:32px;
	font-size:85%
}
.flair-alaska {
	width:40px;
	height:20px;
	background-position:-45px -5px;
	text-indent:32px;
	font-size:85%
}
.flair-arizona {
	width:40px;
	height:20px;
	background-position:-85px -5px;
	text-indent:32px;
	font-size:85%
}
.flair-arkansas {
	width:40px;
	height:20px;
	background-position:-125px -5px;
	text-indent:32px;
	font-size:85%
}
.flair-california {
	width:40px;
	height:20px;
	background-position:-165px -5px;
	text-indent:32px;
	font-size:85%
}
.flair-colorado {
	width:40px;
	height:20px;
	background-position:-205px -5px;
	text-indent:32px;
	font-size:85%
}
.flair-connecticut {
	width:40px;
	height:20px;
	background-position:-5px -35px;
	text-indent:32px;
	font-size:85%
}
.flair-delaware {
	width:40px;
	height:20px;
	background-position:-45px -35px;
	text-indent:32px;
	font-size:85%
}
.flair-florida {
	width:40px;
	height:20px;
	background-position:-85px -35px;
	text-indent:32px;
	font-size:85%
}
.flair-georgia-us-state {
	width:40px;
	height:20px;
	background-position:-125px -35px;
	text-indent:32px;
	font-size:85%
}
.flair-hawaii {
	width:40px;
	height:20px;
	background-position:-165px -35px;
	text-indent:32px;
	font-size:85%
}
.flair-idaho {
	width:40px;
	height:20px;
	background-position:-205px -35px;
	text-indent:32px;
	font-size:85%
}
.flair-illinois {
	width:40px;
	height:20px;
	background-position:-5px -65px;
	text-indent:32px;
	font-size:85%
}
.flair-indiana {
	width:40px;
	height:20px;
	background-position:-45px -65px;
	text-indent:32px;
	font-size:85%
}
.flair-iowa {
	width:40px;
	height:20px;
	background-position:-85px -65px;
	text-indent:32px;
	font-size:85%
}
.flair-kansas {
	width:40px;
	height:20px;
	background-position:-125px -65px;
	text-indent:32px;
	font-size:85%
}
.flair-kentucky {
	width:40px;
	height:20px;
	background-position:-165px -65px;
	text-indent:32px;
	font-size:85%
}
.flair-louisiana {
	width:40px;
	height:20px;
	background-position:-205px -65px;
	text-indent:32px;
	font-size:85%
}
.flair-maine {
	width:40px;
	height:20px;
	background-position:-5px -95px;
	text-indent:32px;
	font-size:85%
}
.flair-maryland {
	width:40px;
	height:20px;
	background-position:-45px -95px;
	text-indent:32px;
	font-size:85%
}
.flair-massachusetts {
	width:40px;
	height:20px;
	background-position:-85px -95px;
	text-indent:32px;
	font-size:85%
}
.flair-michigan {
	width:40px;
	height:20px;
	background-position:-125px -95px;
	text-indent:32px;
	font-size:85%
}
.flair-minnesota {
	width:40px;
	height:20px;
	background-position:-165px -95px;
	text-indent:32px;
	font-size:85%
}
.flair-mississippi {
	width:40px;
	height:20px;
	background-position:-205px -95px;
	text-indent:32px;
	font-size:85%
}
.flair-missouri {
	width:40px;
	height:20px;
	background-position:-5px -125px;
	text-indent:32px;
	font-size:85%
}
.flair-montana {
	width:40px;
	height:20px;
	background-position:-45px -125px;
	text-indent:32px;
	font-size:85%
}
.flair-nebraska {
	width:40px;
	height:20px;
	background-position:-85px -125px;
	text-indent:32px;
	font-size:85%
}
.flair-nevada {
	width:40px;
	height:20px;
	background-position:-125px -125px;
	text-indent:32px;
	font-size:85%
}
.flair-new-hampshire {
	width:40px;
	height:20px;
	background-position:-165px -125px;
	text-indent:32px;
	font-size:85%
}
.flair-new-jersey {
	width:40px;
	height:20px;
	background-position:-205px -125px;
	text-indent:32px;
	font-size:85%
}
.flair-new-mexico {
	width:40px;
	height:20px;
	background-position:-5px -155px;
	text-indent:32px;
	font-size:85%
}
.flair-new-york {
	width:40px;
	height:20px;
	background-position:-45px -155px;
	text-indent:32px;
	font-size:85%
}
.flair-north-carolina {
	width:40px;
	height:20px;
	background-position:-85px -155px;
	text-indent:32px;
	font-size:85%
}
.flair-north-dakota {
	width:40px;
	height:20px;
	background-position:-125px -155px;
	text-indent:32px;
	font-size:85%
}
.flair-ohio {
	width:40px;
	height:20px;
	background-position:-165px -155px;
	text-indent:32px;
	font-size:85%
}
.flair-oklahoma {
	width:40px;
	height:20px;
	background-position:-205px -155px;
	text-indent:32px;
	font-size:85%
}
.flair-oregon {
	width:40px;
	height:20px;
	background-position:-5px -185px;
	text-indent:32px;
	font-size:85%
}
.flair-oregon-reverse {
	width:40px;
	height:20px;
	background-position:-45px -185px;
	text-indent:32px;
	font-size:85%
}
.flair-pennsylvania {
	width:40px;
	height:20px;
	background-position:-85px -185px;
	text-indent:32px;
	font-size:85%
}
.flair-puerto-rico {
	width:40px;
	height:20px;
	background-position:-125px -185px;
	text-indent:32px;
	font-size:85%
}
.flair-rhode-island {
	width:40px;
	height:20px;
	background-position:-165px -185px;
	text-indent:32px;
	font-size:85%
}
.flair-south-carolina {
	width:40px;
	height:20px;
	background-position:-205px -185px;
	text-indent:32px;
	font-size:85%
}
.flair-south-dakota {
	width:40px;
	height:20px;
	background-position:-5px -215px;
	text-indent:32px;
	font-size:85%
}
.flair-tennessee {
	width:40px;
	height:20px;
	background-position:-45px -215px;
	text-indent:32px;
	font-size:85%
}
.flair-texas {
	width:40px;
	height:20px;
	background-position:-85px -215px;
	text-indent:32px;
	font-size:85%
}
.flair-utah-enhanced-variant {
	width:30px;
	height:20px;
	background-position:-125px -215px;
	text-indent:35px;
	font-size:85%
}
.flair-vermont {
	width:40px;
	height:20px;
	background-position:-165px -215px;
	text-indent:32px;
	font-size:85%
}
.flair-virginia {
	width:40px;
	height:20px;
	background-position:-205px -215px;
	text-indent:32px;
	font-size:85%
}
.flair-washington {
	width:40px;
	height:20px;
	background-position:-245px -5px;
	text-indent:32px;
	font-size:85%
}
.flair-west-virginia {
	width:30px;
	height:20px;
	background-position:-245px -35px;
	text-indent:35px;
	font-size:85%
}
.flair-wisconsin {
	width:40px;
	height:20px;
	background-position:-245px -65px;
	text-indent:32px;
	font-size:85%
}
.flair-wyoming {
	width:40px;
	height:20px;
	background-position:-245px -95px;
	text-indent:32px;
	font-size:85%
}
.flair-washingtonDC {
	width:40px;
	height:20px;
	background-position:-245px -125px;
	text-indent:32px;
	font-size:85%
}
.flair-australia {
	width:25px;
	height:15px;
	background-position:-351px -5px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-belgium {
	width:25px;
	height:15px;
	background-position:-384px -5px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-brazil {
	width:25px;
	height:15px;
	background-position:-285px -30px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-canada {
	width:25px;
	height:15px;
	background-position:-317px -30px;
	text-indent:23px;
	padding:10;
	font-size:85%;
	margin-right:20px
}
.flair-china {
	width:25px;
	height:15px;
	background-position:-350px -30px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-denmark {
	width:25px;
	height:15px;
	background-position:-383px -30px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-egypt {
	width:25px;
	height:15px;
	background-position:-285px -55px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-finland {
	width:25px;
	height:15px;
	background-position:-318px -55px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-france {
	width:25px;
	height:15px;
	background-position:-351px -55px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-germany {
	width:25px;
	height:15px;
	background-position:-384px -55px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-india {
	width:25px;
	height:15px;
	background-position:-318px -79px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-indonesia {
	width:25px;
	height:15px;
	background-position:-384px -79px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-iran {
	width:25px;
	height:15px;
	background-position:-285px -104px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-ireland {
	width:25px;
	height:15px;
	background-position:-318px -104px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-italy {
	width:25px;
	height:15px;
	background-position:-350px -104px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-japan {
	width:25px;
	height:15px;
	background-position:-384px -104px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-mexico {
	width:25px;
	height:15px;
	background-position:-285px -129px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-netherlands {
	width:25px;
	height:15px;
	background-position:-285px -5px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-norway {
	width:25px;
	height:15px;
	background-position:-318px -129px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-pakistan {
	width:25px;
	height:15px;
	background-position:-349px -129px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-philippines {
	width:25px;
	height:15px;
	background-position:-318px -5px;
	text-indent:32px;
	font-size:85%;
	margin-right:20px
}
.flair-poland {
	width:25px;
	height:15px;
	background-position:-382px -129px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-russia {
	width:25px;
	height:15px;
	background-position:-417px -5px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-southAfrica {
	width:25px;
	height:15px;
	background-position:-417px -55px;
	text-indent:32px;
	font-size:85%;
	margin-right:20px
}
.flair-southKorea {
	width:25px;
	height:15px;
	background-position:-413px -30px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-spain {
	width:25px;
	height:15px;
	background-position:-417px -80px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-sweden {
	width:25px;
	height:15px;
	background-position:-285px -80px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-turkey {
	width:25px;
	height:15px;
	background-position:-417px -105px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-uk {
	width:25px;
	height:15px;
	background-position:-351px -80px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-ukraine {
	width:25px;
	height:15px;
	background-position:-415px -130px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-vietnam {
	width:25px;
	height:15px;
	background-position:-285px -155px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-EU {
	width:25px;
	height:15px;
	background-position:-450px -5px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-argentina {
	width:25px;
	height:15px;
	background-position:-450px -51px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-hungary {
	width:25px;
	height:15px;
	background-position:-450px -98px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-serbia {
	width:25px;
	height:15px;
	background-position:-450px -120px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-slovakia {
	width:25px;
	height:15px;
	background-position:-484px -5px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-bolivia {
	width:25px;
	height:15px;
	background-position:-483px -51px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-iraq {
	width:25px;
	height:15px;
	background-position:-483px -98px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-MURICA {
	width:25px;
	height:15px;
	background-position:-517px -5px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-vanuatu {
	width:25px;
	height:15px;
	background-position:-517px -27px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-croatia {
	width:25px;
	height:15px;
	background-position:-515px -51px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-greece {
	width:25px;
	height:15px;
	background-position:-515px -73px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-israel {
	width:25px;
	height:15px;
	background-position:-516px -98px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-jordan {
	width:25px;
	height:15px;
	background-position:-550px -5px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-libya {
	width:25px;
	height:15px;
	background-position:-550px -27px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-newzealand {
	width:25px;
	height:15px;
	background-position:-550px -49px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-romania {
	width:25px;
	height:15px;
	background-position:-548px -71px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-scotland {
	width:25px;
	height:15px;
	background-position:-548px -96px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-singapore {
	width:25px;
	height:15px;
	background-position:-547px -120px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-slovenia {
	width:25px;
	height:15px;
	background-position:-583px -5px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-venezuela {
	width:25px;
	height:15px;
	background-position:-583px -27px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flair-switzerland {
	width:16px;
	height:16px;
	background-position:-616px -5px;
	text-indent:23px;
	font-size:85%;
	margin-right:20px
}
.flairselector {
	position:fixed;
	top:10px!important;
	left:50%!important;
	margin-left:-225px;
	padding:32px!important;
	max-height:500px;
	width:540px!important;
	z-index:9999999;
	border:none;
	border-radius:2px;
	box-shadow:0 0 16px rgba(0,0,0,0.64)
}
.flairselector.drop-choices.active {
	border:1px solid #e2e2e2
}
.flairselector h2 {
	margin-bottom:4px;
	background-color:transparent;
	color:#3F7CCB;
	text-align:left;
	text-transform:capitalize;
	font-weight:400;
	font-size:18px
}
.flairoptionpane {
	max-height:300px;
	text-align:left
}
.flairselector .flairoptionpane ul li {
	padding:0!important
}
.flair {
	margin-right:20px
}
body:lang(np):not(.subscriber) .arrow {
	visibility:hidden!important
}
body:lang(np):not(.subscriber) .usertext-edit,body:lang(np):not(.subscriber) .sidebox.submit,body:lang(np):not(.subscriber) .commentingAs,body:lang(np):not(.subscriber) .markdownEditor,body:lang(np):not(.subscriber) a[onclick*="return reply(this)"],body:lang(np):not(.subscriber) .subButtons,body:lang(np):not(.subscriber) .helplink,body:lang(np):not(.subscriber) .titlebox .fancy-toggle-button.toggle>.option.add {
	display:none!important
}
body:lang(np):not(.subscriber) #siteTable:before {
	content:"You have been linked to a read-only version of this subreddit. Please respect the community by not voting.";
	display:block;
	max-width:800px;
	background-color:#F6E69F;
	padding:5px 10px;
	margin:5px 305px 5px 0px;
	border:1px solid orange;
	font-size:small
}
body:lang(np):not(.subscriber) .entry.likes:not(.reddit-entry):before,body:lang(np):not(.subscriber) .entry.dislikes:not(.reddit-entry):before {
	content:"Please do not vote or comment when you come from external subreddits.";
	color:red;
	font-size:large;
	font-weight:bold
}
body.wiki-page:lang(np):not(.subscriber) span.pageactions a.wikiaction-edit:not(.wikiaction-current),body.wiki-page:lang(np):not(.subscriber) div.wiki-page-content form#editform label[for="reason"],body.wiki-page:lang(np):not(.subscriber) div.wiki-page-content form#editform input#wiki_revision_reason,body.wiki-page:lang(np):not(.subscriber) div.wiki-page-content form#editform input[type="submit"] {
	display:none!important
}
.author[href$="/yiannopoulos_m"] ~ .flair {
	color:pink
}
.author[href$="/annhcoulter"] ~ .flair {
	color:red
}