/*
	Original The_Donald CSS
	Copyright 2015-2020, The_Donald mods
*/
.subscribers .word {
	display:none
}
.subscribers .number::after {
	content:" subscribers"
}
.users-online .word {
	display:none
}
.users-online .number::after {
	content:" visitors here now."
}
#header {
	background:url("/themes/res/cK5tO8DYmzgSxhUuVGxKqez6EZe_37KOs4UzPjxI274.jpg");
	height:200px
}
#header-bottom-left {
	position:absolute;
	bottom:0
}
#header {
	border-bottom:1px solid #021f4f;
	box-shadow:0 0 0 rgb(97,102,131);
	height:175px
}
.pagename a {
	display:inline-block;
	height:23px;
	width:280px;
	vertical-align:bottom
}
#header-bottom-right {
	position:center;
	bottom:0
}
#header .tabmenu a {
	border-top-right-radius:15px;
	border-style:none;
	background-color:#021f4f;
	padding:3px 6px 0
}
#header .tabmenu a:hover {
	background-color:#021f4f
}
#header {
	height:230px
}
.pagename a {
	color:#ffffff
}
.side {
	width:300px;
	margin:2px;
	border:1px solid rgb(167,167,167);
	border-right:2px;
	border-top:1px
}
.submit-page .side {
	padding-top:2px
}
.side .spacer {
	margin:30
}
#header-bottom-right {
	background-color:#021f4f
}
#header-bottom-right a {
	color:#fff
}
#header-bottom-left .tabmenu li a {
	background-color:#021f4f;
	color:#fff
}
.link .thumbnail img {
	height:100%;
	overflow:hidden;
	left:-5px;
	position:relative
}
.side {
	width:300px;
	margin:0px;
	border:1px solid rgb(167,167,167);
	border-right:0px;
	border-top:0px
}
.side {
	padding-top:400px;
	background:url("/themes/res/UhqgqJUV9s1oxANIASjaX-WhoCow-5OlPJULbdwgqFg.jpg") top 10px center no-repeat
}
.thing.stickied a.title,.thing.stickied a.title:visited,.thing.stickied a.title.visited {
	font-weight:bold;
	padding:0 8px 0 8px;
	background-image:-webkit-linear-gradient(top,#ffff00,#eaeaea);
	background-image:-moz-linear-gradient(top,#000000,#eaeaea);
	background-image:-ms-linear-gradient(top,#000000,#eaeaea);
	background-image:-o-linear-gradient(top,#000000,#eaeaea);
	color:#000000
}