/*
	Original The_Donald CSS
	Copyright 2015-2020, The_Donald mods
*/
#header{background-color:#283681}
.titlebox .word{display:none}
.subscribers .number:after{content:" Americans"}
.users-online .number:after{content:" Americans here right now!"}
div.side div.spacer:nth-of-type(1){
padding:250px 0 0!important;
background:url("/themes/res/dmVBAJOQ_R7ybHl61fhdTdBPkobZDuazHFPy_mbBMDE.png") top center no-repeat;
margin-top:10px}div.side div.spacer:nth-of-type(1):before{display:block;color:#ff0000;margin-top:15px;width:300px;content:"www.donaldjtrump.com";
padding:0px 0 10px;
text-align:center;
font-family:Georgia,serif;
font-size:18pt}
#header-bottom-left{height:200px;padding-top:20px;
background:url("/themes/res/PdcdKdXcPYQwx_u3GlezSxvFVjU_0L9sjDOfOnimeDo.png") no-repeat}
.titlebox .bottom{font-size:0px;color:#FFF}
.titlebox .bottom:before{font-size:10px;color:gray;content:" "}
.titlebox .bottom .age{font-size:10px;color:gray}
.tabmenu{position:absolute;left:80px;bottom:0px}
.pagename a{font-size:0;content:""}
.pagename a:after{Color:#eeeeee;content:"THE DONALD";font-size:LARGE}